{% from "govuk/components/table/macro.njk" import govukTable %}

{% macro activePunishmentsTable(dataArray) %}
  {% set rows = [] %}
  {% for data in dataArray %}
    {% set typeColumnValue = data.punishmentType | convertPunishmentType(data.stoppagePercentage, data.privilegeType, data.otherPrivilege) %}

    {% set rows = (rows.push(
      [
          {
            html: typeColumnValue,
            classes: "columnWidth30"
          },
          {
            text: data.startDate | formatTimestampTo('D MMM YYYY') if data.startDate else '-',
            classes: "columnWidth12"
          },
          {
            text: data.lastDay | formatTimestampTo('D MMM YYYY') if data.lastDay else '-',
            classes: "columnWidth12"
          },
          {
            text: data.duration if data.duration > 0 else '-',
            classes: "columnWidth15"
          },
          {
            text: '£' + data.amount if data.amount else '-',
            classes: "columnWidth12"
          },
          {
            text: data.activatedFrom if data.activatedFrom else '-',
            classes: "columnWidth17"
          }
      ]
    ), rows) %}
  {% endfor %}

  {% if rows.length %}
    {{ govukTable({
        head: [
          {
            text: "Type"
          },
          {
            text: "Start date"
          },
          {
            text: "Last day"
          },
          {
            text: "Number of days"
          },
          {
            text: "Comments"
          },
          {
            text: "Activated from report"
          }
        ],
        rows: rows,
        attributes: {"data-qa": "active-punishments-table"}
      }) }}
  {% else %}
    <p class="govuk-body">There are currently no active punishments for this prisoner. </p>
  {% endif %}
{% endmacro %}