{% macro adjudicationHistoryForCurrentSentenceDetails(adjudicationHistoryForCurrentSentenceData) %}
	<div class='govuk-!-margin-left-8 govuk-!-margin-right-8'>
		<hr class='govuk-section-break govuk-section-break--m govuk-section-break--visible'>

		<div class='adjudication-pdf-section-prisoner govuk-!-width-full'>
			<div class='adjudication-pdf-section-prisoner__item'>
				<p class='govuk-!-margin-bottom-0 govuk-!-font-weight-bold'>Name</p>
				<p class='govuk-!-margin-bottom-0'
                   data-qa='notice-of-being-placed-on-report-prisoner-display-name'>
					{{ adjudicationHistoryForCurrentSentenceData.prisonerFriendlyName }}
				</p>
			</div>
			<div class='adjudication-pdf-section-prisoner__item'>
				<p class='govuk-!-margin-bottom-0 govuk-!-font-weight-bold'>Prison number</p>
				<p class='govuk-!-margin-bottom-0'
                   data-qa='notice-of-being-placed-on-report-prisoner-number'>
					{{ adjudicationHistoryForCurrentSentenceData.prisonerNumber }}
				</p>
			</div>
			<div class='adjudication-pdf-section-prisoner__item'>
				<p class='govuk-!-margin-bottom-0 govuk-!-font-weight-bold'>Location</p>
				<p class='govuk-!-margin-bottom-0'
                   data-qa='notice-of-being-placed-on-report-prisoner-location-description'>
					{{ adjudicationHistoryForCurrentSentenceData.prisonerLocationDescription }}
				</p>
			</div>
		</div>

		<hr class='govuk-section-break govuk-section-break--m govuk-section-break--visible'>

		<h2>Date of alleged offence</h2>
		<p class='govuk-!-margin-bottom-0'
           data-qa='notice-of-being-placed-on-report-incident-date'>
			{{ adjudicationHistoryForCurrentSentenceData.discoveryDate }}
		</p>

		<h2>Details of prisoner</h2>
		<div class='adjudication-pdf-section-sentence-details'>
			<div class='adjudication-pdf-section-sentence-details__item'>
				<p class='govuk-!-margin-bottom-1'>Sentence</p>
				<input type='text' class='adjudication-pdf-input adjudication-pdf-input-text-box-half-width'>
			</div>
		</div>

		<dl class="govuk-summary-list govuk-!-margin-top-5">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key prisonerDetails-key">
					<p class="govuk-body">Sentenced on: </p>
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">{{ adjudicationHistoryForCurrentSentenceData.sentenceStartDate | formatTimestampTo('D MMMM YYYY') or 'Not known' }}</p>
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key prisonerDetails-key">
					<p class="govuk-body">Automatic release date (ARD): </p>
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">{{ adjudicationHistoryForCurrentSentenceData.autoReleaseDate | formatTimestampTo('D MMMM YYYY') or 'Not known' }}</p>
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key prisonerDetails-key">
					<p class="govuk-body">Conditional release date (CRD): </p>
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">{{ adjudicationHistoryForCurrentSentenceData.conditionalReleaseDate | formatTimestampTo('D MMMM YYYY') or 'Not known' }}</p>
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key prisonerDetails-key">
					<p class="govuk-body">Non parole date (NPD): </p>
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">{{ adjudicationHistoryForCurrentSentenceData.nonParoleDate | formatTimestampTo('D MMMM YYYY') or 'Not known' }}</p>
				</dd>
			</div>
		</dl>

		<div>
			<p class='govuk-!-margin-bottom-1'>Remanded on (DD/MM/YYYY)</p>
			<input type='text' class='adjudication-pdf-input adjudication-pdf-input__square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__square'>
			<span>
				<strong> / </strong>
			</span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__square'>
			<span>
				<strong> / </strong>
			</span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__square'>
		</div>

		<div class='break-inside-avoid govuk-!-padding-top-5'>
		<div class="govuk-!-margin-top-5 restricted-width">
			<p class="govuk-body">{{ adjudicationHistoryForCurrentSentenceData.prisonerFriendlyName }} <span class="govuk-!-font-weight-bold">{% if adjudicationHistoryForCurrentSentenceData.acctAlertPresent %}does{% else %}does not{% endif %}</span> have an open Assessment, Care in Custody and Teamwork (ACCT), or an ACCT that has been closed in the last 3 months.</p>
		</div>
		<div class="govuk-!-margin-top-5">
			<p class="govuk-body">{{ adjudicationHistoryForCurrentSentenceData.prisonerFriendlyName }} <span class="govuk-!-font-weight-bold">{% if adjudicationHistoryForCurrentSentenceData.csipAlertPresent %}does{% else %}does not{% endif %}</span> have a CSIP (Challenge Support Intervention Plan) alert.</p>
		</div>
		</div>

		<div class='break-inside-avoid govuk-!-padding-top-5'>
			<h2>Incentive level</h2>
			<p class="govuk-body">Incentive level: {{ adjudicationHistoryForCurrentSentenceData.currentIncentiveLevel }}</p>
			<p class="govuk-body">Date prisoner was put on that level: {{ adjudicationHistoryForCurrentSentenceData.currentIncentiveLevelDateTime | formatTimestampTo('D MMMM YYYY') }}</p>
			<p class="govuk-body">Date of next incentive level review: {{ adjudicationHistoryForCurrentSentenceData.incentiveNextReviewDate | formatTimestampTo('D MMMM YYYY') }}</p>
		</div>

		<div class="break-inside-avoid">
			<h2>Employment and pay</h2>
			<div class='adjudication-pdf-section-sentence-details'>
				<div class='adjudication-pdf-section-sentence-details__item'>
					<p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'>Employed in/as</p>
					<input type='text' class='adjudication-pdf-input adjudication-pdf-input-text-box-third-width'>
				</div>
				<div class='adjudication-pdf-section-sentence-details__item'>
					<p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'>Weekly pay of</p>
					<input type='text' class='adjudication-pdf-input adjudication-pdf-input-text-box-third-width'>
				</div>
			</div>
			<div class='adjudication-pdf-section-sentence-details'>
				<div class='adjudication-pdf-section-sentence-details__item'>
					<p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'>Spends</p>
					<input type='text' class='adjudication-pdf-input adjudication-pdf-input-text-box-third-width'>
				</div>
				<div class='adjudication-pdf-section-sentence-details__item'>
					<p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'>Private cash</p>
					<input type='text' class='adjudication-pdf-input adjudication-pdf-input-text-box-third-width'>
				</div>
			</div>
			<div class='adjudication-pdf-section-sentence-details'>
				<div class='adjudication-pdf-section-sentence-details__item'>
					<p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'>Savings account</p>
					<input type='text' class='adjudication-pdf-input adjudication-pdf-input-text-box-third-width'>
				</div>
			</div>
		</div>
	</div>
{% endmacro %}