{% from "../macros/datePicker.njk" import datePicker %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% macro adjudicationFilter(filter, checkboxes, errors, clearUrl, csrfToken) %}
    <form class="horizontal-form-container" method="POST" novalidate="novalidate" data-qa="completed-reports-form">
        <h2 class="govuk-heading-m">Date of discovery</h2>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        {% set fromDateError = errors | findErrors(['fromDate[date]']) %}
        <div {% if fromDateError %}class="govuk-form-group--error"{% endif %} data-qa='filter-bar'>
            {% if fromDateError %}
            <p id="fromDate[date]-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span>{{ fromDateError.text }}
            </p>
            {% endif %}
            <div class="displayFlex" id="adjudicationFilter">
                {{ datePicker({
                    id: 'fromDate[date]',
                    label: 'From',
                    name: 'fromDate[date]',
                    date: filter.fromDate,
                    attributes: {'data-disable-future-date':'true', 'data-qa': "from-date" },
                    classes: 'date-of-discovery-input' + (' govuk-input--error' if fromDateError else '')
                }) }}


                {{ datePicker({
                    id: 'toDate[date]',
                    label: 'To',
                    labelClasses: 'govuk-!-margin-left-3',
                    name: 'toDate[date]',
                    date: filter.toDate,
                    attributes: {'data-disable-future-date':'true', 'data-qa': "to-date" },
                    classes: 'govuk-!-margin-left-3 date-of-discovery-input'
                }) }}

              <div id="statusFilterBox">
                {{ govukCheckboxes({
                  name: "status",
                  classes: "govuk-checkboxes--small statusFilterCheckboxes",
                  fieldset: {
                    legend: {
                      text: "Status",
                      isPageHeading: false,
                      classes: "govuk-fieldset__legend--m"
                    }
                  },
                  items: checkboxes
                }) }}
              </div>
            </div>
            <div class="horizontal-form govuk-!-margin-bottom-3">
                {{ govukButton({
                    text: "Apply",
                    type: "submit",
                    classes: "govuk-button--submit",
                    attributes: { "data-qa": "filter-apply" }
                }) }}
                <p class="govuk-body filter-clear-link"><a class='govuk-link' href='{{ clearUrl }}' data-qa='clear-filter'>Clear</a></p>
            </div>
        </div>
    </form>
{% endmacro %}