{% macro adjudicationResultReportDetailsBlank(adjudicationResultReportDataBlank) %}
    <div class='adjudication-pdf-section-sentence-details-three-items'>
        <div class='adjudication-pdf-section-sentence-details-three-items__item'>
            <p class='govuk-!-margin-bottom-1'>Is the punishment a caution? If yes, you do not have to fill in any punishments.</p>
        </div>
        <div class='adjudication-pdf-section-sentence-details-three-items__item'>
            <input type='text' class='adjudication-pdf-input adjudication-pdf-input__small-square'> <span> Yes</span>
        </div>
        <div class='adjudication-pdf-section-sentence-details-three-items__item'>
            <input type='text' class='adjudication-pdf-input adjudication-pdf-input__small-square'> <span> No</span>
        </div>
    </div>

    <div class='adjudication-pdf-section-punishment-details'>
        <div class='adjudication-pdf-section-punishment-details__item'></div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'><strong>Max number of days possible</strong></p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'><strong>Number of days given</strong></p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'><strong>Last day of punishment (DD/MM/YYYY)</strong></p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'><strong>Suspended until (DD/MM/YYYY) - max 6 months</strong></p>
        </div>
    </div>

    <div class="adjudication-pdf-section-vertical-break"></div>

    <div class='adjudication-pdf-section-punishment-details'>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1'><strong>Loss of privileges</strong></p>
        </div>
    </div>

    <div class='adjudication-pdf-section-punishment-details'>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'>Canteen</p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3 align-right'>{{ adjudicationResultReportDataBlank.canteenDaysMax }}</p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'>_________</p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <input type='text' class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <input type='text' class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'>
        </div>
    </div>

    <div class='adjudication-pdf-section-punishment-details'>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'>Facilities to purchase</p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3 align-right'>{{ adjudicationResultReportDataBlank.facilitiesDaysMax }}</p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'>_________</p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <input type='text' class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <input type='text' class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'>
        </div>
    </div>

    <div class='adjudication-pdf-section-punishment-details'>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'>Use of private cash</p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3 align-right'>{{ adjudicationResultReportDataBlank.privateCashDaysMax }}</p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'>_________</p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <input type='text' class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <input type='text' class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'>
        </div>
    </div>

    <div class='adjudication-pdf-section-punishment-details'>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'>TV</p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3 align-right'>{{ adjudicationResultReportDataBlank.tvDaysMax }}</p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'>_________</p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <input type='text' class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <input type='text' class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'>
        </div>
    </div>

    <div class='adjudication-pdf-section-punishment-details'>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'>Association</p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3 align-right'>{{ adjudicationResultReportDataBlank.associationDaysMax }}</p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'>_________</p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <input type='text' class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <input type='text' class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'>
        </div>
    </div>

    <div class='adjudication-pdf-section-punishment-details-checkboxes'>
        <div class='adjudication-pdf-section-punishment-details-checkboxes__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'>Specify any other privileges withdrawn</p>
        </div>
    </div>

    <div class='adjudication-pdf-section-punishment-details'>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'>___________________</p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3 align-right'>{{ adjudicationResultReportDataBlank.anyPrivilegeDaysMax }}</p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'>_________</p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <input type='text' class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <input type='text' class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'>
        </div>
    </div>

    <div class='adjudication-pdf-section-punishment-details'>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'>___________________</p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3 align-right'>{{ adjudicationResultReportDataBlank.anyPrivilegeDaysMax }}</p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'>_________</p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <input type='text' class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <input type='text' class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'>
        </div>
    </div>

    <div class='adjudication-pdf-section-punishment-details'>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'><strong>Stoppage of earnings</strong></p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3 align-right'>{{ adjudicationResultReportDataBlank.stoppageOfEarningsDaysMax }}</p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'>_________</p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <input type='text' class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <input type='text' class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'>
        </div>
    </div>

    <div class='adjudication-pdf-section-punishment-details'>
        <div class='adjudication-pdf-section-punishment-details__item'></div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3 align-right'>Percentage</p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'>________%</p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'></div>
        <div class='adjudication-pdf-section-punishment-details__item'></div>
    </div>

    <div class='adjudication-pdf-section-punishment-details'>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'><strong>Cellular confinement</strong></p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3 align-right'>{{ adjudicationResultReportDataBlank.cellularConfinementDaysMax }}</p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'>_________</p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <input type='text' class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <input type='text' class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'>
        </div>
    </div>

{% if adjudicationResultReportDataBlank.isYOI %}
    <div class='adjudication-pdf-section-punishment-details'>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'><strong>Removal from activity</strong></p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3 align-right'>21</p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'>_________</p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <input type='text' class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <input type='text' class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'>
        </div>
    </div>

    <div class='adjudication-pdf-section-punishment-details'>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'><strong>Extra work</strong></p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3 align-right'>21</p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'>_________</p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <input type='text' class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <input type='text' class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'>
        </div>
    </div>
{% endif %}

{% if not adjudicationResultReportDataBlank.isYOI %}
    <div class='adjudication-pdf-section-punishment-details'>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'><strong>Exclusion from associated work</strong></p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3 align-right'>21</p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'>_________</p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <input type='text' class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <input type='text' class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'>
        </div>
    </div>
{% endif %}

    <div class='adjudication-pdf-section-punishment-details'>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'><strong>Removal from wing/unit</strong></p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3 align-right'>{{ adjudicationResultReportDataBlank.removalDaysMax }}</p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'>_________</p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <input type='text' class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <input type='text' class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'>
        </div>
    </div>

    <div class='adjudication-pdf-section-punishment-details'>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'><strong>Non-punitive recovery of money for damages</strong></p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'></div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'>£________</p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'></div>
        <div class='adjudication-pdf-section-punishment-details__item'></div>
    </div>

    <div class='adjudication-pdf-section-punishment-details'>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'><strong>Days added to time in custody</strong></p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3 align-right'>{{ adjudicationResultReportDataBlank.daysAddedDaysMax }}</p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'>_________</p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'></div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <input type='text' class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'>
        </div>
    </div>

    <div class='adjudication-pdf-section-punishment-details'>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'><strong>Prospective additional days</strong></p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3 align-right'>{{ adjudicationResultReportDataBlank.prospectiveDaysMax }}</p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'>_________</p>
        </div>
        <div class='adjudication-pdf-section-punishment-details__item'></div>
        <div class='adjudication-pdf-section-punishment-details__item'>
            <input type='text' class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__medium-square'>
        </div>
    </div>

    <div class='adjudication-pdf-section-sentence-details'>
        <div class='adjudication-pdf-section-sentence-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'>If this punishment is <strong>consecutive</strong> to<br/> others, list charge numbers</p>
            <input type='text' class='adjudication-pdf-input adjudication-pdf-input-text-box-five-lines-high-third-width'>
        </div>
        <div class='adjudication-pdf-section-sentence-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'>
                If this punishment is <strong>concurrent</strong> to<br/>
                others, list charge numbers
            </p>
            <input type='text' class='adjudication-pdf-input adjudication-pdf-input-text-box-five-lines-high-third-width'>
        </div>
    </div>

    <div class='break-inside-avoid'>
        <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'>
            Charge numbers of any existing suspended punishments, and any <strong>actions</strong> taken. This could be ‘activated the<br/>
            punishment or ‘no action’, for example.
        </p>
        <input type='text' class='adjudication-pdf-input adjudication-pdf-input-text-box-five-lines-high-full-width'>
    </div>

    <div class='break-inside-avoid'>
        <div class='adjudication-pdf-section-punishment-details-checkboxes'>
            <div class='adjudication-pdf-section-punishment-details-checkboxes__item'>
                <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'>
                    It’s important that a record of the finding, punishment and any compensation requirement is<br/>
                    recorded on Digital Prison Services (DPS) and that this paperwork is retained in line with data<br/>
                    retention guidelines. Have you directed a member of staff to do this?
                </p>
            </div>
            <div class='adjudication-pdf-section-punishment-details-checkboxes__item govuk-!-margin-top-3'>
                <input type='text' class='adjudication-pdf-input adjudication-pdf-input__small-square'> <span> Yes</span>
                <input type='text' class='adjudication-pdf-input adjudication-pdf-input__small-square'> <span> No</span>
            </div>
        </div>
    </div>

    <div class='break-inside-avoid'>
        <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'>Adjudicator’s reasons for deciding punishment, where it’s outside published guidelines</p>
        <input type='text' class='adjudication-pdf-input adjudication-pdf-input-text-box-five-lines-high-full-width'>
    </div>

    <div class='adjudication-pdf-section-signature-details'>
        <div class='adjudication-pdf-section-signature-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'>Signature of adjudicator</p>
            <input type='text' class='adjudication-pdf-input adjudication-pdf-input-text-box-half-width'>
        </div>
        <div class='adjudication-pdf-section-signature-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'>Name (BLOCK CAPITALS)</p>
            <input type='text' class='adjudication-pdf-input adjudication-pdf-input-text-box-half-width'>
        </div>
    </div>
    <div class='adjudication-pdf-section-signature-details'>
        <div class='adjudication-pdf-section-signature-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-1'>Date (DD/MM/YYYY)</p>
            <input type='text' class='adjudication-pdf-input adjudication-pdf-input__square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__square'>
        </div>
    </div>

    <hr class='govuk-section-break govuk-section-break--m govuk-section-break--visible'>

    <div class='break-inside-avoid'>
        <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'>
            A record of the finding, punishment and any compensation requirement has been recorded<br/>
            on P-NOMIS and the prisoner’s core record, and this paperwork is retained in line with data<br/>
            retention guidelines.
        </p>
    </div>

    <div class='adjudication-pdf-section-signature-details'>
        <div class='adjudication-pdf-section-signature-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'>Signature of officer</p>
            <input type='text' class='adjudication-pdf-input adjudication-pdf-input-text-box-half-width'>
        </div>
        <div class='adjudication-pdf-section-signature-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-3'>Name (BLOCK CAPITALS)</p>
            <input type='text' class='adjudication-pdf-input adjudication-pdf-input-text-box-half-width'>
        </div>
    </div>
    <div class='adjudication-pdf-section-signature-details'>
        <div class='adjudication-pdf-section-signature-details__item'>
            <p class='govuk-!-margin-bottom-1 govuk-!-margin-top-1'>Date (DD/MM/YYYY)</p>
            <input type='text' class='adjudication-pdf-input adjudication-pdf-input__square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__square'><span><strong> / </strong></span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__square'>
        </div>
    </div>

{% endmacro %}