{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{% from "../partials/prisonerPlaybackSection.njk" import prisonerPlaybackSection %}

{% macro adjudicationTabHeader(reportNo, reviewStatus, prisoner, activeTab, reportHref, hearingsHref, showHearings = true) %}
  {% set items = [{
      text: 'Report',
      href: reportHref,
      attributes: { 'data-qa': 'reportTab' },
      active: activeTab === 'report'
    } , {
      text: 'Hearings',
      href: hearingsHref,
      attributes: { 'data-qa': 'hearingsTab' },
      active: activeTab === 'hearings'
    }] if showHearings else [{
      text: 'Report',
      href: reportHref,
      attributes: { 'data-qa': 'reportTab' },
      active: activeTab === 'report'
    }] %}

  <h1 class="govuk-heading-l">Adjudication for report {{ reportNo }}</h1>
  <h2 class="govuk-heading-m" data-qa="review-status">Status: {{ reviewStatus }}</h2>
  <div class="prisonerPlaybackSection">
    {{ prisonerPlaybackSection(prisoner.displayName, prisoner.prisonerNumber, prisoner.currentLocation) }}
  </div>
  <div class="govuk-!-margin-top-5">
    {{ mojSubNavigation({
      label: 'Sub navigation',
      items: items,
      classes: "govuk-!-margin-bottom-3"
    }) }}
  </div>
{% endmacro %}