{% from "./incidentDetailsSummaryList.njk" import incidentDetailsSummaryList %}
{% from "./offenceQAndASummaryList.njk" import offenceQAndASummaryList %}

{% macro adjudicationSummary(detailsURL, statementURL, incidentData, offences, statementEditable, offencesURL) %}
  <div class="flex-container adjudicationsSummary-heading govuk-!-margin-top-5">
   <h2 class="govuk-heading-m">Incident details</h2>
   <p class="govuk-body"><a href={{ detailsURL }} class="govuk-link" data-qa="adjudicationsSummary-details-changeLink">Change</a></p>
  </div>
  <div class="adjudicationsSummary-incidentDetails">
   {{ incidentDetailsSummaryList(incidentData.incidentDetails, 'Not entered', { "data-qa": "details-summary-table" }) }}
  </div>

    <div class="flex-container adjudicationsSummary-heading govuk-!-margin-top-9">
      <h2 class="govuk-heading-m">Offence details</h2>
      <p class="govuk-body"><a href={{ offencesURL }} class="govuk-link" data-qa="adjudicationsSummary-offence-changeLink">Change</a></p>
    </div>
      <div class="adjudicationsSummary-offenceDetails">
        {% for offence in offences %}
          {{ offenceQAndASummaryList(offence, { "data-qa": "offence-summary-table" }) }}
        {% endfor %}
      </div>


  <div class="flex-container adjudicationsSummary-heading govuk-!-margin-top-9">
   <h2 class="govuk-heading-m">Incident statement</h2>
   {% if statementEditable %}
    <p class="govuk-body"><a href={{ statementURL }} class="govuk-link" data-qa="adjudicationsSummary-statement-changeLink">Change</a></p>
   {% endif %}
  </div>
  <div class="adjudicationsSummary-incidentStatement" data-qa="adjudicationsSummary-incidentStatement">
   {{ incidentData.statement | formatStatement('"govuk-body"') | safe }}
  </div>

 <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

{% endmacro %}