{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{% from "../partials/prisonerPlaybackSection.njk" import prisonerPlaybackSection %}

{% macro adjudicationTabHeaderAll(activeCaseloadName, activeTab, viewScheduledHearingsHref, viewAllCompletedReportsHref, viewTransferredReportsHref, transferReportCount) %}
  {% set activeCaseloadNameText %}View reports from {{activeCaseloadName}}{% endset %}
  {% set transferredReportsText %}View reports from transfers in ({% if tranferReportCount %}{{transferReportCount}}{% else %}0{% endif %}){% endset %}
  {% set items = [{
      text: 'View all hearings',
      href: viewScheduledHearingsHref,
      attributes: { 'data-qa': 'viewScheduledHearingsTab' },
      active: activeTab === 'viewScheduledHearings'
    } , {
      html: activeCaseloadNameText,
      href: viewAllCompletedReportsHref,
      attributes: { 'data-qa': 'viewAllCompletedReportsTab' },
      active: activeTab === 'viewCompletedReports'
    }, {
      text: transferredReportsText,
      href: viewTransferredReportsHref,
      attributes: { 'data-qa': 'viewTransferredReportsTab' },
      active: activeTab === 'viewTransferredReports'
    }] 
  %}

  <div class="govuk-!-margin-top-5">
    {{ mojSubNavigation({
      items: items,
      classes: "govuk-!-margin-bottom-5"
    }) }}
  </div>
{% endmacro %}