{% macro adjudicationHistoryForCurrentSentenceSuspendedPunishments(adjudicationHistoryForCurrentSentenceData) %}
  <div class='govuk-!-margin-left-8 govuk-!-margin-right-8'>
    <div class="break-inside-avoid">
    <h2>Suspended punishments</h2>
    {% if adjudicationHistoryForCurrentSentenceData.chargesWithSuspendedPunishments | length %}
      <p class="govuk-body">Charges with current suspended punishments: {{ adjudicationHistoryForCurrentSentenceData.chargesWithSuspendedPunishments | length }}</p>

      {% for charge in adjudicationHistoryForCurrentSentenceData.chargesWithSuspendedPunishments %}
        <div class="break-inside-avoid">
          <h3 class="govuk-!-margin-top-8">Suspended punishment for charge {{ charge.chargeNumber }}</h3>
          <p class="govuk-body">Date suspended punishment given: {{ charge.dateOfDiscovery | formatTimestampTo('D MMMM YYYY') }}.</p>
          <p class="govuk-body">Offence: {{ charge.offenceDetails.offenceRule.paragraphDescription }}.</p>
          <p class="govuk-body">Punishment given:</p>
          <table>
            <tr>
              <th>Punishment</th>
              <th>Suspended to</th>
            </tr>
            {% for punishment in charge.suspendedPunishments %}
              {% set punishmentLength = punishment.schedule.days + ' days' if punishment.schedule.days > 1 else 
                punishment.schedule.days + ' day' %}
              <tr>
                <td>{{ punishment.type | convertPunishmentForDISForm(punishment.stoppagePercentage, punishment.privilegeType, punishment.otherPrivilege) }}: {{ punishmentLength }}</td>
                <td>{{ punishment.schedule.suspendedUntil | formatTimestampTo('D MMMM YYYY') }}</td>
              </tr>
            {% endfor %}
          </table>
        {% endfor %}
      </div>
    {% else %}
      <p class="govuk-body">{{ adjudicationHistoryForCurrentSentenceData.prisonerFriendlyName }} has no suspended punishments.</p>
    {% endif %}
    </div>
  </div>
{% endmacro %}