{% from "govuk/components/table/macro.njk" import govukTable %}

{% macro awardRehabilitativeActivitiesTable(rehabActivities) %}
  {% set rows = [] %}
  {% for data in rehabActivities %}

   {% set changeColumnValue = '<p class="govuk-body govuk-!-margin-bottom-1"><a href="'+data.changeUrl+'" data-qa="edit-activity" class="govuk-link">Change <span class="govuk-visually-hidden"></span></a></p>' %}
   {% set removeColumnValue = '<p class="govuk-body govuk-!-margin-bottom-1"><a href="'+data.removeUrl+'" data-qa="delete-activity" class="govuk-link">Remove <span class="govuk-visually-hidden"></span></a></p>' %}

  
    {% set rows = (rows.push(
      [
          {
            html: data.type | convertPunishmentType(data.stoppagePercentage, data.privilegeType, data.otherPrivilege),
            classes: "columnWidth20"
          },
          {
            text: data.details,
            classes: "columnWidth30"
          },
          {
            text: data.endDate | endDateSessionNumberText(data.totalSessions),
            classes: "columnWidth20"
          },
          {
            text:  data.monitor | initialiseName,
            classes: "columnWidth17"
          },
          {
            html: changeColumnValue if data.canChangeOrRemove  else '',
            classes: ""
          },
          {
            html: removeColumnValue if data.canChangeOrRemove  else '',
            classes: ""
          }
      ]
    ), rows) %}
  {% endfor %}

        {{ govukTable({
        head: [
          {
            html: "Suspended <br>punishment"
          },
          {
            html: "Activity <br>details"
          },
          {
            html: "End date and <br>number of sessions"
          },
          {
            text: "Who is monitoring the prisoner"
          },
          {
            text: null
          },
          {
            text: null
          }
        ],
        rows: rows,
        attributes: {"data-qa": "rehabilitative-activities-table"}
      }) }}
{% endmacro %}