{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro consecutivePunishmentsTable(punishmentsArray) %}
  {% set rows = [] %}
  {% for punishment in punishmentsArray %}
    {% set sanction = punishment.punishment %}
    {% set selectButton = '<button type="submit" name="select"  value="consecutive-report-'+punishment.chargeNumber+'" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0" data-module="govuk-button" data-qa="select-button" >Select this punishment</button>' %}
    {% set typeColumnValue = sanction.type | convertPunishmentType(null, null, null) %}
    {% if sanction.consecutiveChargeNumber %}
      {% set typeColumnValue = typeColumnValue + '<br>' + '(consecutive to charge ' + sanction.consecutiveChargeNumber + ')' %}
    {% endif %}

    {% set rows = (rows.push(
      [
          {
            html: typeColumnValue,
            classes: "columnWidth30 verticalAlign"
          },
          {
            text: sanction.schedule.days,
            classes: "columnWidth15 verticalAlign"
          },
          {
            text: punishment.chargeNumber,
            classes: "columnWidth15 verticalAlign"
          },
          {
            text: punishment.chargeProvedDate | formatTimestampTo('D MMM YYYY'),
            classes: "columnWidth15 verticalAlign"
          },
          {
            html: selectButton,
            classes: "columnWidth17"
          }
      ]
    ), rows) %}
  {% endfor %}
  {% if rows.length %}
    {{ govukTable({
        head: [
          {
            text: "Type"
          },
          {
            text: "Number of days"
          },
          {
            text: "Charge number"
          },
          {
            text: "Date charge proved"
          },
          {
            text: null
          }
        ],
        rows: rows,
        attributes: {"data-qa": "consecutive-punishments-table"}
      }) }}
  {% endif %}

{% endmacro %}