{% from "govuk/components/table/macro.njk" import govukTable %}

{% macro damagesWitnessesTable(dataArray, redirectAfterRemoveUrl, currentUser, dataType) %}
  {% set rows = [] %}
    {% for data in dataArray %}
    {% set dataIndex = loop.index %}

    {% if data.reporter == currentUser %}
      {% set removeColumnValue = '<p class="govuk-body govuk-!-margin-bottom-1"><a href="'+redirectAfterRemoveUrl+dataIndex+'" data-qa="delete-'+dataIndex+'" class="govuk-link">Remove</a></p>' %}
    {% else %}
      {% set removeColumnValue = null %}
    {% endif %}

    {% set rows = (rows.push(
        [
            {
                text: data.type | damageCode if dataType == "damages" else data.lastName | witnessName(data.firstName)
            }, 
            {
                text: data.description if dataType == "damages" else data.code | witnessCode
            },
            {
                html: removeColumnValue,
                classes: "removeColumn" if data.reporter == currentUser
            }
        ]
    ), rows) %}
    {% endfor %}

    {% if rows.length %}
      {{ govukTable({
        head: [
          {
            text: "Type of repair needed" if dataType === "damages" else "Name"
          },
          {
            text: "Description of damage" if dataType === "damages" else "Role"
          },
          {
            text: null
          }
        ],
        rows: rows,
        attributes: {"data-qa": dataType+"-table"}
      }) }}
    {% endif %}
{% endmacro %}