{% from "../components/datepicker/macro.njk" import hmppsDatepicker %}
{% from "../macros/timeInput.njk" import timeInput %}

{% macro dateTimePicker(params) %}

  {{ hmppsDatepicker({
        id: params.dateId+'[date]',
        name: params.dateId+'[date]',
        label: {
            text: params.dateLabel
        },
        classes: 'hmpps-datepicker--fixed-width',
        value: params.dateTimeObj.date,
        errorMessage: params.errors | findErrors([params.dateId+'[date]']),
        maxDate: params.maxDate,
        minDate: params.minDate,
        dataQa: params.dataQaDate
    }) }}
  {{ 
        timeInput({
            errorMessage: params.isHourError or params.isMinuteError,
            legend: params.timeLabel,
            hint: 'Use the 24-hour clock. For example, 09 08 or 17 32.',
            hour:  {
                dataQaHour: params.dataQaHour,
                name: params.dateId+'[time][hour]',
                id: params.dateId+'[time][hour]',
                value: params.dateTimeObj.hour,
                classes: ('govuk-input--error' if params.isHourError)
            },
            minutes:  {
                dataQaMinutes: params.dataQaMinutes,
                name: params.dateId+'[time][minute]',
                id: params.dateId+'[time][minute]',
                value: params.dateTimeObj.minute,
                classes: ('govuk-input--error' if params.isMinuteError)
            }
	    })
    }}

{% endmacro %}