{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro hearingSummary(hearingDetails = {}, outcome = {}, attributes = {}, changeLinksActive = false, basicHearingChangeLinkHref = null, adjudicationNumber = null, hearingId = null) %}

  {% if changeLinksActive %}
    {% set dateTimeChangeLink = {
        items: [
          {
            href: basicHearingChangeLinkHref,
            text: "Change",
            visuallyHiddenText: ' date and time of hearing',
            attributes: {"data-qa": "change-link" }
          }
        ]
      } %}
    {% set locationChangeLink = {
        items: [
          {
            href: basicHearingChangeLinkHref,
            text: "Change",
            visuallyHiddenText: ' location',
            attributes: {"data-qa": "change-link" }
          }
        ]
      } %}
    {% set typeChangeLink = {
    items: [
      {
        href: basicHearingChangeLinkHref,
        text: "Change",
        visuallyHiddenText: ' type of hearing',
        attributes: {"data-qa": "change-link" }
      }
    ]
    }  %}
  {% endif %}

  {% set rows = [
    {
        key: { text: 'Date and time of hearing' },
        value: { text: hearingDetails.dateTimeOfHearing | formatTimestampTo('D MMMM YYYY - HH:mm') },
        actions: dateTimeChangeLink
    },
    {
        key: { text: 'Location' },
        value: { text: hearingDetails.locationName },
        actions: locationChangeLink
    },
    {
        key: { text: 'Type of hearing' },
        value: { text: hearingDetails.oicHearingType | convertOicHearingType },
        actions: typeChangeLink
    }
  ] %}

  {# Add the extra rows to the hearing table depending on the hearing outcome #}
  {% if hearingDetails.outcome %}
    {% if hearingDetails.outcome.code === HearingOutcomeCode.REFER_POLICE %}
      {% include '../partials/hearingDetailsVariations/hearingTableExpansions/hearingTableReferPoliceExpansion.njk' %}
    {% endif %}
    {% if hearingDetails.outcome.code === HearingOutcomeCode.REFER_INAD %}
      {% include '../partials/hearingDetailsVariations/hearingTableExpansions/hearingTableReferInAdExpansion.njk' %}
    {% endif %}
    {% if hearingDetails.outcome.code === HearingOutcomeCode.ADJOURN %}
      {% include '../partials/hearingDetailsVariations/hearingTableExpansions/hearingTableAdjourn.njk' %}
    {% endif %}
    {% if hearingDetails.outcome.code === HearingOutcomeCode.COMPLETE %}
      {% if outcome.code === HearingOutcomeFinding.CHARGE_PROVED %}
        {% include '../partials/hearingDetailsVariations/hearingTableExpansions/hearingTableCompleteProved.njk' %}
      {% elif outcome.code === HearingOutcomeFinding.NOT_PROCEED %}
        {% include '../partials/hearingDetailsVariations/hearingTableExpansions/hearingTableCompleteNotProceed.njk' %}
      {% else %}
        {% include '../partials/hearingDetailsVariations/hearingTableExpansions/hearingTableCompleteDismissed.njk' %}
      {% endif %}
    {% endif %}
  {% endif %}

  {% if rows.length %}
    {{ govukSummaryList({
      rows: rows,
      attributes: attributes
    }) }}
  {% endif %}
{% endmacro %}