{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro hearingDamagesAndCautionSummary(reportNo, moneyRecoveredBoolean, moneyRecoveredAmount, cautionAnswer, attributes = {}, moneyChangeLinkHref = null, cautionChangeLinkHref = null) %}
  {% set moneyChangeLink = {
            items: [
          {
            href: moneyChangeLinkHref,
            text: "Change",
            visuallyHiddenText: ' money recovered for damages',
            attributes: {"data-qa": "change-link" }
          }
        ]
  } %}
  {% set cautionChangeLink = {
            items: [
          {
            href: cautionChangeLinkHref,
            text: "Change",
            visuallyHiddenText: ' is this punishment a caution',
            attributes: {"data-qa": "change-link" }
          }
        ]
  } %}

  {% if moneyRecoveredBoolean %}
    {% set moneyHtml = {
      html: '<p>Yes' + ': £' + moneyRecoveredAmount + '</p>'
    } %}
  {% elif moneyRecoveredBoolean === null %}
    {% set moneyHtml = {
      text: 'Not known'
    } %}
  {% else %}
    {% set moneyHtml = {
      text: 'No'
    } %}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukSummaryList({
        rows: [
        {
          key: { text: 'Is any money being recovered for damages?' },
          value: moneyHtml,
          actions: moneyChangeLink
        },
        {
          key: { text: 'Is the punishment a caution?' },
          value: { text: 'Yes' if cautionAnswer == true else 'No'},
          actions: cautionChangeLink
        }],
        attributes: attributes
      }) }}
    </div>
  </div>
    {% endmacro %}