{% from 'components/datepicker/macro.njk' import hmppsDatepicker %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro hearingsFilter(hearingDate, errors, clearUrl, csrfToken) %}
  <form class="horizontal-form-container" method="POST" novalidate="novalidate" data-qa="scheduled-hearings-form">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
    <div id="scheduledHearingsFilter">
      {{ hmppsDatepicker({
        id: "hearingDate",
        name: "hearingDate",
        label: {
            text: "Date of hearing",
            classes: "govuk-!-font-weight-bold"
        },
        classes: 'hmpps-datepicker--fixed-width',
        value: hearingDate
    }) }}
    </div>
    <div class="horizontal-form hearings-filter-apply-clear">
      {{ govukButton({
            text: "Apply",
            type: "submit",
            classes: "govuk-button--submit hearings-filter-apply",
            attributes: { "data-qa": "hearings-filter-apply" }
        }) }}
      <p class="govuk-body filter-clear-link">
        <a class='govuk-link' href='{{ clearUrl }}' data-qa='clear-filter'>Clear</a>
      </p>
    </div>
  </form>
{% endmacro %}