{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% macro nextSteps(allowReferToGov) %}
  {% if allowReferToGov === false %}
    {% set items = [
      {
        value: "schedule_hearing",
        text: "Schedule a hearing",
        checked: nextStepChosen === 'schedule_hearing'
      },
      {
        value: "not_proceed",
        text: "Not proceed with the charge",
        checked: nextStepChosen === 'not_proceed'
      }] %}
  {% else %}
    {% set items = [
      {
        value: "schedule_hearing",
        text: "Schedule a hearing",
        checked: nextStepChosen === 'schedule_hearing'
      },
      {
        value: "refer_gov",
        text: "Refer back to a governor",
        checked: nextStepChosen === 'refer_gov'
      },
      {
        value: "not_proceed",
        text: "Not proceed with the charge",
        checked: nextStepChosen === 'not_proceed'
      }] %}
  {% endif %}
  {{ govukRadios({
    idPrefix: 'nextStepChosen',
    id: 'nextStepChosen',
    name: 'nextStepChosen',
    attributes: { "data-qa": "radio-buttons-next-step" },
    errorMessage: "nextStepChosen" | findError(errors),
    items: items
 }) }}
{% endmacro %}