{% macro noticeOfBeingPlacedOnReportLegal_v2(chargeNumber) %}
    <div class='govuk-!-margin-left-8 govuk-!-margin-right-8 page-break-before-always'>
        <div class='break-inside-avoid'>
            <h1>Guide for prisoners - the Adjudications process</h1>
            <h2>What is an adjudication or ‘nicking’?</h2>
            <p>This is when a member of staff says you’ve broken one of the prison rules. You’ll get a piece of paper called a ‘notice of being placed on report’, also known as a ‘nicking sheet’. This will tell you which rule you may have broken. </p>
            <p>You must get this within 48 hours of a member of staff discovering the incident.</p>
            <p>This is also called being:</p>
            <ul class='govuk-list govuk-list--bullet'>
                <li class='govuk-!-margin-bottom-1'>placed on report</li>
                <li class='govuk-!-margin-bottom-1'>put on report</li>
                <li class='govuk-!-margin-bottom-1'>charged with committing an offence</li>
            </ul>

            <h2>What if I do not understand?</h2>
            <p>There are lots of reasons why you might need some other help.</p>
            <p>If you find it hard to read this or understand what’s happening, you can ask an officer</p>
            <ul class='govuk-list govuk-list--bullet'>
                <li class='govuk-!-margin-bottom-1'>to read this to you and answer any questions about it</li>
                <li class='govuk-!-margin-bottom-1'>for a simple version with pictures - this is ‘Easy Read’</li>
                <li class='govuk-!-margin-bottom-1'>for help in another language, including British Sign Language</li>
            </ul>

            <h2>What happens next?</h2>
            <p>You'll go to a hearing, which is like a mini court. This is an important event which you should take seriously.</p>
            <p>This happens the day after you're told you're on report. If the next day is a Sunday or a bank holiday, the hearing may be the next working day after that. It’s usually in the morning.</p>
            <p>The adjudicating governor will decide if you’ve broken the rule and what the punishment is.</p>

            <h3>Police</h3>
            <p>A member of prison staff or a governor might have to call the police if the charge was very serious. For example, for a serious assault.</p>
            <p>The hearing will be put on hold or ‘adjourned’ until the police have looked into it.</p>
            <p>You’ll be told if the police are investigating the charge.</p>

            <h3>Independent Adjudicator</h3>
            <p>The governor may decide that an 'Independent Adjudicator', or IA, should carry out the hearing. They’re also known as an ‘IA’. Independent Adjudicators are District Judges. They would usually come in for a charge that poses a serious risk to safety or security, but has not been referred to the police. Or it could be that the police have decided not to prosecute, and the case is returned to the governor to consider a referral to the Independent Adjudicator.</p>
            <p>The Independent Adjudicator is a judge from outside your prison. They can add extra days in prison as a punishment if you’re found guilty. The most days they can add for a charge is 42. But they cannot add extra days if you’re on an indeterminate sentence. This would include:</p>
            <ul class='govuk-list govuk-list--bullet'>
                <li class='govuk-!-margin-bottom-1'>life</li>
                <li class='govuk-!-margin-bottom-1'>Imprisonment for Public Protection (IPP)</li>
                <li class='govuk-!-margin-bottom-1'>a Detention Training Order (DTO)</li>
                <li class='govuk-!-margin-bottom-1'>foreign national prisoners held under immigration powers</li>
            </ul>
            <p>You will be told if the governor refers the case to the Independent Adjudicator. You should be given a form saying when the hearing is. This is the IA5 form - ‘Prisoner Independent Adjudication Information’.
            <p>The governor can refer the case at any time before they give a punishment. They would do this if they think the charge is serious enough for a punishment of added days.</p>
            <p>The Independent Adjudicator - and your solicitor, if you want one - will usually be on a screen. You’ll be in a private room with escorting staff for the hearing. The hearing may instead be in-person if the Independent Adjudicator decides it is necessary in the interest of fairness. You can let an officer or the Independent Adjudicator know if you think this would benefit you.</p>
            <p>You’ll be allowed to sit down and take notes if you want to. You’ll be allowed to speak to a solicitor on the phone before the hearing. There are details on this in the Adjudications Policy Framework, in paragraphs 6.58 to 6.91.</p>
            <p>The Independent Adjudicator will conduct the hearing like the governor would. They’ll start your hearing again if it had already started with the governor and conduct it as a fresh inquiry so all the evidence will be heard again.</p>
            <p>The Independent Adjudicator may refer the charge back to the governor if:</p>
            <ul class='govuk-list govuk-list--bullet'>
                <li class='govuk-!-margin-bottom-1'>they do not think it's serious enough for them to deal with</li>
                <li class='govuk-!-margin-bottom-1'>it's very serious and they want the governor to think about referring it to the police</li>
            </ul>
            <p>Staff in the prison will keep you up to date about the charge. You can find out more in the Adjudications Policy Framework, in paragraphs 6.67 to 6.68.</p>

            <h2>What can I do before the hearing?</h2>
            <p>You'll have at least 2 hours to get ready for the hearing.</p>
            <h3>Write a statement</h3>
            <p>You can write a statement about what happened on this form under 'Write a statement'. You can read this statement out at the hearing.</p>
            <p>You do not have to, though. You can just tell the governor at the hearing what happened.</p>
            <h3>Ask a friend for support</h3>
            <p>You can also ask a friend to help you, like another prisoner or someone else. They’re called a ‘McKenzie friend’. They’re only there to give you support at the hearing - they cannot give legal advice or speak at the hearing.</p>
            <p>You may also be able to call a witness to the hearing if they saw what happened. You might want the witness to say if there are any reasons you should get a lesser punishment.</p>
            <h3>Get legal help</h3>
            <span><strong>Legal advice</strong></span>
            <p>If this is the first hearing for this charge, the governor will ask you if you want legal advice. You may have already contacted a solicitor. If there has not been time to contact a solicitor and you want legal advice, the hearing will be put on hold so you can get it.</p>
            <p>If it’s not the first hearing, the governor will decide if the hearing will be put on hold so you can get legal advice. They'll use the guidance in the Adjudications Policy Framework in paragraphs 4.20 to 4.22 to decide.</p>
            <span><strong>Legal representation</strong></span>
            <p>'Legal representation’ is when a solicitor represents you at the hearing. They'll attend and help you put your case forward.</p>
            <p>If you want legal representation, the governor will decide if you can have it. They’ll use guidance called the ‘Tarrant Principles’. You can find information on this in the Adjudications Policy Framework in paragraph 6.46.</p>
            <p>You would not usually have a solicitor to represent you in hearings with the governor. But if you’re allowed legal representation, the hearing will be paused until you can get it.</p>
            <p>If your hearing is with an Independent Adjudicator, you can have legal representation. You will need to ask for it before your independent adjudication hearing. Ask for the IA5 form - ‘Prisoner Independent Adjudication Information’. You will need to provide your solicitor’s email details.</p>
            <p>Fill this in as soon as possible so there’s time to contact your solicitor.</p>
            <p>You’ll be able to talk to your solicitor over the phone before the hearing.</p>
            <h3>Contact the Prisoners’ Advice Service</h3>
            <p>You can also call the Prisoners’ Advice Service (PAS) on 020 7253 3323. They offer free legal advice and support.</p>
            <p>They’re open on Monday, Wednesday and Friday from 10am to 12.30pm, and 2pm to 4.30pm.</p>
            <p>PAS have another advice line just for female prisoners. It’s open on Tuesday mornings between 10am and 12.30pm on 0800 024 0620.</p>
            <h3>Young offenders</h3>
            <p>If you’re 21 and under, you can ask for help from an advocacy service.</p>
            <p>The Howard League - runs a legal advice line for young people aged 21 and under in England and Wales. You can call free on 0808 801 0308. They’re usually open:</p>
            <ul class='govuk-list govuk-list--bullet'>
                <li class='govuk-!-margin-bottom-1'>Monday and Tuesday: 11am to 1pm</li>
                <li class='govuk-!-margin-bottom-1'>Wednesday: closed</li>
                <li class='govuk-!-margin-bottom-1'>Thursday and Friday: 10am to 12pm</li>
            </ul>
            <p>Barnardo’s: call free on 0808 168 2694 at any time. They’ll respond to any message you leave them.</p>

            <h2>What happens at the hearing?</h2>
            <p>This hearing will happen in a private room. You’ll be allowed to sit down and take notes if you want to.</p>
            <p>The people there will include:</p>
            <ul class='govuk-list govuk-list--bullet'>
                <li class='govuk-!-margin-bottom-1'>you</li>
                <li class='govuk-!-margin-bottom-1'>the governor - they are sometimes called the ‘adjudicator’ or ‘adjudicating governor’</li>
                <li class='govuk-!-margin-bottom-1'>the person who reported the incident, if they’re available to attend. They’re also known as the ‘reporting officer’ </li>
                <li class='govuk-!-margin-bottom-1'>the adjudication liaison officer</li>
                <li class='govuk-!-margin-bottom-1'>any witnesses to the incident, if the governor thinks they should be there</li>
                <li class='govuk-!-margin-bottom-1'>any McKenzie friend or legal representation you’re allowed to bring along</li>
                <li class='govuk-!-margin-bottom-1'>a member of healthcare staff, if needed</li>
                <li class='govuk-!-margin-bottom-1'>a member of the Independent Monitoring Board (IMB) may be there</li>
            </ul>
            <p>The governor will ask you:</p>
            <ul class='govuk-list govuk-list--bullet'>
                <li class='govuk-!-margin-bottom-1'>your name</li>
                <li class='govuk-!-margin-bottom-1'>other information about you, like your prison number</li>
                <li class='govuk-!-margin-bottom-1'>if you were given this DIS 1/2 ‘Notice of being placed on report’ and guidance, and any other written evidence</li>
                <li class='govuk-!-margin-bottom-1'>if you understand what an adjudication is and what will happen in the hearing</li>
                <li class='govuk-!-margin-bottom-1'>if you understand what you’re being accused of (also called the ‘charge’)</li>
                <li class='govuk-!-margin-bottom-1'>if you’ve had enough time to get ready for the hearing</li>
                <li class='govuk-!-margin-bottom-1'>if you want legal advice or representation</li>
                <li class='govuk-!-margin-bottom-1'>if you want the support of a McKenzie friend</li>
                <li class='govuk-!-margin-bottom-1'>if you plead guilty or not guilty. If you’re guilty and say you are, it shows your honesty and this may reduce the punishment if you’re proven guilty</li>
                <li class='govuk-!-margin-bottom-1'>if you’ve written a statement - you do not have to write a statement, though</li>
                <li class='govuk-!-margin-bottom-1'>if you want to call any witnesses and what evidence they might give</li>
            </ul>
            <p>The governor will record what happens in the hearing. This is on the DIS3 form - ‘Prepare for and record an adjudication hearing’.</p>
            <p>You can get help understanding or presenting your case if you have any disability, communication or language difficulty. This includes if:
            <ul class='govuk-list govuk-list--bullet'>
                <li class='govuk-!-margin-bottom-1'>you have hearing, sight or reading issues</li>
                <li class='govuk-!-margin-bottom-1'>your first language is not English</li>
                <li class='govuk-!-margin-bottom-1'>you have any learning or communication difficulties</li>
                <li class='govuk-!-margin-bottom-1'>you have any disability or condition - physical or mental - that means you need help</li>
            </ul>
            <p>The governor will ask for the reporting officer’s statement to be read out. They can ask witnesses to say if they saw you break the rules.</p>
            <p>The reporting officer and other officers can give evidence. This might be drug test results or if they’ve found items that you’re not supposed to have. The reporting officer can also call witnesses.</p>
            <p>If the reporting officer is not available to attend, another officer may read out the reporting officer's evidence. But if you want to ask the reporting officer questions, the hearing will be paused until they can attend.</p>
            <p>You’ll be able to:
            <ul class='govuk-list govuk-list--bullet'>
                <li class='govuk-!-margin-bottom-1'>give your side of the story - this can be what you might have written before the hearing</li>
                <li class='govuk-!-margin-bottom-1'>take notes</li>
                <li class='govuk-!-margin-bottom-1'>ask the governor or independent adjudicator questions</li>
                <li class='govuk-!-margin-bottom-1'>ask questions about the reporting officer’s evidence</li>
                <li class='govuk-!-margin-bottom-1'>ask if you can call a witness to say what they saw</li>
            </ul>
            <p>A hearing usually takes about 20 minutes, but it can be longer or shorter.</p>
            <p>If the governor thinks your witness has no new evidence, they will not ask them to speak. If you wanted to call several witnesses who would all say the same thing, the governor would only call one.</p>
            <p>You can ask the witness questions. So can the reporting officer and the governor.</p>
            <p>Prison staff may also have to appear as witnesses and give evidence.</p>
            <p>You can be found guilty or not guilty. The case will be dismissed if you’re found not guilty.</p>
            <p>The charge must be proven ‘beyond reasonable doubt’ to find you guilty. This means the governor or independent adjudicator must be sure that you broke the rules.</p>
            <p>The case might also be ‘not proceeded with’. This happens if the governor cannot complete the investigation. This could be because there’s not enough evidence or for some other reason.</p>
            <p>If they’re not sure you broke the rules, your charge will be dropped, and you will not be punished. This is called ‘dismissed’.</p>
            <p>The governor will only decide after considering all the evidence and your defence.</p>
        </div>

        <div class='break-inside-avoid'>
            <h2>What if I'm found guilty?</h2>
            <p>If you’re found guilty, you’ll be asked if there are any reasons why they should give you a smaller punishment.</p>
            <p>The governor or independent adjudicator will also hear reports on your past behaviour.</p>
            <h3>Punishments</h3>
            <p>If you're found guilty, you'll be given a punishment. The governor will tell you at the end of your hearing what your punishment is and how long it will last.</p>
            <p>There are several different punishments the governor could choose to give you.</p>
            <p>Their decision will be based on:</p>
            <ul class='govuk-list govuk-list--bullet'>
                <li class='govuk-!-margin-bottom-1'>what happened</li>
                <li class='govuk-!-margin-bottom-1'>if you pleaded guilty</li>
                <li class='govuk-!-margin-bottom-1'>past behaviour, including previous adjudications</li>
                <li class='govuk-!-margin-bottom-1'>anything which might reduce your punishment - this is called ‘mitigating circumstances’</li>
            </ul>
            <p>You’ll be given a piece of paper called ‘DIS7 - Adjudication result’. This tells you what your punishment is and the last day of the punishment. It will also tell you want to do if you want to ask for a review of the decision. Ask the governor to explain what your punishment is if you do not understand the form.</p>
            <p>The punishment will usually start immediately. The punishment will only be for a specific length of time. Each prison has a guide on how long each punishment may last. This is called a ‘tariff’. The governor uses the tariffs as a guide when deciding how long to make any punishment. You can find out about the tariffs in your prison from the prison library or ask a member of staff.</p>
            <p>Or the punishment may be ‘suspended’ until some time in the future. It’s like giving you a second chance. A suspended punishment will have a condition attached to it. This will be either:</p>
            <ul class='govuk-list govuk-list--bullet'>
                <li class='govuk-!-margin-bottom-1'>A '<strong>non-offending condition</strong>'. This means you must not break another rule while you have the suspended punishment. The punishment will only be carried out if you break a rule again and the governor decides to give you the punishment.</li>
                <li class='govuk-!-margin-bottom-1'>A ‘<strong>rehabilitative activity condition</strong>’. This means you will be able to do an activity which will help you to work on the reasons why you broke the rule. The punishment will only be carried out if you do not comply with, or complete, the activity, and the governor decides to give you the punishment.</li>
            </ul>
            <span><strong>Caution</strong></span>
            <p>You might be given a ‘caution’. This means you’ll be warned about your actions. And if you break the rules again and are found guilty, you could have a bigger punishment.</p>
            <span><strong>Loss of privileges</strong></span>
            <p>‘Loss of privileges’ means you might lose the use of one or more privileges, for example:</p>
            <ul class='govuk-list govuk-list--bullet'>
                <li class='govuk-!-margin-bottom-1'>your TV</li>
                <li class='govuk-!-margin-bottom-1'>the canteen</li>
                <li class='govuk-!-margin-bottom-1'>the gym</li>
                <li class='govuk-!-margin-bottom-1'>association (meeting other prisoners)</li>
                <li class='govuk-!-margin-bottom-1'>use of private cash</li>
            </ul>
            <span><strong>Stoppage of earnings</strong></span>
            <p>‘Stoppage of earnings’ means you’ll lose some of your earnings for a length of time.</p>
            <p>The governor will decide what percentage you’ll lose. This can be up to 100%, but you’ll always be left with the cost of postage stamps and PIN phone credits.</p>
            <p>The governor will also decide the number of days this is for.</p>
            <span><strong>Cellular confinement (CC)</strong></span>
            <p>You may be given ‘cellular confinement’ as a punishment. This is sometimes called ‘CC’. It’s when you’re moved to another wing or the segregation unit. This is sometimes called ‘seg’, the care and separation unit or ‘CSU’.</p>
            <p>You’ll spend more time in your cell. But you’ll still have the usual privileges. These would include writing to people, cell hobbies, exercising, showering and religious services. Visits should take place separately from other prisoners.</p>
            <p>Before you’re given CC, the governor will ask medical staff if it would be safe for you. This is called an ‘Initial Segregation Health Screen’.</p>
            <span><strong>Damages</strong></span>
            <p>The governor will decide if you have to pay for anything you broke. This is if it belonged to the prison or another prisoner when you broke the rule.</p>
            <p>If you have to pay, you’ll normally need to start paying this back in parts straight away. You’ll always be left with at least £5 in your account. This is so you can call your family and friends.</p>
            <p>Damages can also be paid in a lump sum if you have enough cash.</p>
            <span><strong>Added days</strong></span>
            <p>Days can only be added to your time in prison by an Independent Adjudicator, not a governor. The most days you can receive for one charge is 42.</p>
            <p>If you’re on remand, days will be added if you get a prison sentence after being found guilty in court.</p>
            <span><strong>Payback punishment</strong></span>
            <p>This is an unpaid, short-term project in the prison. It’ll be rehabilitative. This means it will help you become part of your community and behave more positively.</p>
            <p>The project will help you make amends with people in the prison - for example, if you have broken something belonging to the prison, or your behaviour had a negative effect on other people.</p>
            <p>The governor will talk to you about if this could help you and what you might do. You could get more than one project.</p>
            <span><strong>Other punishments</strong></span>
            <p>Other possible punishments are:</p>
            <ul class='govuk-list govuk-list--bullet'>
                <li class='govuk-!-margin-bottom-1'>exclusion from associated work</li>
                <li class='govuk-!-margin-bottom-1'>removal from wing/unit</li>
            </ul>

            <h2>Can I appeal?</h2>
            <h3>Ask for a review</h3>
            <p>If your hearing was with the governor, you can ask for a review. This might be because you:</p>
            <ul class='govuk-list govuk-list--bullet'>
                <li class='govuk-!-margin-bottom-1'>were found guilty and do not agree with that</li>
                <li class='govuk-!-margin-bottom-1'>think you’ve been treated unfairly</li>
                <li class='govuk-!-margin-bottom-1'>think the punishment was too much</li>
                <li class='govuk-!-margin-bottom-1'>think the damages payment was too high.</li>
            </ul>
            <p>Ask a member of staff for this form: DIS8 - ‘Request for a review of an adjudication heard by a Governor or Director’.  When it’s submitted, it’ll be sent to HMPPS HQ.</p>
            <p>You must ask for your review within 6 weeks of the end of your adjudication.</p>
            <p>You’ll usually hear back about your review within 20 days.</p>
            <p>If you’re appealing a punishment of CC, it may be within 48 hours.</p>
            <p>You can also ask your solicitor for advice. If a solicitor, MP or another group helps with the review, it goes through the same steps. But you do not need to complete a DIS8 form.</p>
            <p>You may have had a review but still not be satisfied. Then you can write to the Prisons and Probation Ombudsman. They do independent reviews. They do not review a guilty finding - they can only review the punishment.</p>
            <p>You have to do this within 3 months of the hearing.</p>
            <span><strong>Independent adjudicator review</strong></span>
            <p>If an independent adjudicator heard your case, you can ask for a review.</p>
            <p>This might be a review of the punishment or damage payments. But you cannot ask for a review of being found guilty.</p>
            <p>Ask for the IA4 form. You or your solicitor must send the form to the governor. This must happen within 14 days of the independent adjudicator hearing. The governor will send it to the Chief Magistrate’s Office. You’ll get the outcome within 14 days of when the office gets the form.</p>

            <h2>If you’re given added days</h2>
            <p>If you’ve had days added to your time in prison, you can ask for some of these days to be removed. This is called ‘remission’ or ‘restoration’ of added days.</p>
            <p>The governor will decide on this based on your progress and behaviour in prison.</p>
            <p>They may reduce the number of added days by half. For example, if you were given 20 extra days, they may reduce this to 10. Very occasionally, they may reduce it even more.</p>
            <p>You can apply after 6 months from the offence date, or 4 months if you're a child or young offender. But you can only apply if you have not been found guilty in any hearings since the offence date.</p>
            <p>You may apply again if your last application was over 6 months ago, or 4 months if you’re a child or young offender. But you can only do this if:</p>
            <ul class='govuk-list govuk-list--bullet'>
                <li class='govuk-!-margin-bottom-1'>you have not been found guilty in any hearings since</li>
                <li class='govuk-!-margin-bottom-1'>the number of days removed last time was less than the normal amount</li>
            </ul>
            <p>Ask for this form: DIS9 - ‘Application for remission of additional days’.</p>
            <p>You can ask for help filling in forms - ask an officer or your key worker.</p>
            <p>You can find more information in the Adjudications Policy Framework, in paragraphs 6.228 and 6.229.</p>

            <h2>Can I have more information?</h2>
            <p>You can find out more about adjudications.</p>
            <p>Ask a member of staff about the Adjudications Policy Framework. This is guidance for the prison to follow when a prisoner breaks the rules. A copy should be available on your wing or in the prison library.</p>
            <p>You must also be allowed to read other reference books if you want to, to defend yourself against the charge.</p>
            <p>If you have a laptop, you can read ‘Prisoners’ Advice Service: Adjudications’ on the Content Hub.</p>
        </div>

        <div class='break-inside-avoid'>
            <h1>Write your statement</h1>
            <p>You can write a statement here. Tell us what happened. Ask for more paper if you need it. You can read this out during the hearing.</p>
            <p>You do not have to write a statement - you can just tell the governor at the hearing what happened.</p>
            <input type='text' class='adjudication-pdf-input adjudication-pdf-input-text-box-large-full-width'>
        </div>
    </div>
{% endmacro %}
