{% macro noticeOfBeingPlacedOnReportPage2() %}
    <h1 class='govuk-heading-m adjudication-print-form-header page-break-before'>Notice of being put on report</h1>
    <h2 class='govuk-heading-s govuk-!-margin-bottom-1 govuk-!-font-size-14 govuk-!-font-weight-bold'>Preparing for an adjudication hearing<h2>
    <p class='govuk-body govuk-!-font-size-14'>You can ask a member of staff if you need any help in understanding this report. You can also ask a member of staff for an ‘easy read’ version of this guidance to help you prepare for the hearing.</p>
    <p class='govuk-body govuk-!-font-size-14'>You should let a member of staff know if you have any difficulty understanding what is happening during this adjudication process or in presenting your case. This includes any difficulty presenting your case due to disability, which might be because of mental health impairments, learning difficulties, or not having enough knowledge of English. You should also ask a member of staff if you want any legal advice or legal representation.</p>
    <p class='govuk-body govuk-!-font-size-14'>Prisoner Discipline Procedures (Prison Service Instruction 05/2018) explains how adjudications work. A copy should be available on your wing, from the prison library, or from a member of staff, and you must be allowed to see a copy. You must also be able to look at other reference books if you want so that you can properly defend yourself against the charge. You should be allowed at least 2 hours for this before the hearing.</p>
    <h2 class='govuk-body govuk-heading-s govuk-!-font-size-14 govuk-!-font-weight-bold'>What happens at a hearing</h2>
    <p class='govuk-body govuk-!-font-size-14'>The hearing will take place in a room set aside for it. These are important events which must be orderly but fair. You will be allowed to sit down and take notes if you want. The Governor, or Director in a contracted prison, in charge of the hearing will confirm your name and other details, and check that you have been given your copy of this form placing you on report and any other written evidence.</p>
    <p class='govuk-body govuk-!-font-size-14'>You will be able to say what happened during the incident, defend yourself and provide a written statement if you want to.</p>
    <h2 class='govuk-body govuk-heading-s govuk-!-font-size-14 govuk-!-font-weight-bold'>What happens if you are referred to the police</h2>
    <p class='govuk-body govuk-!-font-size-14'>If the Governor or Director believes that the charge against you is so serious that it should be referred to the police for further investigation, they will adjourn the hearing until the outcome of police enquiries is known. You will be told that the police are dealing with the charge.</p>
    <h2 class='govuk-body govuk-!-font-size-14 govuk-!-font-weight-bold'>What happens if you are referred to an independent adjudicator</h2>
    <p class='govuk-body govuk-!-font-size-14'>The Governor or Director may decide to refer your case to an independent adjudicator, who is a District Judge, at any time before announcing any punishment.</p>
    <p class='govuk-body govuk-!-font-size-14'>This happens if the Governor or Director thinks that the charge against you is:</p>
    <ul>
        <li class='govuk-body govuk-!-font-size-14'>a serious charge but the case is not referred to the police, or there is no prosecution</li>
        <li class='govuk-body govuk-!-font-size-14'>serious enough for a punishment of additional days if you are found guilty</li>
    </ul>
    <p class='govuk-body govuk-!-font-size-14'>You will not receive additional days if you are serving an indeterminate sentence such as life, Imprisonment for Public Protection (IPP) or a Detention Training Order (DTO).</p>
    <p class='govuk-body govuk-!-font-size-14'>If the case is referred to an independent adjudicator, it will start again from the beginning and you will be issued with a ‘Template C form’.</p>
    <p class='govuk-body govuk-!-font-size-14'>All evidence will be heard again; this is called being ‘de novo’. You will be entitled to legal representation at this hearing. For further details see Annex A paragraph 2.8 of PSI 05/2018.</p>
    <p class='govuk-body govuk-!-font-size-14'>A hearing with an independent adjudicator might be held virtually with you in the hearing room but the independent adjudicator speaking to you through a computer screen or some other device.</p>
    <h2 class='govuk-heading-s govuk-!-font-size-14 govuk-!-font-weight-bold'>Starting the hearing</h2>
    <p class='govuk-body govuk-!-font-size-14'>You will be asked if you:</p>
    <ul>
        <li class='govuk-body govuk-!-font-size-14'>understand what happens in an adjudication hearing</li>
        <li class='govuk-body govuk-!-font-size-14'>understand what the charge against you is</li>
        <li class='govuk-body govuk-!-font-size-14'>have had enough time to prepare your defence to the charge</li>
        <li class='govuk-body govuk-!-font-size-14'>have written down what happened</li>
    </ul>

{% endmacro %}