{% macro noticeOfBeingPlacedOnReportLegal(adjudicationNumber) %}
    <div class='adjudication-print-form-header page-break-before'>
        <h1 class='govuk-heading-m govuk-!-margin-2'>Notice of being put on report</h1>
        <h2 class='govuk-heading-s govuk-!-margin-2 govuk-!-font-size-14'
            data-qa='notice-of-being-placed-on-report-adjudication-number'>Report number:
            <span class='govuk-!-font-weight-regular'>{{ adjudicationNumber }}</span></h2>
    </div>
    <div class='govuk-!-margin-2'>
        <h2 class='govuk-heading-s govuk-!-margin-bottom-1 govuk-!-font-size-14 govuk-!-font-weight-bold'>Preparing for
            an adjudication hearing</h2>
        <p class='govuk-body govuk-!-font-size-14'>You can ask a member of staff if you need any help in understanding
            this report. You can also ask a member of staff for an ‘easy read’ version of this guidance to help you
            prepare for the hearing.</p>
        <p class='govuk-body govuk-!-font-size-14'>You should let a member of staff know if you have any difficulty
            understanding what is happening during this adjudication process or in presenting your case. This includes
            any difficulty presenting your case due to disability, which might be because of mental health impairments,
            learning difficulties, or not having enough knowledge of English. You should also ask a member of staff if
            you want any legal advice or legal representation.</p>
        <p class='govuk-body govuk-!-font-size-14'>Prisoner Discipline Procedures (Prison Service Instruction 05/2018)
            explains how adjudications work. A copy should be available on your wing, from the prison library, or from a
            member of staff, and you must be allowed to see a copy. You must also be able to look at other reference
            books if you want so that you can properly defend yourself against the charge. You should be allowed at
            least 2 hours for this before the hearing.</p>
        <h2 class='govuk-body govuk-heading-s govuk-!-font-size-14 govuk-!-font-weight-bold'>What happens at a
            hearing</h2>
        <p class='govuk-body govuk-!-font-size-14'>The hearing will take place in a room set aside for it. These are
            important events which must be orderly but fair. You will be allowed to sit down and take notes if you want.
            The Governor, or Director in a contracted prison, in charge of the hearing will confirm your name and other
            details, and check that you have been given your copy of this form placing you on report and any other
            written evidence.</p>
        <p class='govuk-body govuk-!-font-size-14'>You will be able to say what happened during the incident, defend
            yourself and provide a written statement if you want to.</p>
        <h2 class='govuk-body govuk-heading-s govuk-!-font-size-14 govuk-!-font-weight-bold'>What happens if you are
            referred to the police</h2>
        <p class='govuk-body govuk-!-font-size-14'>If the Governor or Director believes that the charge against you is
            so serious that it should be referred to the police for further investigation, they will adjourn the hearing
            until the outcome of police enquiries is known. You will be told that the police are dealing with the
            charge.</p>
        <h2 class='govuk-body govuk-!-font-size-14 govuk-!-font-weight-bold'>What happens if you are referred to an
            independent adjudicator</h2>
        <p class='govuk-body govuk-!-font-size-14'>The Governor or Director may decide to refer your case to an
            independent adjudicator, who is a District Judge, at any time before announcing any punishment.</p>
        <p class='govuk-body govuk-!-font-size-14'>This happens if the Governor or Director thinks that the charge
            against you is:</p>
        <ul class='govuk-list govuk-list--bullet'>
            <li class='govuk-body govuk-!-font-size-14'>a serious charge but the case is not referred to the police, or
                there is no prosecution
            </li>
            <li class='govuk-body govuk-!-font-size-14'>serious enough for a punishment of additional days if you are
                found guilty
            </li>
        </ul>
        <p class='govuk-body govuk-!-font-size-14'>You will not receive additional days if you are serving an
            indeterminate sentence such as life, Imprisonment for Public Protection (IPP) or a Detention Training Order
            (DTO).</p>
    </div>
    <div class='adjudication-print-form-header page-break-before'>
        <h1 class='govuk-heading-m govuk-!-margin-2'>Notice of being put on report</h1>
        <h2 class='govuk-heading-s govuk-!-margin-2 govuk-!-font-size-14'
            data-qa='notice-of-being-placed-on-report-adjudication-number'>Report number:
            <span class='govuk-!-font-weight-regular'>{{ adjudicationNumber }}</span></h2>
    </div>
    <div class='govuk-!-margin-2'>
        <p class='govuk-body govuk-!-font-size-14'>If the case is referred to an independent adjudicator, it will start
            again from the beginning and you will be issued with a ‘Template C form’.</p>
        <p class='govuk-body govuk-!-font-size-14'>All evidence will be heard again; this is called being ‘de novo’. You
            will be entitled to legal representation at this hearing. For further details see Annex A paragraph 2.8 of
            PSI 05/2018.</p>
        <p class='govuk-body govuk-!-font-size-14'>A hearing with an independent adjudicator might be held virtually
            with you in the hearing room but the independent adjudicator speaking to you through a computer screen or
            some other device.</p>
        <h2 class='govuk-heading-s govuk-!-font-size-14 govuk-!-font-weight-bold'>Starting the hearing</h2>
        <p class='govuk-body govuk-!-font-size-14'>You will be asked if you:</p>
        <ul class='govuk-list govuk-list--bullet'>
            <li class='govuk-body govuk-!-font-size-14'>understand what happens in an adjudication hearing</li>
            <li class='govuk-body govuk-!-font-size-14'>understand what the charge against you is</li>
            <li class='govuk-body govuk-!-font-size-14'>have had enough time to prepare your defence to the charge</li>
            <li class='govuk-body govuk-!-font-size-14'>have written down what happened</li>
        </ul>
        <h2 class='govuk-heading-s govuk-!-margin-bottom-1 govuk-!-font-size-14 govuk-!-font-weight-bold'>What happens
            during the hearing</h2>
        <p class='govuk-body govuk-!-font-size-14'>The Governor or Director will ask the reporting officer to describe
            the allegation against you, and you may ask questions about their evidence. The reporting officer may call
            witnesses in support of the allegation.</p>
        <p class='govuk-body govuk-!-font-size-14'>The reporting officer might also present any relevant physical or
            written evidence. For example, this could be unauthorised items said to have been found in your possession,
            or a positive MDT result.</p>
        <p class='govuk-body govuk-!-font-size-14'>You will have an opportunity to explain what happened, and offer a
            defence if you want to plead not guilty.</p>
        <p class='govuk-body govuk-!-font-size-14'>If the reporting officer is not available, evidence could be read in
            their absence. The hearing will be adjourned if you want to question the reporting officer.</p>
        <h2 class='govuk-heading-s govuk-!-margin-bottom-1 govuk-!-font-size-14 govuk-!-font-weight-bold'>Pleading
            guilty or not guilty</h2>
        <p class='govuk-body govuk-!-font-size-14'>You will be asked whether you plead guilty or not guilty to the
            charge.</p>
        <p class='govuk-body govuk-!-font-size-14'>If you are proven guilty at the end of the hearing, a guilty plea
            will:</p>
        <ul class='govuk-list govuk-list--bullet'>
            <li class='govuk-body govuk-!-font-size-14'>usually result in a reduction in any punishment given</li>
            <li class='govuk-body govuk-!-font-size-14'>be taken into account by the Governor or Director, alongside any
                other relevant factors, when deciding what punishment to give you
            </li>
        </ul>
    </div>
    <div class='adjudication-print-form-header page-break-before'>
        <h1 class='govuk-heading-m govuk-!-margin-2'>Notice of being put on report</h1>
        <h2 class='govuk-heading-s govuk-!-margin-2 govuk-!-font-size-14'
            data-qa='notice-of-being-placed-on-report-adjudication-number'>Report number:
            <span class='govuk-!-font-weight-regular'>{{ adjudicationNumber }}</span></h2>
    </div>
    <div class='govuk-!-margin-2'>
        <h2 class='govuk-heading-s govuk-!-margin-bottom-1 govuk-!-font-size-14 govuk-!-font-weight-bold'>Calling
            witnesses</h2>
        <p class='govuk-body govuk-!-font-size-14'>The Governor or Director will ask whether you want to call any
            witnesses, and what evidence they might give. Witnesses will normally be called, but may be refused if the
            Governor or Director believes their evidence would not add anything. For example, if you wanted other
            prisoners to give evidence and they would say the same thing, only one would be called. You, the reporting
            officer, and the Governor or Director can question the witnesses.</p>
        <h2 class='govuk-heading-s govuk-!-margin-bottom-1 govuk-!-font-size-14 govuk-!-font-weight-bold'>Getting legal
            advice and legal representation</h2>
        <p class='govuk-body govuk-!-font-size-14'>The Governor or Director will ask whether you want legal advice or
            legal representation, or to be helped by a friend who could be another prisoner and would be known as a
            ‘McKenzie friend’.</p>
        <p class='govuk-body govuk-!-font-size-14'>If you want legal advice, the initial hearing will usually be
            adjourned until a later date to give you time to contact a solicitor. If you want legal representation at
            the hearing where a solicitor attends and puts your case for you, the Governor or Director will consider
            your request using the guidance set out in PSI 05/2018 (Annex A, paragraph 2.14).</p>
        <p class='govuk-body govuk-!-font-size-14'>Legal representation is rarely allowed in cases heard by Governors or
            Directors, but if they do agree, the hearing will be adjourned to give you time to arrange this.</p>
        <p class='govuk-body govuk-!-font-size-14'>You are entitled to be legally represented if your case is referred
            to an independent adjudicator where a punishment of additional days is possible. You will be allowed to
            speak to your solicitor before the hearing. For further details see annex A, paragraph 2.8 of PSI
            05/2018.</p>
        <h2 class='govuk-heading-s govuk-!-margin-bottom-1 govuk-!-font-size-14 govuk-!-font-weight-bold'>Receiving the
            verdict</h2>
        <p class='govuk-body govuk-!-font-size-14'>After hearing all the evidence and your defence, the Governor or
            Director must decide whether the charge has been proved beyond reasonable doubt, or whether it should be
            dismissed.</p>
        <p class='govuk-body govuk-!-font-size-14'>If you are found guilty, you will be asked if you have anything to
            say about why you should be treated leniently and you can give any mitigation. They will also hear reports
            on your general behaviour in prison and about any previous adjudications.</p>
        <h2 class='govuk-heading-s govuk-!-margin-bottom-1 govuk-!-font-size-14 govuk-!-font-weight-bold'>When you
            receive any punishment</h2>
        <p class='govuk-body govuk-!-font-size-14'>The Governor or Director will then decide on the punishment for your
            offence which will take effect immediately - this includes if you are required to pay compensation for any
            damage to prison property. You will be given a form DIS7 giving you details of your punishment. That form
            will also explain what to do if you want to ask for a review of the decision.</p>
        <p class='govuk-body govuk-!-font-size-14'>If the Governor or Director is considering a punishment of cellular
            confinement, they will ask a doctor or nurse to assess whether there are any medical reasons why this would
            not be appropriate for you on this occasion.</p>
    </div>
    <div class='adjudication-print-form-header page-break-before'>
        <h1 class='govuk-heading-m govuk-!-margin-2'>Notice of being put on report</h1>
        <h2 class='govuk-heading-s govuk-!-margin-2 govuk-!-font-size-14'
            data-qa='notice-of-being-placed-on-report-adjudication-number'>Report number:
            <span class='govuk-!-font-weight-regular'>{{ adjudicationNumber }}</span></h2>
    </div>
    <div class='govuk-!-margin-2'>
        <h2 class='govuk-heading-s govuk-!-margin-bottom-1 govuk-!-font-size-14 govuk-!-font-weight-bold'>After
            receiving any punishment</h2>
        <p class='govuk-body govuk-!-font-size-14'>If you are not satisfied with the outcome, you can request a review
            of the findings - ask a member of staff for a ‘DIS8 - Request for review form’. You must request a review
            within 6 weeks of your adjudication hearing.</p>
        <p class='govuk-body govuk-!-font-size-14'>You can also ask for legal advice at this stage. If the review is
            taken up by your solicitor, or any other party such as an MP or special interest group, you do not need to
            complete the DIS8 form. You can also write to the Prisons and Probation Ombudsman when any review has been
            completed.</p>
        <p class='govuk-body govuk-!-font-size-14'>If your case was referred to an independent adjudicator, you or your
            solicitor can apply for a review of the punishment and any compensation you have been instructed to pay for
            any damage to prison property by completing form IA4 within 14 days of the outcome and sending that form to
            the Governor.</p>
        <p class='govuk-body govuk-!-font-size-14'>If you receive a punishment of additional days added to your
            sentence, you can ask for some of these days to be removed, subject to conditions. You must do this within 6
            months of the incident date. You can then apply every 6 months for any additional days to be removed.</p>
        <h2 class='govuk-heading-s govuk-!-margin-bottom-1 govuk-!-font-size-14 govuk-!-font-weight-bold'>Write your
            statement</h2>
        <p class='govuk-body govuk-!-font-size-14'>You can write a statement about any disciplinary charges against you
            using the space below. Ask for more paper if you need it. You will be able to read this out during the
            hearing.</p>
        <input type='text' class='adjudication-print-form-prisoner-statement'>
    </div>
{% endmacro %}