{% macro noticeOfBeingPlacedOnReportPage4(adjudicationNumber) %}
    <div class='adjudication-print-form-header page-break-before'>
        <h1 class='govuk-heading-m govuk-!-margin-2'>Notice of being put on report</h1>
        <h2 class='govuk-heading-s govuk-!-margin-2 govuk-!-font-size-14'>Report number: {{ adjudicationNumber }}</h2>
    </div>
    <div class='govuk-!-margin-2'>
    <h2 class='govuk-heading-s govuk-!-margin-bottom-1 govuk-!-font-size-14 govuk-!-font-weight-bold'>After receiving any punishment</h2>
    <p class='govuk-body govuk-!-font-size-14'>If you are not satisfied with the outcome, you can request a review of the findings - ask a member of staff for a ‘DIS8 - Request for review form’. You must request a review within 6 weeks of your adjudication hearing.</p>
    <p class='govuk-body govuk-!-font-size-14'>You can also ask for legal advice at this stage. If the review is taken up by your solicitor, or any other party such as an MP or special interest group, you do not need to complete the DIS8 form. You can also write to the Prisons and Probation Ombudsman when any review has been completed.</p>
    <p class='govuk-body govuk-!-font-size-14'>If your case was referred to an independent adjudicator, you or your solicitor can apply for a review of the punishment and any compensation you have been instructed to pay for any damage to prison property by completing form IA4 within 14 days of the outcome and sending that form to the Governor.</p>
    <p class='govuk-body govuk-!-font-size-14'>If you receive a punishment of additional days added to your sentence, you can ask for some of these days to be removed, subject to conditions. You must do this within 6 months of the incident date. You can then apply every 6 months for any additional days to be removed.</p>
    <h2 class='govuk-heading-s govuk-!-margin-bottom-1 govuk-!-font-size-14 govuk-!-font-weight-bold'>Write your statement</h2>
    <p class='govuk-body govuk-!-font-size-14'>You can write a statement about any disciplinary charges against you using the space below. Ask for more paper if you need it. You will be able to read this out during the hearing.</p>
    <input type='text' class='adjudication-print-form-prisoner-statement'>
    </div>
{% endmacro %}