{% from "../macros/noticeOfBeingPlacedOnReportDetails.njk" import noticeOfBeingPlacedOnReportDetails %}
{% from "../macros/noticeOfBeingPlacedOnReportLegal.njk" import noticeOfBeingPlacedOnReportLegal %}
{% macro noticeOfBeingPlacedOnReport(adjudicationNumber, statement) %}
    <div class="print">
        {{ noticeOfBeingPlacedOnReportDetails(adjudicationNumber, statement) }}
        {{ noticeOfBeingPlacedOnReportLegal(adjudicationNumber) }}
    </div>
{% endmacro %}