{% macro noticeOfBeingPlacedOnReportPage1(adjudicationNumber) %}
    <h1 class='govuk-panel__title'>Notice of being put on report</h1>
    <div class='fixed-bottom'>Report number: {{ adjudicationNumber }}</div>
{% endmacro %}