{% macro noticeOfBeingPlacedOnReportLegal(chargeNumber) %}

    <div class='adjudication-pdf-header'>
        <h1>Guide for prisoners</h1>
    </div>

    <div class='govuk-!-margin-left-8 govuk-!-margin-right-8 page-break-before-always'>
        <div class='break-inside-avoid'>
            <h2>What is an adjudication or ‘nicking’?</h2>
            <p>This is when a member of staff says you’ve broken one of the prison rules. You’ll get a piece of paper called a ‘Notice of being placed on report’
                or ‘nicking sheet’. This will tell you which rule you may have broken.</p>
            <p>You must get this within 48 hours of a member of staff discovering the incident.</p>
            <p>This is also called being:</p>
            <ul class='govuk-list govuk-list--bullet'>
                <li class='govuk-!-margin-bottom-1'>placed on report</li>
                <li class='govuk-!-margin-bottom-1'>put on report</li>
                <li class='govuk-!-margin-bottom-1'>charged with committing an offence</li>
            </ul>
        </div>
        <div class='break-inside-avoid'>
            <h2>What if I do not understand?</h2>
            <p>There are lots of reasons you might need some other help.</p>
            <p>If you find it hard to read this or understand what’s happening, ask an officer</p>
            <ul class='govuk-list govuk-list--bullet'>
                <li class='govuk-!-margin-bottom-1'>to read this to you and answer any questions about it</li>
                <li class='govuk-!-margin-bottom-1'>for a simple version with pictures - this is ‘Easy Read'</li>
                <li class='govuk-!-margin-bottom-1'>for help in another language, including British Sign Language</li>
            </ul>
        </div>
        <div class='break-inside-avoid'>
            <h2>What happens next?</h2>
            <p>You'll go to a hearing, which is like a mini court. This is an important event which you should take seriously.</p>
            <p>This happens the day after you're told you're on report. If the next day is a Sunday or a bank holiday, the hearing may be the day after that. It’s
                usually in the morning.<p>
            <p>The adjudicating governor will decide if you’ve broken the rule and what the punishment is.</p>
        </div>
        <div class='break-inside-avoid'>
            <h2>Police</h2>
            <p>A member of prison staff or a governor might have to call the police if the charge was very serious. For example, for a serious assault.</p>
            <p>The hearing will be put on hold or ‘adjourned’ until the police have looked into it.</p>
            <p>You’ll be told if the police are investigating the charge.</p>
        </div>
        <div class='break-inside-avoid'>
            <h2>Independent adjudicator</h2>
            <p>The governor may decide that an 'independent adjudicator' should carry out the hearing. They’re also known as an ‘IA’. They’re a district
                judge. This might be for a charge which could pose a serious risk, but it’s not been referred to the police. Or it could be that the police have
                decided not to prosecute.</p>
            <p>The independent adjudicator is a judge from outside your prison. They can add extra days in prison as a punishment if you’re found guilty. The
                most days they can add for a charge is 42. But they cannot add extra days if you’re on an indeterminate sentence. This would include</p>
            <ul class='govuk-list govuk-list--bullet'>
                <li class='govuk-!-margin-bottom-1'>life</li>
                <li class='govuk-!-margin-bottom-1'>Imprisonment for Public Protection (IPP7)</li>
                <li class='govuk-!-margin-bottom-1'>a Detention Training Order (DTO7)</li>
                <li class='govuk-!-margin-bottom-1'>foreign national prisoners held under immigration powers</li>
            </ul>
            <p>You’ll be told if the governor refers the case to the independent adjudicator. You should be given a form saying when the hearing is. This is the
                IA5 form - ‘Prisoner Independent Adjudication Information’.</p>
            <p>The governor can refer the case at any time before they give a punishment. They would do this if they think the charge is serious enough for a
                punishment of added days.</p>
            <p>The independent adjudicator - and your solicitor, if you want one - will usually be on a screen. You’ll be in a private room for the hearing. You’ll
                be allowed to sit down and take notes if you want to. You’ll be allowed to speak to a solicitor on the phone before the hearing. There are details
                on this in PSI 05/2018. It’s in Annex I and paragraphs 2.14 to 2.19 of Annex A.</p>
            <p>The independent adjudicator will conduct the hearing like the governor would. They’ll start your hearing again if it had already started with the
                governor. All the evidence will be heard again. This is called ‘de novo’.</p>
            <p>The independent adjudicator may refer the charge back to the governor. This could be if
            <ul class='govuk-list govuk-list--bullet'>
                <li class='govuk-!-margin-bottom-1'>they do not think it's serious enough for them to deal with</li>
                <li class='govuk-!-margin-bottom-1'>it's very serious and they want the governor to think about referring it to the police</li>
            </ul>
            <p>Staff in the prison will keep you up to date about the charge. You can find out more in PSI 05/2018, in paragraphs 2.34a and 2.34b of Annex A.</p>
        </div>
        <div class='break-inside-avoid'>
            <h2>What can I do before the hearing?</h2>
            <p>You'll have time to get ready for the hearing. You’ll have at least 2 hours.</p>
            <h3>Write a statement</h3>
            <p>You can write a statement on what happened. There's a space on this form under 'Write a statement'. You can read this statement out at the
                hearing.</p>
            <p>You do not have to, though. You can just tell the governor at the hearing what happened.</p>
            <h3>Ask a friend for support</h3>
            <p>You can also ask a friend to help you, like another prisoner or someone else. They’re called a ‘McKenzie friend’. They’re only there to give you
                support at the hearing. They cannot give legal advice.</p>
            <p>You may also be able to call a witness to the hearing if they saw what happened. You might want the witness to say if there are any reasons you
                should get a lesser punishment.</p>
            </p>
            <h3>Get legal help</h3>
            <h4>Legal advice</h4>
            <p>If this is the first hearing for this charge, the governor will ask you if you want legal advice. You may have already contacted a solicitor. If there
                has not been time to contact a solicitor and you want legal advice, the hearing can be put on hold so you can get it.</p>
            <p>If it’s not the first hearing, the governor will decide if the hearing will be put on hold so you can get legal advice. They’ll use the guidance in PSI
                05/2018 (Annex A paragraph 2.17) to decide.</p>
            <h4>Legal representation</h4>
            <p>‘Legal representation’ is when a solicitor represents you at the hearing. They'll attend and help you put your case forward.</p>
            <p>If you want legal representation, the governor will decide if you can have it. They’ll use guidance called the ‘Tarrant Principles’. You can find
                information on this in PSI 05/2018. It's in paragraph 2.14 of Annex A.<p>
            <p>You would not usually have a solicitor to represent you in hearings with the governor. But if you’re allowed legal representation, the hearing
                will be paused until you can get it.</p>
            <p>If your hearing is with an independent adjudicator, you can have legal representation. Ask for it before your independent adjudication hearing.
                Ask for the IA5 form - ‘Prisoner Independent Adjudication Information’. You’ll have to give your solicitor’s email details.</p>
            <p>Fill this in as soon as possible so there’s time to contact your solicitor</p>
            <p>You’ll be able to talk to your solicitor over the phone before the hearing.
            <h3>Contact the Prisoners’ Advice Service</h3>
            <p>You can call the Prisoners’ Advice Service (PAS) on 020 7253 3323. They offer free legal advice and support.</p>
            <p>They’re open on Monday, Wednesday and Friday from 10am to 12.30pm, and 2pm to 4.30pm.</p>
            <p>PAS have another advice line for female prisoners. It’s open on Tuesday mornings between 10am and 12.30pm on 0800 024 0620.</p>
            <h3>Young offenders</h3>
            <p>If you’re a young offender, you can ask for help from an advocacy service.</p>
                The Howard League - call free on 0808 801 0308. They’re open:
            <ul class='govuk-list govuk-list--bullet'>
                <li class='govuk-!-margin-bottom-1'>Monday and Tuesday: 9.30am to 2pm</li>
                <li class='govuk-!-margin-bottom-1'>Wednesday: close</li>
                <li class='govuk-!-margin-bottom-1'>Thursday and Friday: 9.30am to 12pm</li>
            </ul>
            <p>Barnardo’s - call free on 0808 168 2694 at any time. They’ll respond to any message you leave them.</p>
        </div>
        <div class='break-inside-avoid'>
            <h2>What happens at the hearing?</h2>
            <p>This hearing will happen in a private room. You’ll be allowed to sit down and take notes if you want to.</p>
        </div>
        <div class='break-inside-avoid'>
            <h2></h2>
            <p></p>
        </div>
        <div class='break-inside-avoid'>
            <h2></h2>
            <p></p>
        </div>
        <div class='break-inside-avoid'>
            <h2></h2>
            <p></p>
        </div>
        <div class='break-inside-avoid'>
            <h2></h2>
            <p></p>
        </div>
        <div class='break-inside-avoid'>
            <h2></h2>
            <p></p>
        </div>
        <div class='break-inside-avoid'>
            <h2></h2>
            <p></p>
        </div>
        <div class='break-inside-avoid'>
            <h2></h2>
            <p></p>
        </div>
        <div class='break-inside-avoid'>
            <h2></h2>
            <p></p>
        </div>
        <div class='break-inside-avoid'>
            <h2></h2>
            <p></p>
        </div>
        <div class='break-inside-avoid'>
            <h2></h2>
            <p></p>
        </div>
        <div class='break-inside-avoid'>
            <h2></h2>
            <p></p>
        </div>
        <div class='break-inside-avoid'>
            <h2>What happens if you are referred to the police</h2>
            <p>If the Governor or Director believes that the charge against you is so serious that it should be referred
                to
                the police for further investigation, they will adjourn the hearing until the outcome of police
                enquiries is
                known. You will be told that the police are dealing with the charge.</p>
            <h2>What happens if you are referred to an independent adjudicator</h2>
            <p>The Governor or Director may decide to refer your case to an independent adjudicator, who is a District
                Judge, at any time before announcing any punishment.</p>
            <p>This happens if the Governor or Director thinks that the charge
                against you is:</p>
            <ul class='govuk-list govuk-list--bullet'>
                <li class='govuk-!-margin-bottom-1'>a serious charge but the case is not referred to the police, or
                    there is
                    no prosecution
                </li>
                <li class='govuk-!-margin-bottom-1'>serious enough for a punishment of additional days if you are found
                    guilty
                </li>
            </ul>
            <p>You will not receive additional days if you are serving an indeterminate sentence such as life,
                Imprisonment
                for Public Protection (IPP) or a Detention Training Order (DTO).</p>
        </div>
        <div class='break-inside-avoid'>
            <p>If the case is referred to an independent adjudicator, it will start
                again from the beginning and you will be issued with a ‘Template C form’.</p>
            <p>All evidence will be heard again; this is called being ‘de novo’. You
                will be entitled to legal representation at this hearing. For further details see Annex A paragraph 2.8
                of
                PSI 05/2018.</p>
            <p>A hearing with an independent adjudicator might be held virtually
                with you in the hearing room but the independent adjudicator speaking to you through a computer screen
                or
                some other device.</p>
            <h2>Starting the hearing</h2>
            <p>You will be asked if you:</p>
            <ul class='govuk-list govuk-list--bullet'>
                <li class='govuk-!-margin-bottom-1'>understand what happens in an adjudication hearing</li>
                <li class='govuk-!-margin-bottom-1'>understand what the charge against you is</li>
                <li class='govuk-!-margin-bottom-1'>have had enough time to prepare your defence to the charge</li>
                <li class='govuk-!-margin-bottom-1'>have written down what happened</li>
            </ul>
        </div>
        <div class='break-inside-avoid'>
            <h2>What happens during the hearing</h2>
            <p>The Governor or Director will ask the reporting officer to describe the allegation against you, and you
                may ask questions about their evidence. The reporting officer may call witnesses in support of the
                allegation.</p>
            <p>The reporting officer might also present any relevant physical or written evidence. For example, this
                could be unauthorised items said to have been found in your possession, or a positive MDT result.</p>
            <p>You will have an opportunity to explain what happened, and offer a defence if you want to plead not
                guilty.</p>
            <p>If the reporting officer is not available, evidence could be read in their absence. The hearing will be
                adjourned if you want to question the reporting officer.</p>
        </div>
        <div class='break-inside-avoid'>
            <h2>Pleading guilty or not guilty</h2>
            <p>You will be asked whether you plead guilty or not guilty to the charge.</p>
            <p>If you are proven guilty at the end of the hearing, a guilty plea will:</p>
            <ul class='govuk-list govuk-list--bullet'>
                <li class='govuk-!-margin-bottom-1'>usually result in a reduction in any punishment given</li>
                <li class='govuk-!-margin-bottom-1'>be taken into account by the Governor or Director, alongside any
                    other relevant factors, when deciding what punishment to give you
                </li>
            </ul>
        </div>
        <div class='break-inside-avoid'>
            <h2>Calling witnesses</h2>
            <p>The Governor or Director will ask whether you want to call any witnesses, and what evidence they might
                give. Witnesses will normally be called, but may be refused if the Governor or Director believes their
                evidence would not add anything. For example, if you wanted other prisoners to give evidence and they
                would say the same thing, only one would be called. You, the reporting officer, and the Governor or
                Director can question the witnesses.</p>
        </div>
        <div class='break-inside-avoid'>
            <h2>Getting legal advice and legal representation</h2>
            <p>The Governor or Director will ask whether you want legal advice or legal representation, or to be helped
                by a friend who could be another prisoner and would be known as a ‘McKenzie friend’.</p>
            <p>If you want legal advice, the initial hearing will usually be adjourned until a later date to give you
                time to contact a solicitor. If you want legal representation at the hearing where a solicitor attends
                and puts your case for you, the Governor or Director will consider your request using the guidance set
                out in PSI 05/2018 (Annex A, paragraph 2.14).</p>
            <p>Legal representation is rarely allowed in cases heard by Governors or Directors, but if they do agree,
                the hearing will be adjourned to give you time to arrange this.</p>
            <p>You are entitled to be legally represented if your case is referred to an independent adjudicator where a
                punishment of additional days is possible. You will be allowed to speak to your solicitor before the
                hearing. For further details see annex A, paragraph 2.8 of PSI 05/2018.</p>
        </div>
        <div class='break-inside-avoid'>
            <h2>Receiving the verdict</h2>
            <p>After hearing all the evidence and your defence, the Governor or Director must decide whether the charge
                has been proved beyond reasonable doubt, or whether it should be dismissed.</p>
            <p>If you are found guilty, you will be asked if you have anything to say about why you should be treated
                leniently and you can give any mitigation. They will also hear reports on your general behaviour in
                prison and about any previous adjudications.</p>
        </div>
        <div class='break-inside-avoid'>
            <h2>When you receive any punishment</h2>
            <p>The Governor or Director will then decide on the punishment for your offence which will take effect
                immediately - this includes if you are required to pay compensation for any damage to prison property.
                You will be given a form DIS7 giving you details of your punishment. That form will also explain what to
                do if you want to ask for a review of the decision.</p>
            <p>If the Governor or Director is considering a punishment of cellular confinement, they will ask a doctor
                or nurse to assess whether there are any medical reasons why this would not be appropriate for you on
                this occasion.</p>
        </div>
        <div class='break-inside-avoid'>
            <h2>After receiving any punishment</h2>
            <p>If you are not satisfied with the outcome, you can request a review of the findings - ask a member of
                staff for a ‘DIS8 - Request for review form’. You must request a review within 6 weeks of your
                adjudication hearing.</p>
            <p>You can also ask for legal advice at this stage. If the review is taken up by your solicitor, or any
                other party such as an MP or special interest group, you do not need to complete the DIS8 form. You can
                also write to the Prisons and Probation Ombudsman when any review has been completed.</p>
            <p>If your case was referred to an independent adjudicator, you or your solicitor can apply for a review of
                the punishment and any compensation you have been instructed to pay for any damage to prison property by
                completing form IA4 within 14 days of the outcome and sending that form to the Governor.</p>
            <p>If you receive a punishment of additional days added to your sentence, you can ask for some of these days
                to be removed, subject to conditions. You must do this within 6 months of the incident date. You can
                then apply every 6 months for any additional days to be removed.</p>
        </div>
        <div class='break-inside-avoid'>
            <h2>Write your statement</h2>
            <p>You can write a statement about any disciplinary charges against you using the space below. Ask for more
                paper if you need it. You will be able to read this out during the hearing.</p>
            <input type='text' class='adjudication-pdf-input adjudication-pdf-prisoner-statement'>
        </div>
    </div>
{% endmacro %}
