{% macro noticeOfBeingPlacedOnReportPage3(adjudicationNumber) %}
    <div class='adjudication-print-form-header page-break-before'>
        <h1 class='govuk-heading-m govuk-!-margin-2'>Notice of being put on report</h1>
        <h2 class='govuk-heading-s govuk-!-margin-2 govuk-!-font-size-14'>Report number: {{ adjudicationNumber }}</h2>
    </div>
    <div class='govuk-!-margin-2'>
        <h2 class='govuk-heading-s govuk-!-margin-bottom-1 govuk-!-font-size-14 govuk-!-font-weight-bold'>What happens
            during the hearing</h2>
        <p class='govuk-body govuk-!-font-size-14'>The Governor or Director will ask the reporting officer to describe
            the allegation against you, and you may ask questions about their evidence. The reporting officer may call
            witnesses in support of the allegation.</p>
        <p class='govuk-body govuk-!-font-size-14'>The reporting officer might also present any relevant physical or
            written evidence. For example, this could be unauthorised items said to have been found in your possession,
            or a positive MDT result.</p>
        <p class='govuk-body govuk-!-font-size-14'>You will have an opportunity to explain what happened, and offer a
            defence if you want to plead not guilty.</p>
        <p class='govuk-body govuk-!-font-size-14'>If the reporting officer is not available, evidence could be read in
            their absence. The hearing will be adjourned if you want to question the reporting officer.</p>
        <h2 class='govuk-heading-s govuk-!-margin-bottom-1 govuk-!-font-size-14 govuk-!-font-weight-bold'>Pleading
            guilty or not guilty</h2>
        <p class='govuk-body govuk-!-font-size-14'>You will be asked whether you plead guilty or not guilty to the
            charge.</p>
        <p class='govuk-body govuk-!-font-size-14'>If you are proven guilty at the end of the hearing, a guilty plea
            will:</p>
        <ul class='govuk-list govuk-list--bullet'>
            <li class='govuk-body govuk-!-font-size-14'>usually result in a reduction in any punishment given</li>
            <li class='govuk-body govuk-!-font-size-14'>be taken into account by the Governor or Director, alongside any
                other relevant factors, when deciding what punishment to give you
            </li>
        </ul>
        <h2 class='govuk-heading-s govuk-!-margin-bottom-1 govuk-!-font-size-14 govuk-!-font-weight-bold'>Calling
            witnesses</h2>
        <p class='govuk-body govuk-!-font-size-14'>The Governor or Director will ask whether you want to call any
            witnesses, and what evidence they might give. Witnesses will normally be called, but may be refused if the
            Governor or Director believes their evidence would not add anything. For example, if you wanted other
            prisoners to give evidence and they would say the same thing, only one would be called. You, the reporting
            officer, and the Governor or Director can question the witnesses.</p>
        <h2 class='govuk-heading-s govuk-!-margin-bottom-1 govuk-!-font-size-14 govuk-!-font-weight-bold'>Getting legal
            advice and legal representation</h2>
        <p class='govuk-body govuk-!-font-size-14'>The Governor or Director will ask whether you want legal advice or
            legal representation, or to be helped by a friend who could be another prisoner and would be known as a
            ‘McKenzie friend’.</p>
        <p class='govuk-body govuk-!-font-size-14'>If you want legal advice, the initial hearing will usually be
            adjourned until a later date to give you time to contact a solicitor. If you want legal representation at
            the hearing where a solicitor attends and puts your case for you, the Governor or Director will consider
            your request using the guidance set out in PSI 05/2018 (Annex A, paragraph 2.14).</p>
        <p class='govuk-body govuk-!-font-size-14'>Legal representation is rarely allowed in cases heard by Governors or
            Directors, but if they do agree, the hearing will be adjourned to give you time to arrange this.</p>
        <p class='govuk-body govuk-!-font-size-14'>You are entitled to be legally represented if your case is referred
            to an independent adjudicator where a punishment of additional days is possible. You will be allowed to
            speak to your solicitor before the hearing. For further details see annex A, paragraph 2.8 of PSI
            05/2018.</p>
        <h2 class='govuk-heading-s govuk-!-margin-bottom-1 govuk-!-font-size-14 govuk-!-font-weight-bold'>Receiving the
            verdict</h2>
        <p class='govuk-body govuk-!-font-size-14'>After hearing all the evidence and your defence, the Governor or
            Director must decide whether the charge has been proved beyond reasonable doubt, or whether it should be
            dismissed.</p>
        <p class='govuk-body govuk-!-font-size-14'>If you are found guilty, you will be asked if you have anything to
            say about why you should be treated leniently and you can give any mitigation. They will also hear reports
            on your general behaviour in prison and about any previous adjudications.</p>
        <h2 class='govuk-heading-s govuk-!-margin-bottom-1 govuk-!-font-size-14 govuk-!-font-weight-bold'>When you
            receive any punishment</h2>
        <p class='govuk-body govuk-!-font-size-14'>The Governor or Director will then decide on the punishment for your
            offence which will take effect immediately - this includes if you are required to pay compensation for any
            damage to prison property. You will be given a form DIS7 giving you details of your punishment. That form
            will also explain what to do if you want to ask for a review of the decision.</p>
        <p class='govuk-body govuk-!-font-size-14'>If the Governor or Director is considering a punishment of cellular
            confinement, they will ask a doctor or nurse to assess whether there are any medical reasons why this would
            not be appropriate for you on this occasion.</p>
    </div>
{% endmacro %}