{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro offenceQuestionsAndAnswers(questionsAndAnswers, chargeNumber, showDelete) %}
    <div data-qa="question-answer-section-1">
        {% for questionAndAnswer in questionsAndAnswers %}
            {% set questionAndAnswerIndex = loop.index %}
            <p class="govuk-!-margin-bottom-1 govuk-label--s"
               data-qa="question-{{ questionAndAnswerIndex }}">{{ questionAndAnswer.question }}</p>
            <p class="govuk-!-margin-bottom-5 govuk-label--xs"
               data-qa="answer-{{ questionAndAnswerIndex }}">{{ questionAndAnswer.answer }}</p>
        {% endfor %}
    </div>
{% endmacro %}