{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro offenceQAndASummaryList(offence, isYouthOffender, attributes = {}, classes='') %}
  {% set rows = [] %}

    {# Add YOI rule to table rows #}
    {% if isYouthOffender %}
        {% set ruleValue = { html:
            '<p>YOI offences</p><p>' + true | prisonRule + '</p>'
        } %}
    {% else %}
        {% set ruleValue = { html:
            '<p>Adult offences</p><p>' + false | prisonRule + '</p>'
        } %}
    {% endif %}

    {% set rows = (rows.push(
        {
            key: {
                text: 'Which set of rules apply to the prisoner?'
            },
            value: ruleValue
        }
    ), rows) %}

    {# Add questions and answers to table rows #}
    {% for questionAndAnswer in offence.questionsAndAnswers %}
        {% set value = {text: questionAndAnswer.answer} %}
        {% set rows = (rows.push(
        {
            key: {
                text: questionAndAnswer.question
            },
            value: value
        }
        ), rows) %}
    {% endfor %}

    {# Add final row - the paragraph numbers #}
    {% if offence.incidentRule %}
        {% set offencesValue = { html:
            '<p>' + isYouthOffender | prisonRule + ', paragraph ' + offence.incidentRule.paragraphNumber + '</p>' +
            '<p>' + offence.incidentRule.paragraphDescription + '</p>' +
            '<p>' + isYouthOffender | prisonRule + ', paragraph ' + offence.offenceRule.paragraphNumber + '</p>' +
            '<p>' + offence.offenceRule.paragraphDescription + '</p>'
        } %}
    {% else %}
        {% set offencesValue = { html:
            '<p>' + isYouthOffender | prisonRule + ', paragraph ' + offence.offenceRule.paragraphNumber + '</p>' +
            '<p>' + offence.offenceRule.paragraphDescription + '</p>'
        } %}
     {% endif %}
    {% set rows = (rows.push(
        {
            key: {
                text: 'This offence broke'
            },
            value: offencesValue
        }
    ), rows) %}



  {% if rows.length %}
    {{ govukSummaryList({
      rows: rows,
      classes: classes,
      attributes: attributes
    }) }}
  {% endif %}

{% endmacro %}