{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro officerSearchOffenceCodeDecisionInput(answerId, decisionForm, selectedAnswerViewData, errors) %}
    {% set selectedAnswerId = decisionForm.selectedAnswerId %}
    {% set officerId = decisionForm.selectedAnswerData.officerId %}
    {% set officerSearchNameInput = decisionForm.selectedAnswerData.officerSearchNameInput %}
    {% set officerName = selectedAnswerViewData.officerName %}

    {% if selectedAnswerId == answerId and officerId != null %}
        <input id="officerId" type="hidden" name="officerId" value="{{ officerId }}"/>
        <div>
            <p data-qa="victim-officer-name">
                <span class="govuk-!-font-weight-bold">Name</span> - {{ officerName }}
            </p>
            <p>
                <span class="govuk-!-font-weight-bold">User ID</span> - {{ officerId }}
            </p>
            <div>
                {{ govukButton({
                    text: 'Delete',
                    classes: "govuk-button--secondary",
                    type: "submit",
                    name: "deleteUser",
                    value: "deleteUser",
                    preventDoubleClick: true
                }) }}
            </div>
        </div>
    {% else %}
        <div id="officerName" class="flex-container flex-center">
            <div class="govuk-!-margin-right-3 officerSearchNameInputContainer">
                {{ govukInput({
                id: "officerSearchNameInput",
                name: "officerSearchNameInput",
                classes: "govuk-!-width-full-width",
                value: selectedAnswerId == answerId and officerSearchNameInput,
                errorMessage: errors | findErrors(["officerSearchNameInput"]),
                label: {
                    text: "Enter their name",
                    classes: "govuk-!-font-weight-bold"
                }
            }) }}
            </div>
            {{ govukButton({
                text: "Search",
                classes: "govuk-button--secondary conditionalRadioSearchButton",
                type: "submit",
                name: "searchUser",
                value: "searchUser",
                preventDoubleClick: true,
                attributes: {"data-qa": "officer-search"}
            }) }}
        </div>

    {% endif %}

{% endmacro %}