{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro officerSearchOffenceCodeDecisionInput(answerId, decisionForm, selectedAnswerViewData, errors) %}
    {% set selectedAnswerId = decisionForm.selectedAnswerId %}
    {% set officerId = decisionForm.selectedAnswerData.officerId %}
    {% set officerSearchFirstNameInput = decisionForm.selectedAnswerData.officerSearchFirstNameInput %}
    {% set officerSearchLastNameInput = decisionForm.selectedAnswerData.officerSearchLastNameInput %}
    {% set officerName = selectedAnswerViewData.officerName %}

    {% if selectedAnswerId == answerId and officerId != null %}
        <input type="hidden" name="officerId" value="{{ officerId }}" />
        <div>
            <p><span class="govuk-!-font-weight-bold">Name</span> - {{ officerName }} </p>
            <p><span class="govuk-!-font-weight-bold">User ID</span> - {{ officerId }} </p>
            <div>
                {{ govukButton({
                    text: 'Delete',
                    classes: "govuk-button--secondary",
                    type: "submit",
                    name: "deleteUser",
                    value: "deleteUser"
                }) }}
            </div>
        </div>
    {% else %}

        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Enter their name</p>
        <div id="officerName" class="govuk-form-group flex-container flex-column">
            {{ govukInput({
                id: "officerSearchFirstNameInput",
                name: "officerSearchFirstNameInput",
                classes: "govuk-!-width-one-third",
                value: selectedAnswerId == answerId and officerSearchFirstNameInput,
                errorMessage: errors | findErrors(["officerSearchFirstNameInput"]),
                label: {
                    text: "First name"
                }
            }) }}
            {{ govukInput({
                id: "officerSearchLastNameInput",
                name: "officerSearchLastNameInput",
                classes: "govuk-!-width-one-third",
                value: selectedAnswerId == answerId and officerSearchLastNameInput,
                errorMessage: errors | findErrors(["officerSearchLastNameInput"]),
                label: {
                    text: "Last name"
                }
            }) }}
        </div>
        <div>
            {{ govukButton({
                text: "Search",
                classes: "govuk-button--secondary conditionalRadioSearchButton",
                type: "submit",
                name: "searchUser",
                value: "searchUser"
            }) }}
        </div>
    {% endif %}

{% endmacro %}