{% macro onReportInfo(prisonerFirstAndLastName, expirationTime, expirationDay, showPrisonerPreferredLanguage, prisonerPreferredLanguage, showPrisonerOtherLanguages, prisonerOtherLanguages, showPrisonerNeurodiversities, prisonerNeurodiversities) %}
 <div class="confirmed-on-report-section">

  <p class="govuk-body">{{ prisonerFirstAndLastName }} must be given a copy of this report by {{ expirationTime }} on {{ expirationDay }}.</p>
  <div class="govuk-inset-text">You must follow local processes. You might need to give a copy of the printed report to another member of staff to review before it is given to {{ prisonerFirstAndLastName }}.</div>

  <p class="govuk-body">You must make sure that {{ prisonerFirstAndLastName }} can understand the report.</p>

  {% if showPrisonerPreferredLanguage %}
   <div class="confirmed-on-report-section">
    <p class="confirmed-on-report-list-header-text">{{ prisonerFirstAndLastName | possessive }} preferred language is:</p>
    <ul class="govuk-list govuk-list--bullet">
     <li>{{ prisonerPreferredLanguage }}</li>
    </ul>
   </div>

   {% if showPrisonerOtherLanguages %}
    <div class="confirmed-on-report-section">
     <p class="confirmed-on-report-list-header-text">They have other languages of:</p>
     <ul class="govuk-list govuk-list--bullet">
      {% for entry in prisonerOtherLanguages %}
       <li>{{ entry }}</li>
      {% endfor %}
     </ul>
    </div>
   {% endif %}
  {% endif %}

  {% if showPrisonerNeurodiversities %}
   <div class="confirmed-on-report-section">
    <p class="confirmed-on-report-list-header-text">They have recorded disabilities and learning difficulties of:</p>
    <ul class="govuk-list govuk-list--bullet">
     {% for entry in prisonerNeurodiversities %}
      <li>{{ entry }}</li>
     {% endfor %}
    </ul>
   </div>
  {% endif %}
 {% endmacro %}
 </div>

