{% from "govuk/components/input/macro.njk" import govukInput %}

{% macro otherPersonOffenceCodeDecisionInput(answerId, decisionForm, selectedAnswerViewData, errors) %}
    {% set selectedAnswerId = decisionForm.selectedAnswerId %}
    {% set anotherNameInput = decisionForm.selectedAnswerData.otherPersonNameInput %}
        <div id="otherPersonName" class="govuk-form-group flex-container flex-column">
            {{ govukInput({
                id: "otherPersonNameInput",
                name: "otherPersonNameInput",
                classes: "govuk-!-width-one-third",
                value: selectedAnswerId == answerId and anotherNameInput,
                errorMessage: errors | findErrors(["otherPersonNameInput"]),
                label: {
                    text: "Enter their name",
                    classes: "govuk-!-font-weight-bold"
                }
            }) }}
        </div>
{% endmacro %}