{% from "govuk/components/input/macro.njk" import govukInput %}

{% macro otherPersonOffenceCodeDecisionInput(questionId, decisionForm, selectedDecisionViewData, errors) %}
    {% set selectedDecisionId = decisionForm.selectedDecisionId %}
    {% set anotherNameInput = decisionForm.selectedDecisionData.otherPersonNameInput %}
        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Enter a name</p>
        <div id="otherPersonName" class="govuk-form-group flex-container flex-column">
            {{ govukInput({
                id: "otherPersonNameInput",
                name: "otherPersonNameInput",
                classes: "govuk-!-width-one-third",
                value: selectedDecisionId == questionId and staffSearchFirstNameInput,
                errorMessage: errors | findErrors(["otherPersonNameInput"]),
                label: {
                    text: "Enter a name"
                }
            }) }}
        </div>
{% endmacro %}