{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% macro outcomeSummary(outcome = {}, attributes = {}, changeLinksActive = false) %}
  {% if changeLinksActive %}
  {# change link set up in here #}
  {% endif %}

  {% set rows = [] %}

  {% for item in outcome.display %}
    {% if outcome.code == OutcomeCode.NOT_PROCEED %}
      {% set value = { html: '<p class="govuk-body">'+ item.reason | convertNotProceedReason +'</p><p class="govuk-body">'+ item.details +'</p>' } %}
    {% else %}
      {% if item.reason %}
        {% set value = { html: '<p class="govuk-body">'+ item.reason | convertNotProceedReason +'</p><p class="govuk-body">'+ item.details +'</p>' } %}
      {% else %}
        {% set value = { text: item.value } %}
      {% endif %}
    {% endif %}


   {% set rows = (rows.push(
      {
        key: { text: item.label },
        value: value
      }
    ), rows) %}

{% endfor %}


  {% if rows.length %}
    {{ govukSummaryList({
      rows: rows,
      attributes: attributes
    }) }}
  {% endif %}
{% endmacro %}