{% macro prepareAndRecordAnAdjudicationHearingDetails(prepareAndRecordAnAdjudicationHearingData) %}
<div class='govuk-!-margin-left-8 govuk-!-margin-right-8'>
    <h2 class='adjudication-pdf-section-header'>Section 2 - Details of hearing</h2>
    <div class="restricted-width">
    <p>
        There is space for 4 hearings to be recorded on this form. If there are more, record the following details in the ‘Record of hearing’ box.
    </p>
    <p>
        If the prisoner refuses to attend, ask for the accused to be kept informed of proceedings at key points during the hearing. If you decide not to do this, record the reasons in the ‘Record of hearing’ box.
    </p>
    <p>
        If you refuse to allow the prisoner to attend, record the decision and reasons in the ‘Record of hearing’ box, saying why it was just and fair in the circumstances. (See PSI 05/2018 Annex A Paras 2.3 and 2.4.)
    </p>
    </div>
    {% for hearing in range(0,4) %}
    <section class="page-break-before-always">
    <h3 class='adjudication-pdf-section-header-inner'>{{ loop.index | convertToWord | toUpperCase }} hearing</h3>
    <div class='adjudication-pdf-section-hearing-details'>
      <div class="adjudication-pdf-section-hearing-details__item">
        <p class='govuk-!-margin-bottom-1'>Date (DD/MM/YYYY)</p>
        <input type='text' class='adjudication-pdf-input adjudication-pdf-input__square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__square'>
        <span>
          <strong> / </strong>
        </span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__square'>
        <span>
          <strong> / </strong>
        </span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__square'>
      </div>
      <div class='adjudication-pdf-section-hearing-details__item'>
        <p class='govuk-!-margin-bottom-1'>Start time</p>
        <input class='adjudication-pdf-input adjudication-pdf-input__square' type='text'><input class='adjudication-pdf-input adjudication-pdf-input__square' type='text'>
        <span>
          <strong> : </strong>
        </span><input class='adjudication-pdf-input adjudication-pdf-input__square' type='text'><input class='adjudication-pdf-input adjudication-pdf-input__square' type='text'>
      </div>
    </div>
    <div class='adjudication-pdf-section-prepare-record-checkboxes govuk-!-margin-top-3 break-inside-avoid'>
      <p class='adjudication-pdf-section-prepare-record-checkboxes__item'>Is the prisoner attending the hearing?</p>
      <div class='adjudication-pdf-section-prepare-record-checkboxes__item'>
        <input type='text' class='adjudication-pdf-input adjudication-pdf-input__small-square'>
        <span> Yes</span>
        <input type='text' class='adjudication-pdf-input adjudication-pdf-input__small-square govuk-!-margin-left-3'>
        <span> No</span>
      </div>
    </div>
    <div class='govuk-!-margin-top-3 break-inside-avoid'>
      <p class='govuk-!-margin-top-3'>If No, give reasons why the prisoner did not attend.</p>
      <input type='text' class='adjudication-pdf-input adjudication-pdf-small-text-area'>
    </div>
    <div class='adjudication-pdf-section-prepare-record-checkboxes govuk-!-margin-top-3 break-inside-avoid'>
      <p class='adjudication-pdf-section-prepare-record-checkboxes__item'>Does the prisoner understand the charge?</p>
      <div class='adjudication-pdf-section-prepare-record-checkboxes__item'>
        <input type='text' class='adjudication-pdf-input adjudication-pdf-input__small-square'>
        <span> Yes</span>
        <input type='text' class='adjudication-pdf-input adjudication-pdf-input__small-square govuk-!-margin-left-3'>
        <span> No</span>
      </div>
    </div>
    <div class='govuk-!-margin-top-3 break-inside-avoid'>
      <p class='govuk-!-margin-top-3'>If No, offer the prisoner a futher explanation of the charge and record the details.</p>
      <input type='text' class='adjudication-pdf-input adjudication-pdf-small-text-area'>
    </div>
    <div class='adjudication-pdf-section-prepare-record-checkboxes govuk-!-margin-top-3 break-inside-avoid'>
      <p class='adjudication-pdf-section-prepare-record-checkboxes__item'>Does the prisoner need help?</p>
      <div class='adjudication-pdf-section-prepare-record-checkboxes__item'>
        <input type='text' class='adjudication-pdf-input adjudication-pdf-input__small-square'>
        <span> Yes</span>
        <input type='text' class='adjudication-pdf-input adjudication-pdf-input__small-square govuk-!-margin-left-3'>
        <span> No</span>
      </div>
    </div>
    <div class='adjudication-pdf-section-prepare-record-checkboxes govuk-!-margin-top-3 break-inside-avoid'>
      <p class='adjudication-pdf-section-prepare-record-checkboxes__item'>If Yes, what type of help is needed?</p>
      <div class='adjudication-pdf-section-prepare-record-checkboxes__item'>
        <input type='text' class='adjudication-pdf-input adjudication-pdf-input__small-square'>
        <span> Interpreter</span>
        <input type='text' class='adjudication-pdf-input adjudication-pdf-input__small-square govuk-!-margin-left-3'>
        <span> Disability aid</span>
        <br>
        <input type='text' class='adjudication-pdf-input adjudication-pdf-input__small-square'>
        <span> Other (specify)</span>
        <input type="text" class="adjudication-pdf-section-other-underline">
      </div>
    </div>
    <div class='adjudication-pdf-section-prepare-record-checkboxes govuk-!-margin-top-3 break-inside-avoid'>
      <p class='adjudication-pdf-section-prepare-record-checkboxes__item'>Does the prisoner have any questions at this stage?</p>
      <div class='adjudication-pdf-section-prepare-record-checkboxes__item'>
        <input type='text' class='adjudication-pdf-input adjudication-pdf-input__small-square'>
        <span> Yes</span>
        <input type='text' class='adjudication-pdf-input adjudication-pdf-input__small-square govuk-!-margin-left-3'>
        <span> No</span>
      </div>
    </div>
    <div class='adjudication-pdf-section-prepare-record-checkboxes govuk-!-margin-top-3 break-inside-avoid'>
      <p class='adjudication-pdf-section-prepare-record-checkboxes__item'>Did the prisoner receive the DIS1/2 ‘Notice of being placed on report’ at least 2 hours before the start of this adjudication hearing?</p>
      <div class='adjudication-pdf-section-prepare-record-checkboxes__item'>
        <input type='text' class='adjudication-pdf-input adjudication-pdf-input__small-square'>
        <span> Yes</span>
        <input type='text' class='adjudication-pdf-input adjudication-pdf-input__small-square govuk-!-margin-left-3'>
        <span> No</span>
      </div>
    </div>
    <div class='govuk-!-margin-top-3 break-inside-avoid'>
      <p class='govuk-!-margin-top-3'>If No, record the reason</p>
      <input type='text' class='adjudication-pdf-input adjudication-pdf-brief-text-area'>
    </div>

    <div class='govuk-!-margin-top-3 break-inside-avoid'>
      <h3 class='adjudication-pdf-section-header-inner'>Prisoner’s preparation for the hearing</h3>

      <div class='adjudication-pdf-section-prepare-record-checkboxes govuk-!-margin-top-3 break-inside-avoid'>
        <p class='adjudication-pdf-section-prepare-record-checkboxes__item'>Did the prisoner have enough time to prepare for this hearing?</p>
        <div class='adjudication-pdf-section-prepare-record-checkboxes__item'>
          <input type='text' class='adjudication-pdf-input adjudication-pdf-input__small-square'>
          <span> Yes</span>
          <input type='text' class='adjudication-pdf-input adjudication-pdf-input__small-square govuk-!-margin-left-3'>
          <span> No</span>
        </div>
      </div>

      <div class='adjudication-pdf-section-prepare-record-checkboxes govuk-!-margin-top-3 break-inside-avoid'>
        <p class='adjudication-pdf-section-prepare-record-checkboxes__item'>Did the prisoner prepare a written statement? (Read it out when the prisoner gives evidence or at the mitigation stage.)</p>
        <div class='adjudication-pdf-section-prepare-record-checkboxes__item'>
          <input type='text' class='adjudication-pdf-input adjudication-pdf-input__small-square'>
          <span> Yes</span>
          <input type='text' class='adjudication-pdf-input adjudication-pdf-input__small-square govuk-!-margin-left-3'>
          <span> No</span>
        </div>
      </div>
    </div>

    <div class='govuk-!-margin-top-3 break-inside-avoid'>
      <h3 class='adjudication-pdf-section-header-inner'>Witnesses asked to the hearing</h3>

      <div class='adjudication-pdf-section-prepare-record-checkboxes govuk-!-margin-top-3 break-inside-avoid'>
        <p class='adjudication-pdf-section-prepare-record-checkboxes__item'>Does the prisoner wish to call any witnesses?</p>
        <div class='adjudication-pdf-section-prepare-record-checkboxes__item'>
          <input type='text' class='adjudication-pdf-input adjudication-pdf-input__small-square'>
          <span> Yes</span>
          <input type='text' class='adjudication-pdf-input adjudication-pdf-input__small-square govuk-!-margin-left-3'>
          <span> No</span>
        </div>
      </div>
      <div class='govuk-!-margin-top-3 break-inside-avoid'>
        <p class='govuk-!-margin-top-3'>If Yes, list the witness(es).</p>
        <input type='text' class='adjudication-pdf-input adjudication-pdf-small-text-area'>
      </div>
      <div class='govuk-!-margin-top-3 break-inside-avoid'>
        <p class='govuk-!-margin-top-3'>Say why any witnesses were accepted or refused.</p>
        <input type='text' class='adjudication-pdf-input adjudication-pdf-brief-text-area'>
      </div>
    </div>

    <div class='govuk-!-margin-top-3 break-inside-avoid'>
      <h3 class='adjudication-pdf-section-header-inner'>The accused’s plea</h3>

      <div class='adjudication-pdf-section-prepare-record-checkboxes govuk-!-margin-top-3 break-inside-avoid'>
        <p class='adjudication-pdf-section-prepare-record-checkboxes__item'>How does the prisoner plead to the charge?</p>
        <div class='adjudication-pdf-section-prepare-record-checkboxes__item'>
          <input type='text' class='adjudication-pdf-input adjudication-pdf-input__small-square'>
          <span> Guilty</span>
          <input type='text' class='adjudication-pdf-input adjudication-pdf-input__small-square govuk-!-margin-left-3'>
          <span> Not guilty</span>
        </div>
      </div>
    </div>
    </section>
    {% endfor %}
    <section class="page-break-before-always">
      <h3 class='adjudication-pdf-section-header-inner'>Record of the hearing</h3>
      <p>Record:</p>
      <ul>
        <li>all evidence given, including physical evidence such as CCTV and body-worn video camera
evidence</li>
        <li>any damage impact assessments</li>
        <li>reasons for decisions made during the course of the hearing, such as adjournments</li>
        <li>reasons for finding  thecharge proved or not</li>
        <li>any other relevant points</li>
      </ul>
      <input type='text' class='adjudication-pdf-input adjudication-pdf-input-text-box-large-full-width'>
    </section>

    <section class="break-inside-avoid page-break-before-always">
      <h3 class='adjudication-pdf-section-header-inner'>Finding</h3>
      <div class="adjudication-pdf-section-finding-checkboxes">
        <div class="adjudication-pdf-section-finding-checkboxes__item">
          <input type='text' class='adjudication-pdf-input adjudication-pdf-input__small-square'>
          <span> Charge proved beyond reasonable doubt</span>
        </div>
        <div class="adjudication-pdf-section-finding-checkboxes__item">
          <input type='text' class='adjudication-pdf-input adjudication-pdf-input__small-square govuk-!-margin-left-3'>
          <span> Charge dismissed due to ‘not guilty’ finding</span>
        </div>
      </div>
      <div class="adjudication-pdf-section-finding-checkboxes__item govuk-!-margin-top-3">
        <input type='text' class='adjudication-pdf-input adjudication-pdf-input__small-square'>
        <span> Charge not proceeded with for any other reason</span>
      </div>
      <div class='govuk-!-margin-top-3 break-inside-avoid'>
        <p class='govuk-!-margin-top-3'>If charge not proceeded with, give reasons why (see PSI 05/2018 – Annex A paragraph 2.56).</p>
        <input type='text' class='adjudication-pdf-input adjudication-pdf-brief-text-area'>
      </div>
      <div class="govuk-!-margin-top-3">
        <p class='govuk-!-margin-bottom-1'>Prisoner informed of outcome (DD/MM/YYYY)</p>
        <input type='text' class='adjudication-pdf-input adjudication-pdf-input__square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__square'>
        <span>
          <strong> / </strong>
        </span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__square'>
        <span>
          <strong> / </strong>
        </span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__square'>
      </div>
    </section>
    <section>
      <h2 class='adjudication-pdf-section-header-inner'>To be completed if the charge is proved beyond reasonable doubt</h2>
      <h3 class='adjudication-pdf-section-subheader-inner'>Mitigation</h3>
      <p>Ask the prisoner if there are reasons why a lesser punishment than normal should be given for this offence, which have not been mentioned before.</p>

      <div class='adjudication-pdf-section-prepare-record-checkboxes govuk-!-margin-top-3 break-inside-avoid'>
        <p class='adjudication-pdf-section-prepare-record-checkboxes__item'>Does the prisoner wish to mention any reasons?</p>
        <div class='adjudication-pdf-section-prepare-record-checkboxes__item'>
          <input type='text' class='adjudication-pdf-input adjudication-pdf-input__small-square'>
          <span> Yes</span>
          <input type='text' class='adjudication-pdf-input adjudication-pdf-input__small-square govuk-!-margin-left-3'>
          <span> No</span>
        </div>
      </div>

      <div class='govuk-!-margin-top-3 break-inside-avoid'>
        <p class='govuk-!-margin-top-3'>If Yes, record any mitigating evidence.</p>
        <input type='text' class='adjudication-pdf-input adjudication-pdf-small-text-area'>
      </div>

      <div class='adjudication-pdf-section-prepare-record-checkboxes govuk-!-margin-top-3 break-inside-avoid'>
        <p class='adjudication-pdf-section-prepare-record-checkboxes__item'>Does the prisoner wish to call any witnesses to support their reasons?</p>
        <div class='adjudication-pdf-section-prepare-record-checkboxes__item'>
          <input type='text' class='adjudication-pdf-input adjudication-pdf-input__small-square'>
          <span> Yes</span>
          <input type='text' class='adjudication-pdf-input adjudication-pdf-input__small-square govuk-!-margin-left-3'>
          <span> No</span>
        </div>
      </div>

      <div class='govuk-!-margin-top-3 break-inside-avoid'>
        <p class='govuk-!-margin-top-3'>If Yes, enter their names</p>
        <input type='text' class='adjudication-pdf-input adjudication-pdf-small-text-area'>
      </div>
    </section>

    <section>
      <div class="break-inside-avoid">
      <h3 class='adjudication-pdf-section-subheader-inner'>Adjudication report</h3>
      <p>Read out the DIS5 ‘Sentence and adjudication history’.</p>
      </div>
      <div class='adjudication-pdf-section-prepare-record-checkboxes govuk-!-margin-top-3 break-inside-avoid'>
        <p class='adjudication-pdf-section-prepare-record-checkboxes__item'>Does the prisoner wish to comment on this report, or do they have any questions they wish to ask about it?</p>
        <div class='adjudication-pdf-section-prepare-record-checkboxes__item'>
          <input type='text' class='adjudication-pdf-input adjudication-pdf-input__small-square'>
          <span> Yes</span>
          <input type='text' class='adjudication-pdf-input adjudication-pdf-input__small-square govuk-!-margin-left-3'>
          <span> No</span>
        </div>
      </div>

      <div class='break-inside-avoid'>
        <p>If Yes, enter their comments and/or questions.</p>
        <input type='text' class='adjudication-pdf-input adjudication-pdf-brief-text-area'>
      </div>
    </section>

    <section>
      <h3 class='adjudication-pdf-section-subheader-inner'>Conduct report</h3>
      <p class="restricted-width">Read out the DIS6 ‘Conduct report’ on the prisoner’s behaviour during their current sentence. Any safer custody terms must be entered on the prisoner’s record and P-NOMIS, and appropriate action must be taken.</p>
      <div class='adjudication-pdf-section-prepare-record-checkboxes govuk-!-margin-top-3 break-inside-avoid'>
        <p class='adjudication-pdf-section-prepare-record-checkboxes__item'>Does the prisoner wish to comment on this report, or do they have any questions they wish to ask about it?</p>
        <div class='adjudication-pdf-section-prepare-record-checkboxes__item'>
          <input type='text' class='adjudication-pdf-input adjudication-pdf-input__small-square'>
          <span> Yes</span>
          <input type='text' class='adjudication-pdf-input adjudication-pdf-input__small-square govuk-!-margin-left-3'>
          <span> No</span>
        </div>
      </div>
    </section>

    <section>
      <h2 class='adjudication-pdf-section-header-inner'>Punishment</h2>
      <h3 class='adjudication-pdf-section-subheader-inner'>Punishment guidelines</h3>
      <p class="restricted-width">Consider punishment, including any possible not punitive compensation requirement for recovery of monies for damages to prison property, Take account of PSI 05/2018 Annex A para 2.64 and Annex C, including whether the prisoner is on an open ACCT or had an ACCT closed within 3 months of the charge being laid.</p>
      <div class='govuk-!-margin-top-3 break-inside-avoid'>
        <p class='govuk-!-margin-top-3 restricted-width'>If so, consider whether there are any risk factors that should be considered when imposing a punishment. Record any relevant points.</p>
        <input type='text' class='adjudication-pdf-input adjudication-pdf-brief-text-area'>
      </div>
    </section>

    <section>
      <h3 class='adjudication-pdf-section-subheader-inner'>For governor/director only</h3>
      <div class="restricted-width">
      <p>Consider whether additional days may be an appropriate punishment, and if so refer the case to the independent adjudicator.</p>
      <div class="break-inside-avoid">
      <h3 class='adjudication-pdf-section-subheader-inner'>Cellular confinement</h3>
      <p>If considering cellular confinement (CC), confirm Initial Segregation Health Screen (ISHS) recording fitness for this punishment has been completed before a decision on punishment is made, and take the recommendation into account.</p>
      <p>If the ISHS has not been completed, adjourn and ensure it’s completed within 2 hours of the hearing being completed. Record the outcome of the assessment. <span class="govuk-!-font-weight-bold">Attach the ISHS to this record.</span></p>
      <p>If imposing suspended cellular confinement, ensure a further ISHS is completed before any punishment is activated.</p>
      </div>
      </div>
      <h3 class='adjudication-pdf-section-subheader-inner'>Punishment decision</h3>
      <input type='text' class='adjudication-pdf-input adjudication-pdf-small-text-area'>
    </section>

    <section>
      <h3 class='adjudication-pdf-section-header-inner'>Announce the punishment</h3>
      <div class='adjudication-pdf-section-prepare-record-checkboxes govuk-!-margin-top-3 break-inside-avoid'>
        <p class='adjudication-pdf-section-prepare-record-checkboxes__item'>Have you explained the punishment and/or non-punitive compensation requirement (damages)?</p>
        <div class='adjudication-pdf-section-prepare-record-checkboxes__item'>
          <input type='text' class='adjudication-pdf-input adjudication-pdf-input__small-square'>
          <span> Yes</span>
          <input type='text' class='adjudication-pdf-input adjudication-pdf-input__small-square govuk-!-margin-left-3'>
          <span> No</span>
        </div>
      </div>
      <div class='adjudication-pdf-section-prepare-record-checkboxes govuk-!-margin-top-3 break-inside-avoid'>
        <p class='adjudication-pdf-section-prepare-record-checkboxes__item'>Have you explained the review process to the prisoner and, where applicable, how to apply for restoration of added days imposed? Also confirm you’ve given the prisoner a competed DIS7 ‘Adjudication result’ and told them they can ask a member of staff for help in understanding it.</p>
        <div class='adjudication-pdf-section-prepare-record-checkboxes__item'>
          <input type='text' class='adjudication-pdf-input adjudication-pdf-input__small-square'>
          <span> Yes</span>
          <input type='text' class='adjudication-pdf-input adjudication-pdf-input__small-square govuk-!-margin-left-3'>
          <span> No</span>
        </div>
      </div>
      <div class='adjudication-pdf-section-prepare-record-checkboxes govuk-!-margin-top-3 break-inside-avoid'>
        <p class='adjudication-pdf-section-prepare-record-checkboxes__item'>It’s important that a record of the finding, punishment and any non- punitive compensation requirement is recorded on P-NOMIS and the prisoner’s core record, and that this paperwork is retained in line with data retention guidelines. Have you directed a member of staff to do this?</p>
        <div class='adjudication-pdf-section-prepare-record-checkboxes__item'>
          <input type='text' class='adjudication-pdf-input adjudication-pdf-input__small-square'>
          <span> Yes</span>
          <input type='text' class='adjudication-pdf-input adjudication-pdf-input__small-square govuk-!-margin-left-3'>
          <span> No</span>
        </div>
      </div>
      <p>The finding and punishment, if any, must be entered on the prisoner’s record F2050 and P-NOMIS.</p>
    </section>
    <section class="govuk-!-margin-top-3 break-inside-avoid">
      <div class="adjudication-pdf-section-signature-boxes">
        <div class="adjudication-pdf-section-signature-boxes__item">
          <p>Signature of governor/adjudicator</p>
          <input type='text' class='adjudication-pdf-input adjudication-pdf-signature-box'>
        </div>
        <div class="adjudication-pdf-section-signature-boxes__item govuk-!-margin-left-3">
          <p>Name (BLOCK CAPITALS)</p>
          <input type='text' class='adjudication-pdf-input adjudication-pdf-signature-box'>
        </div>
      </div>
      <div class="adjudication-pdf-section-date-signature govuk-!-margin-left-3">
        <div class="adjudication-pdf-section-date-signature__item ">
        <p class='govuk-!-margin-top-3'>Date (DD/MM/YYYY)</p>
        <input type='text' class='adjudication-pdf-input adjudication-pdf-input__square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__square'>
        <span>
          <strong> / </strong>
        </span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__square'>
        <span>
          <strong> / </strong>
        </span><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__square'><input type='text'  class='adjudication-pdf-input adjudication-pdf-input__square'>
        </div>
      </div>
    </section>
</div>

  {% endmacro %}
