{% macro printLink(linkText = 'Print this page', href="", align = "left", classes = "") %}
<div style="text-align: {{ align }}" >
  <p class="govuk-body"><a href="{{ href }}" class="govuk-link print-link govuk-!-display-none-print {{ classes }}" data-qa="printLink">
    {{ linkText }}
  </a></p>
</div>
{% endmacro %}
