{% macro printLink(linkText = 'Print this page', align = "left", classes = "") %}
<div style="text-align: {{ align }}" >
  <a href="javascript:window.print()" class="govuk-link print-link govuk-!-display-none-print {{ classes }}">
    {{ linkText }}
  </a>
</div>
{% endmacro %}
