{% macro prisonerPlaybackField(name, label, value) %}
    <p class="govuk-!-margin-bottom-1 govuk-label--s">{{ label }}</p>
    <p class="govuk-!-margin-bottom-1 govuk-label--xs" data-qa={{ name }}>
        {{ value }}
    </p>
{% endmacro %}