{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro prisonerSearchOffenceCodeDecisionInput(answerId, decisionForm, selectedAnswerViewData, errors) %}
    {% set selectedAnswerId = decisionForm.selectedAnswerId %}
    {% set prisonerId = decisionForm.selectedAnswerData.prisonerId %}
    {% set prisonerSearchNameInput = decisionForm.selectedAnswerData.prisonerSearchNameInput %}
    {% set prisonerName = selectedAnswerViewData.prisonerName %}
    {% if selectedAnswerId == answerId and prisonerId != null %}
        <input type="hidden" name="prisonerId" value="{{ prisonerId }}" id="prisonerId"/>
        <div>
            <p data-qa="victim-prisoner-name"><span class="govuk-!-font-weight-bold">Name</span> - {{ prisonerName }} </p>
            <p><span class="govuk-!-font-weight-bold">PRN</span> - {{ prisonerId }} </p>
            <div>
                {{ govukButton({
                    text: 'Delete',
                    classes: "govuk-button--secondary",
                    type: "submit",
                    name: "deleteUser",
                    value: "deleteUser"
                }) }}
            </div>
        </div>
    {% else %}
        <div class="flex-container flex-center">
            <div class="govuk-!-margin-right-3">
                {{ govukInput({
                    id: "prisonerSearchNameInput",
                    name: "prisonerSearchNameInput",
                    classes: "govuk-!-width-full-width",
                    value: selectedAnswerId == answerId and prisonerSearchNameInput,
                    errorMessage: errors | findErrors(["prisonerSearchNameInput"]),
                    label: {
                        text: "Enter their name or prison number",
                        classes: "govuk-!-font-weight-bold"
                    }
                }) }}
            </div>
            {{ govukButton({
                text: "Search",
                classes: "govuk-button--secondary conditionalRadioSearchButton",
                type: "submit",
                name: "searchUser",
                value: "searchUser",
                attributes: {"data-qa": "prisoner-search"}
            }) }}
        </div>
    {% endif %}

{% endmacro %}