{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% macro punishmentRadios(punishmentType, privilegeType, otherPrivilege, stoppagePercentage, errors) %}
  {% set otherPrivilegeHtml %}
  {{ govukInput({
      id: "otherPrivilege",
      name: "otherPrivilege",
      value: otherPrivilege,
      classes: "govuk-!-width-one-third",
      attributes: { "data-qa": "other-privilege" },
      errorMessage: errors | findErrors(["otherPrivilege"]),
      label: {
          text: "Privilege to be withdrawn"
      }
    }) }}
  {% endset -%}

  {% set privilegeHtml %}
  {{ govukRadios({
        idPrefix: 'privilegeType',
        id: 'privilegeType',
        name: 'privilegeType',
        fieldset: {
        legend: {
        isPageHeading: false 
        }
        },
        attributes: { "data-qa": "privilege-radio-buttons" },
        errorMessage: "privilegeType" | findError(errors),
        items: [
        {
        value: "CANTEEN",
        text: "Canteen",
        checked: privilegeType == 'CANTEEN' 
        },
        {
        value: "FACILITIES",
        text: "Facilities to purchase",
        checked: privilegeType == 'FACILITIES'
        },
        {
        value: "MONEY",
        text: "Use of private cash",
        checked: privilegeType == 'MONEY'
        },
        {
        value: "TV",
        text: "TV",
        checked: privilegeType == 'TV'
        },
        {
        value: "ASSOCIATION",
        text: "Association",
        checked: privilegeType == 'ASSOCIATION'
        },
        {
        value: "OTHER",
        text: "Other",
        checked: privilegeType == 'OTHER',
        conditional: { html: otherPrivilegeHtml }      
        }
        ] }) 
      }}
  {% endset -%}

  {% set stoppageOfEarningsHtml %}
  {{ govukInput({
      id: "stoppagePercentage",
      name: "stoppagePercentage",
      value: stoppagePercentage,
      classes: "govuk-input--width-5",
      attributes: { "data-qa": "stoppage-percentage" },
      errorMessage: errors | findErrors(["stoppagePercentage"]),
      suffix: {
        text: "%"
      },
      label: {
          text: "Percentage of earnings to be stopped"
      }
    }) }}
  {% endset -%}

  {{ govukRadios({
    idPrefix: 'punishmentType',
    id: 'punishmentType',
    name: 'punishmentType',
    fieldset: {
    legend: {
    text: "Type of punishment",
    isPageHeading: false 
    }
    },
    attributes: { "data-qa": "punishment-radio-buttons" },
    errorMessage: "punishmentType" | findError(errors),
    items: [
    {
    value: "PRIVILEGE",
    text: "Loss of privileges",
    checked: punishmentType == 'PRIVILEGE',
    conditional: { html: privilegeHtml }      
    },
    {
    value: "EARNINGS",
    text: "Stoppage of earnings",
    checked: punishmentType == 'EARNINGS',
    conditional: { html: stoppageOfEarningsHtml }      
    },
    {
    value: "CONFINEMENT",
    text: "Cellular confinement",
    checked: punishmentType == 'CONFINEMENT'
    },
    {
    value: "REMOVAL_ACTIVITY",
    text: "Removal from activity",
    checked: punishmentType == 'REMOVAL_ACTIVITY'
    },
    {
    value: "EXCLUSION_WORK",
    text: "Exclusion from associated work",
    checked: punishmentType == 'EXCLUSION_WORK'
    },
    {
    value: "EXTRA_WORK",
    text: "Extra work",
    checked: punishmentType == 'EXTRA_WORK'
    },
    {
    value: "REMOVAL_WING",
    text: "Removal from wing or unit",
    checked: punishmentType == 'REMOVAL_WING'
    }
    ] }) 
  }}
{% endmacro %}