{% from "govuk/components/table/macro.njk" import govukTable %}

{% macro rehabActivityConditionsCompletedTable(rehabActivities, readOnly) %}
  {% set rows = [] %}
  {% for data in rehabActivities %}

    {% set completeLink = '<p class="govuk-body govuk-!-margin-bottom-1"><a href="'+data.completeUrl+'" data-qa="completed-activity" class="govuk-link">Enter if the activity was completed satisfactorily <span class="govuk-visually-hidden"></span></a></p>' %}

    {# Table logic for final column is based on whether the activities are completed, and their outcome. If not completed, either the link will show or #}
    {# some holding content for reporters (readonly). Extra logic to overide this (below), in order to group the multiple activities together visually #}
    {% if data.rehabilitativeActivitiesCompleted === true %}
        {% set finalColumnContent = 'Yes' %}
    {% elif data.rehabilitativeActivitiesCompleted === false %}
        {% set finalColumnContent = data.rehabilitativeActivitiesNotCompletedOutcome | convertNotCompletedOutcome %}
    {% else %}
      {% if readOnly %}
          {% set finalColumnContent = 'Activity not complete yet' %}
      {% else %}
        {% set finalColumnContent = completeLink %}
        {% endif %}
    {% endif %}

    {# override any of the above if they're not the first activity in a multiple activity condition #}
    {% if data.multipleActivitiesNotFirst %}
      {% set finalColumnContent = '' %}
    {% endif %}

    {% set rows = (rows.push([
      {
        html: '' if data.multipleActivitiesNotFirst else 
          data.type | convertPunishmentType(data.stoppagePercentage, data.privilegeType, data.otherPrivilege),
          classes: "columnWidth20 noBottomBorder" if data.multipleActivitiesNotLast else 
            "columnWidth20"
      }, {
        text: data.details or 'Not entered',
        classes: "columnWidth20 noBottomBorder" if data.multipleActivitiesNotLast else 
          "columnWidth20"
      }, {
        text: data.endDate | endDateSessionNumberText(data.totalSessions)or 'Not entered',
        classes: "columnWidth20 noBottomBorder" if data.multipleActivitiesNotLast else 
          "columnWidth20"
      }, {
        text: data.monitor | initialiseName or 'Not entered',
        classes: "columnWidth17 noBottomBorder" if data.multipleActivitiesNotLast else 
          "columnWidth17"
      }, {
        html: finalColumnContent,
        classes: "columnWidth20 noBottomBorder" if data.multipleActivitiesNotLast
      }
    ]), rows) %}
  {% endfor %}
  {{ govukTable({
        head: [
          {
            html: "Suspended <br>punishment"
          },
          {
            html: "Activity <br>details"
          },
          {
            html: "End date and <br>number of sessions"
          },
          {
            text: "Who is monitoring the prisoner"
          },
          {
            text: "Completed satisfactorily"
          }
        ],
        rows: rows,
        attributes: {"data-qa": "rehabilitative-activities-table"}
      }) }}
{% endmacro %}