{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro staffSearchOffenceCodeDecisionInput(answerId, decisionForm, selectedAnswerViewData, errors) %}
  {% set selectedAnswerId = decisionForm.selectedAnswerId %}
  {% set staffId = decisionForm.selectedAnswerData.staffId %}
  {% set staffSearchNameInput = decisionForm.selectedAnswerData.staffSearchNameInput %}
  {% set staffName = selectedAnswerViewData.staffName %}

  {% if selectedAnswerId == answerId and staffId != null %}
    <input type="hidden" name="staffId" value="{{ staffId }}"/>
    <div>
      <p>
        <span class="govuk-!-font-weight-bold">Name</span>
        -
        {{ staffName }}
      </p>
      <p>
        <span class="govuk-!-font-weight-bold">User ID</span>
        -
        {{ staffId }}
      </p>
      <div>
        {{ govukButton({
          text: 'Delete',
          classes: "govuk-button--secondary",
          type: "submit",
          name: "deleteUser",
          value: "deleteUser",
          preventDoubleClick: true
        }) }}
      </div>
    </div>
  {% else %}

    <div id="staffName" class="govuk-form-group flex-container flex-column">
      {{ govukInput({
                id: "staffSearchNameInput",
                name: "staffSearchNameInput",
                classes: "govuk-!-width-one-third",
                value: selectedAnswerId == answerId and staffSearchNameInput,
                errorMessage: errors | findErrors(["staffSearchNameInput"]),
                label: {
                    text: "Enter their name",
                    classes: "govuk-!-font-weight-bold"
                }
            }) }}
    </div>
    <div>
      {{ govukButton({
        text: "Search",
        classes: "govuk-button--secondary conditionalRadioSearchButton",
        type: "submit",
        name: "searchUser",
        value: "searchUser",
        preventDoubleClick: true,
        attributes: {'data-qa': 'staff-search'}
      }) }}
    </div>
  {% endif %}

{% endmacro %}