{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro staffSearchOffenceCodeDecisionInput(questionId, decisionForm, selectedDecisionViewData, errors) %}
    {% set selectedDecisionId = decisionForm.selectedDecisionId %}
    {% set staffId = decisionForm.selectedDecisionData.staffId %}
    {% set staffSearchFirstNameInput = decisionForm.selectedDecisionData.staffSearchFirstNameInput %}
    {% set staffSearchLastNameInput = decisionForm.selectedDecisionData.staffSearchLastNameInput %}
    {% set staffName = selectedDecisionViewData.staffName %}

    {% if selectedDecisionId == questionId and staffId != null %}
        <input type="hidden" name="staffId" value="{{ staffId }}" />
        <div>
            <p><span class="govuk-!-font-weight-bold">Name</span> - {{ staffName }} </p>
            <p><span class="govuk-!-font-weight-bold">User ID</span> - {{ staffId }} </p>
            <div>
                {{ govukButton({
                    text: 'Delete',
                    classes: "govuk-button--secondary",
                    type: "submit",
                    name: "deleteUser",
                    value: "deleteUser"
                }) }}
            </div>
        </div>
    {% else %}

        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Enter their name</p>
        <div id="staffName" class="govuk-form-group flex-container flex-column">
            {{ govukInput({
                id: "staffSearchFirstNameInput",
                name: "staffSearchFirstNameInput",
                classes: "govuk-!-width-one-third",
                value: selectedDecisionId == questionId and staffSearchFirstNameInput,
                errorMessage: errors | findErrors(["staffSearchFirstNameInput"]),
                label: {
                    text: "First name"
                }
            }) }}
            {{ govukInput({
                id: "staffSearchLastNameInput",
                name: "staffSearchLastNameInput",
                classes: "govuk-!-width-one-third",
                value: selectedDecisionId == questionId and staffSearchLastNameInput,
                errorMessage: errors | findErrors(["staffSearchLastNameInput"]),
                label: {
                    text: "Last name"
                }
            }) }}
        </div>
            {{ govukButton({
                text: "Search",
                classes: "govuk-button--secondary conditionalRadioSearchButton",
                type: "submit",
                name: "searchUser",
                value: "searchUser"
            }) }}
    {% endif %}

{% endmacro %}