{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro summaryListWithChangeLinks(array = [], missingValueText = 'Not entered', attributes = {}, classes = '', changeLinkText = 'Change', cardTitle = null, cardActionPresent = false, cardActionHref = null, cardActionDataQa = null, cardActionText = "Change") %}
  {% set rows = [] %}

  {% for detail in array %}
    {% if detail.html %}
      {% set value = {
        html: detail.html | showDefault(missingValueText)
      } %}
    {% else %}
      {% set value = {
        text: detail.value | showDefault(missingValueText)
      } %}
    {% endif %}

    {% if detail.changeLinkHref %}
      {% set actions = { items: [{href: detail.changeLinkHref, text: changeLinkText, visuallyHiddenText: detail.label, attributes: {"data-qa": detail.dataQa} }] } %}
    {% else %}
      {% set actions = '' %}
    {% endif %}

    {% set rows = (rows.push({
      key: {
        text: detail.label
      },
      value: value,
      actions: actions
    }), rows) %}
  {% endfor %}

  {% if cardActionPresent %}
    {% set cardActionItems = [
      {
        href: cardActionHref,
        text: cardActionText,
        visuallyHiddenText: cardTitle,
        attributes: cardActionDataQa
      }
    ] %}
  {% else %}
    {% set cardActionItems = [] %}
  {% endif %}

  {% set cardDetails = {
    title: {
      text: cardTitle
    },
    actions: {
      items: cardActionItems
    }
  } %}

  {% if rows.length %}
    {% if cardTitle %}
      {{ govukSummaryList({
      card: cardDetails,
      rows: rows,
      classes: classes,
      attributes: attributes
    }) }}
    {% else %}
      {{ govukSummaryList({
      rows: rows,
      classes: classes,
      attributes: attributes
    }) }}
    {% endif %}
    {% endif %}

  {% endmacro %}