{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  idPrefix: "damageType",
  name: "damageType",
  errorMessage: "damageType" | findError(errors),
  attributes: { "data-qa": "add-damages-radio-buttons" },
  fieldset: {
    legend: {
      text: "What needs to be done"
    }
  },
  items: [
    {
      value: "Electrical",
      text: "Electrical repair",
      hint: {
        text: "For damage to lighting, a socket or a cell bell, for example."
      },
      checked: damageType === 'Electrical'
    },
    {
      value: "Plumbing",
      text: "Plumbing repair",
      hint: {
        text: "For damage to a toiler or sink, for example."
      },
      checked: damageType === 'Plumbing'

    },
    {
      value: "Furniture",
      text: "Furniture or fabric repair",
      hint: {
        text: "For damage to a chair, table, cupboard, for example, or any part of the cell or prison."
      },
      checked: damageType === 'Furniture'
    },
    {
      value: "Lock",
      text: "Lock repair",
      hint: {
        text: "For damage to a cell door lock or a gate lock, for example."
      },
      checked: damageType === 'Lock'
    },
    {
      value: "Redecoration",
      text: "Redecoration",
      hint: {
        text: "For graffiti or burn damage, for example."
      },
      checked: damageType === 'Redecoration'
    },
    {
      value: "Cleaning",
      text: "Cleaning",
      hint: {
        text: "For cleaning up bodily fluids like blood, for example."
      },
      checked: damageType === 'Cleaning'
    },
    {
      value: "Replacement",
      text: "Replacing an item",
      hint: {
        text: "Like replacing a kettle, cleaning equipment or sports equipment, for example."
      },
      checked: damageType === 'Replacement'
    }
  ]
}) }}