{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set selectedAnswerId = decisionForm.selectedAnswerId %}
{% set officerId = decisionForm.selectedAnswerData.officerId %}
{% set officerName = selectedAnswerViewData.officerName %}
{% set officerSearchNameInput = decisionForm.selectedAnswerData.officerSearchNameInput %}
{% set staffId = decisionForm.selectedAnswerData.staffId %}
{% set staffName = selectedAnswerViewData.staffName %}
{% set staffSearchNameInput = decisionForm.selectedAnswerData.staffSearchNameInput %}
{% set otherPersonNameInput = decisionForm.selectedAnswerData.otherPersonNameInput %}

{% set prisonOfficerHtml %}
{% if selectedAnswerId == "OFFICER" and officerId != null %}
  <input id="officerId" type="hidden" name="officerId" value="{{ officerId }}"/>
  <div>
    <p data-qa="officer-name">
      <span class="govuk-!-font-weight-bold">Name</span> - {{ officerName }}
    </p>
    <p>
      <span class="govuk-!-font-weight-bold">User ID</span> - {{ officerId }}
    </p>
    <div>
      {{ govukButton({
          text: 'Delete',
          classes: "govuk-button--secondary",
          type: "submit",
          name: "deleteUser",
          preventDoubleClick: true,
          value: "deleteUser"
      }) }}
    </div>
  </div>
{% else %}
  <div class="flex-container">
    <div class="govuk-!-margin-right-3 officerSearchNameInputContainer" id="officerName" >
      {{ govukInput({
          id: "officerSearchNameInput",
          name: "officerSearchNameInput",
          classes: "govuk-!-width-full",
          value: officerSearchNameInput,
          errorMessage: errors | findErrors(["officerSearchNameInput"]),
          label: {
              text: "Enter their name",
              classes: "govuk-!-font-weight-bold"
          }
      }) }}
    </div>
    {{ govukButton({
        text: "Search",
        classes: "govuk-button--secondary conditionalRadioSearchButton",
        type: "submit",
        preventDoubleClick: true,
        name: "searchUser",
        value: "searchUser",
        attributes: {"data-qa": "officer-search"}
    }) }}
  </div>
{% endif %}
{% endset -%}

{% set staffHtml %}
{% if selectedAnswerId == "STAFF" and staffId != null %}
  <input type="hidden" id="staffId" name="staffId" value="{{ staffId }}"/>
  <div>
    <p data-qa="staff-name">
      <span class="govuk-!-font-weight-bold">Name</span> - {{ staffName }}
    </p>
    <p>
      <span class="govuk-!-font-weight-bold">User ID</span> - {{ staffId }}
    </p>
    <div>
      {{ govukButton({
          text: 'Delete',
          classes: "govuk-button--secondary",
          type: "submit",
          preventDoubleClick: true,
          name: "deleteUser",
          value: "deleteUser"
      }) }}
    </div>
  </div>
{% else %}
  <div id="staffName" class="flex-container">
    <div class="govuk-!-margin-right-3 officerSearchNameInputContainer">
      {{ govukInput({
          id: "staffSearchNameInput",
          name: "staffSearchNameInput",
          classes: "govuk-!-width-full",
          value: selectedAnswerId == "STAFF" and staffSearchNameInput,
          errorMessage: errors | findErrors(["staffSearchNameInput"]),
          label: {
              text: "Enter their name",
              classes: "govuk-!-font-weight-bold"
          }
      }) }}
    </div>
    {{ govukButton({
        text: "Search",
        classes: "govuk-button--secondary conditionalRadioSearchButton",
        type: "submit",
        preventDoubleClick: true,
        name: "searchUser",
        value: "searchUser",
        attributes: {'data-qa': 'staff-search'}
    }) }}
  </div>
{% endif %}
{% endset -%}

{% set otherHtml %}
<div class="govuk-form-group flex-container flex-column">
  <div class="govuk-!-margin-right-3 officerSearchNameInputContainer">
    {{ govukInput({
        id: "otherPersonNameInput",
        name: "otherPersonNameInput",
        classes: "govuk-!-width-full",
        value: otherPersonNameInput,
        errorMessage: errors | findErrors(["otherPersonNameInput"]),
            label: {
                text: "Enter their name",
                classes: "govuk-!-font-weight-bold"
            }
    }) }}
  </div>
</div>

{% endset -%}

{{ govukRadios({
  idPrefix: "selectedAnswerId",
  name: "selectedAnswerId",
  errorMessage: "selectedAnswerId" | findError(errors),
  attributes: { "data-qa": "add-witness-radio-buttons" },
  fieldset: {
    legend: {
      text: "Choose a type of witness"
    }
  },
  items: [
    {
      value: "OFFICER",
      text: "A prison officer",
      checked: decisionForm.selectedAnswerId === 'OFFICER',
      conditional: {
        html: prisonOfficerHtml
      }
    },
    {
      value: "STAFF",
      text: "A member of staff who's not a prison officer",
      checked: selectedAnswerId === 'STAFF',
      conditional: {
        html: staffHtml
      }
    },
    {
      value: "OTHER_PERSON",
      text: "A person not listed above",
      checked: selectedAnswerId === 'OTHER_PERSON',
      conditional: {
        html: otherHtml
      }
    }
  ]
}) }}