{% from '../macros/adjudicationReportCard.njk' import adjudicationReportCard %}
{%- from "moj/components/pagination/macro.njk" import mojPagination -%}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<div class="adjudication-report-card-list" role="list">
				{{ mojPagination(pagination) }}
				<hr class="adjudication-report-card-list__top-border">
				{% if results.totalElements %}
					{% for report in results.content %}
						{{ adjudicationReportCard(report, uniqueListOfAgenciesForPrisoner) }}
					{% endfor %}
					{{ mojPagination(pagination) }}
				{% else %}
					<div>
						<p class="govuk-body" data-qa="adjudication-reports-no-entries">No adjudications have been found for the selected filters.</p>
						<p class="govuk-body">You can:</p>
						<ul class="govuk-list govuk-list--bullet">
							<li>select different statuses or establishments</li>
							<li>choose different dates</li>
							<li>clear filters to view all adjudication reports</li>
						</ul>
					</div>
				{% endif %}
			</div>
		</div>
	</div>