{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "../components/datepicker/macro.njk" import hmppsDatepicker %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

<form method="POST" novalidate="novalidate" class="adjudication-history-filter">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
  <h2 class="govuk-heading-m">Filter</h2>
  <div class="govuk-form-group">
    {{ govukRadios({
      classes: "govuk-radios--small",
      id: "bookingType",
      name: "bookingType",
      fieldset: {
        legend: {
          text: "Prison booking",
          isPageHeading: false,
          classes: "govuk-heading-s govuk-!-font-weight-bold"
        }
      },
      items: [
        {
          value: "current",
          text: "Current booking", 
          checked: filter.bookingType === AdjudicationHistoryBookingType.CURRENT
        },
        {
          value: "all",
          text: "All bookings", 
          checked: filter.bookingType === AdjudicationHistoryBookingType.ALL
        }
        ]
    }) }}
    <h3 class="govuk-heading-s">Date of discovery</h3>
    {{ hmppsDatepicker({
              id: 'fromDate',
              name: 'fromDate',
              label: {
                  text: "Date from",
                  classes: "govuk-heading-s"
              },
              value: filter.fromDate,
              dataQa: 'fromDate',
              errorMessage: errors | findErrors(['fromDate']),
              maxDate: maxDate
          }) }}

    {{ hmppsDatepicker({
              id: 'toDate',
              name: 'toDate',
              label: {
                  text: "Date to",
                  classes: "govuk-heading-s"
              },
              value: filter.toDate,
              dataQa: 'toDate',
              maxDate: maxDate
          }) }}
    <h3 class="govuk-heading-s">Establishment</h3>
    <div id="establishment-checkboxes">
      {{ govukCheckboxes({
          name: "agency",
          classes: "govuk-checkboxes--small",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: false,
              classes: ""
            }
          },
          items: establishments
        }) }}
    </div>
    <h3 class="govuk-heading-s govuk-!-margin-top-6">Status</h3>
    <div id="status-checkboxes">
      {{ govukCheckboxes({
          name: "status",
          classes: "govuk-checkboxes--small",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: false,
              classes: ""
            }
          },
          items: statuses
        }) }}
    </div>

  </div>
  {{ govukButton({
    text: "Apply",
    preventDoubleClick: true,
    attributes: { "data-qa": "apply-filter-button" }
}) }}
  <div>
    <a href="{{ adjudicationUrls.adjudicationHistory.urls.start(prisonerNumber) }}" class="govuk-link govuk-link--no-visited-state">Clear filters</a>
  </div>
</form>