{% if adjudicatorType === OicHearingType.GOV_ADULT or adjudicatorType === OicHearingType.GOV_YOI%}
    {{ govukInput({
      label: {
        text: "Name of adjudicator"
      },
      value: governorName,
      classes: "govuk-input--width-20",
      id: "governorName",
      name: "governorName",
      attributes: {
        'data-qa': "governor-name"
      },
      errorMessage: "governorName" | findError(errors)
    }) }}
    {{ govukButton({
        text: "Search",
        classes: "govuk-button--secondary searchButton",
        type: "submit",
        name: "searchGov",
        value: "searchGov",
        attributes: {'data-qa': 'gov-search'}
    }) }}
{% else %}
    {{ govukInput({
      label: {
        text: "Name of adjudicator"
      },
      value: inAdName,
      classes: "govuk-input--width-20 govuk-!-margin-bottom-5",
      id: "inAdName",
      name: "inAdName",
      attributes: {
        'data-qa': "adjudicator-name"
      },
      errorMessage: "inAdName" | findError(errors)
    }) }}
{%endif%}