{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% macro breadcrumb(breadcrumbList, fromAdjudicationHistory) %}
  {% if fromAdjudicationHistory %}
    {% set rows = [
    {
      text: "Digital Prison Services",
      href: digitalPrisonServiceUrl
    }
  ] %}
  {% else %}
  {% set rows = [
    {
      text: "Digital Prison Services",
      href: digitalPrisonServiceUrl
    },
    {
      text: "Adjudications",
      href: adjudicationUrls.homepage.root
    }
  ] %}
  {% endif %}
  {% for item in breadcrumbList %}
    {% set rows = (rows.push(
      {
        text: item.title,
        href: item.href
      }
    ), rows) %}
  {% endfor %}

  {{ govukBreadcrumbs({
    collapseOnMobile: true,
    items: rows,
    classes: "govuk-!-display-none-print"
  }) }}
{% endmacro %}
