<form method="POST" novalidate="novalidate" data-qa="report-delete-confirmation-form">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

  <p class="govuk-body" data-qa="delete-draft-report-p1">Draft adjudication report will be deleted, please confirm.</p>

  <div class="horizontal-form govuk-!-margin-bottom-3">

    {{ govukButton({
      text: "Cance",
      type: "cancel",
      href: cancelLinkURL,
      classes: "govuk-button--secondary",
      attributes: { "data-qa": "cancel-report-deletion" }
    }) }}

    {{ govukButton({
      text: "Delete",
      type: "submit",
      href: reportDeleteLinkURL,
      classes: "govuk-button--submit",
      attributes: { "data-qa": "delete-draft-report" }
    }) }}
  </div>
</form>