{% set photoVideoEvidence = evidence.photoVideo %}
{% set baggedTaggedEvidence = evidence.baggedAndTagged %}
{% set otherEvidence = evidence.other %}
<h3 class="govuk-heading-s govuk-!-margin-bottom-2">Photographic or video evidence</h3>
{% if photoVideoEvidence | length > 0 %}
<div class="evidence-table">
    {{ evidenceTable(photoVideoEvidence, redirectAfterRemoveUrl, currentUser, 'photoVideoTable') }}
</div>
{% else %}
<p class="govuk-body" data-qa="no-photoVideo-evidence">None</p>
{% endif %}
<h3 class="govuk-heading-s govuk-!-margin-bottom-2">Bagged and tagged evidence</h3>
{% if baggedTaggedEvidence | length > 0 %}
<div class="evidence-table">
    {{ evidenceTable(baggedTaggedEvidence, redirectAfterRemoveUrl, currentUser, 'baggedAndTaggedTable') }}
</div>
{% else %}
<p class="govuk-body" data-qa="no-baggedAndTagged-evidence">None</p>
{% endif %}
<h3 class="govuk-heading-s govuk-!-margin-bottom-2">Other evidence</h3>
{% if otherEvidence | length > 0 %}
<div class="evidence-table">
    {{ evidenceTable(otherEvidence, redirectAfterRemoveUrl, currentUser, 'otherTable') }}
</div>
{% else %}
<p class="govuk-body" data-qa="no-other-evidence">None</p>
{% endif %}