<h1 class="govuk-heading-l" data-qa="forbidden">You do not have permission to view people outside of your establishment.</h1>
<p class="govuk-body">You need extra permission to be able to view and create reports for people who are not in your establishment.</p>
<p class="govuk-body">Contact a local system administrator (LSA) in your establishment to discuss the permission you need.</p>
