{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}


    {{ govukRadios({
    idPrefix: 'currentRadioSelected',
    id: 'currentRadioSelected',
    name: 'currentRadioSelected',
    attributes: { "data-qa": "radio-buttons" },
    errorMessage: "currentRadioSelected" | findError(errors),
    items: [
    {
      value: "committed",
      text: "Committed this incident on their own",
      checked: data.originalRadioSelection === "committed"
    },
    {
      value: "attempted",
      text: "Attempted to commit this incident on their own",
      checked: data.originalRadioSelection === "attempted"
    },
    {
      value: "incited",
      text: "Incited another prisoner to commit this incident",
      checked: data.originalRadioSelection === "incited"
    },
    {
      value: "assisted",
      text: "Assisted another prisoner to commit, or attempt to commit this incident",
      checked: data.originalRadioSelection === "assisted"
    }
  ]
    }) }}

  <script src="/assets/js/multiformtextsubmit.js"></script>
