<html lang="en">
    <head>
        <meta charset="utf-8">
        <link href="{{ adjudicationsUrl }}/assets/stylesheets/application.css?{{ version }}" rel="stylesheet"/>
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>

