<form method="POST" novalidate="novalidate" data-qa="prisoner-search-form">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

  <div class="horizontal-form govuk-!-margin-bottom-3">
    {{ govukInput({
      id: "searchTerm",
      name: "searchTerm",
      value: searchTerm,
      label: {
        html: "Enter a prisoner’s name or number"
      },
      classes: "govuk-!-width-full",
      attributes: {
        'data-qa': "prisoner-search-term-input"
      },
      errorMessage: "searchTerm" | findError(errors)

    }) }}

    {{ govukButton({
      text: "Search",
      type: "submit",
      classes: "govuk-button--secondary",
      attributes: { "data-qa": "prisoner-search-submit" }
    }) }}
  </div>
</form>