  {% set rows = [] %}
  {% for completedReport in allCompletedReports.content %}
    {% if completedReport.transferableActionsAllowed == false %}
      {% set viewCompletedReportlLinkHtml %}
      <a href="{{ adjudicationUrls.prisonerReport.urls.viewOnly(completedReport.chargeNumber) }}" class="govuk-link" data-qa="view-report-link">View report<span class="govuk-visually-hidden"> for {{ completedReport.friendlyName }}</span>
        {% endset -%}
      {% else %}
        {% set viewCompletedReportlLinkHtml %}
        <a href="{{ adjudicationUrls.prisonerReport.urls.review(completedReport.chargeNumber) }}" class="govuk-link" data-qa="view-report-link">View report<span class="govuk-visually-hidden"> for {{ completedReport.friendlyName }}</span>
        </a>
        {% endset -%}
      {% endif %}

        {% set rows = (rows.push([
      { text: completedReport.chargeNumber },
      { text: completedReport.formattedDateTimeOfDiscovery,
        attributes: {
        "data-sort-value": completedReport.dateTimeOfDiscovery
      }
      },
      { text: completedReport.displayName + " - " + completedReport.prisonerNumber },
      { text: completedReport.statusDisplayName },
      { text: completedReport.overrideAgencyName or completedReport.overrideAgencyId },
      { html: viewCompletedReportlLinkHtml, classes: 'viewReport' }
    ]), rows) %}
      {% endfor %}
      {% if rows | length %}
        {{ mojPagination(pagination) }}
        <div class="results-table">
          {{ govukTable({
            caption: "Adjudication reports, column headers with buttons are sortable",
            captionClasses: "govuk-visually-hidden",
          head: [
        { text: "Charge number" },
        { text: "Discovery date and time",
          attributes: {
          "aria-sort": "descending"
          }
        },
        { text: "Name and prison number" },
        { text: "Status" },
        { text: "Transferred to" },
        { html: "<span class='govuk-visually-hidden'>Link to adjudication report</span>" }
      ],
      rows: rows,
      attributes: { "data-qa": "results-table", "data-module": "moj-sortable-table" }
    }) }}
        </div>
        {{ mojPagination(pagination) }}
      {% else %}
        <p class="govuk-!-padding-top-3" data-qa="no-results-message">There are no reports to update for transfers out.</p>
      {% endif %}
