{% extends "../../partials/layout.njk" %}
{% from "../../partials/breadCrumb.njk" import breadcrumb %}
{% from "../../macros/dataInsights/dataInsightsTabHeaderSingular.njk" import dataInsightsTabHeaderSingular %}
{% from "../../macros/dataInsights/officialSensitiveBanner.njk" import officialSensitiveBanner %}
{% from "../../macros/dataInsights/giveFeedbackBanner.njk" import giveFeedbackBanner %}
{% from "../../partials/charts/horizontalBarsChartWithSelect.njk" import horizontalBarsChartWithSelect %}
{% from "../../partials/charts/linesChart.njk" import linesChart %}

{% set title = "Adjudication data - Offence type" %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
  {{ giveFeedbackBanner() }}

  {{ breadcrumb() }}
{% endblock %}

{% block content %}

  <div class="offence-type-tab">

    {{ dataInsightsTabHeaderSingular(tabsOptions) }}

    <div class="govuk-!-margin-bottom-6">
      {{ linesChart(chartSettingMap['3a']) }}
    </div>

    <div class="govuk-!-margin-bottom-6">
      {{ horizontalBarsChartWithSelect(chartSettingMap['3b'], allSelectorSettings['offenceType'], allSelectorParams, csrfToken) }}
    </div>

    <div class="govuk-!-margin-bottom-6 govuk-!-margin-top-8">
      {{ officialSensitiveBanner() }}
    </div>

  </div>

{% endblock %}

{% block pageScripts %}
  <script type="text/javascript" src="/assets/js/chart.umd.js"></script>
  <script type="text/javascript" src="/assets/js/displayChart.js"></script>
  <script id="chart-settings" type="text/javascript" src="/assets/js/loadChart.js"
          data-chart-settings="{{ chartSettingMap | dump }}"></script>
{% endblock %}