{% extends "../../partials/layout.njk" %}
{% from "../../partials/breadCrumb.njk" import breadcrumb %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../macros/dataInsights/dataInsightsTabHeaderSingular.njk" import dataInsightsTabHeaderSingular %}
{% from "../../partials/charts/horizontalBarsChart.njk" import horizontalBarsChart %}
{% from "../../partials/charts/horizontalBarsChartWithSelect.njk" import horizontalBarsChartWithSelect %}

{% set title = "Adjudication data - Protected and responsivity characteristics" %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb() }}
{% endblock %}

{% block content %}

  <div class="protected-and-responsivity-characteristics-tab">

    {{ dataInsightsTabHeaderSingular(tabsOptions) }}

    <div>
      <form method="POST" novalidate="novalidate" class="govuk-!-margin-top-5">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        <input type="hidden" name="allSelectorParams" value="{{ allSelectorParams | dump }}"/>

        <div class="flex-container {{ allSelectorSettings['characteristic'].class }}">
          {{ govukSelect({
            id: allSelectorSettings['characteristic'].id,
            name: allSelectorSettings['characteristic'].id,
            label: {
              text: allSelectorSettings['characteristic'].label,
              isPageHeading: false,
              classes: ''
            },
            items: allSelectorSettings['characteristic'].items | toSelect('value', 'text', allSelectorParams.characteristic),
            classes: 'flex-column filter-selector',
            errorMessage: 'characteristic' | findError(errors)
          }) }}

          {{ govukButton({
            text: 'Show results',
            type: 'submit',
            preventDoubleClick: true,
            classes: 'govuk-button--submit govuk-!-margin-right-3 flex-column show-results-button',
            attributes: { 'data-qa': 'not-proceed-submit' }
          }) }}
        </div>

      </form>
    </div>

    <div class="govuk-!-margin-bottom-6">
      {{ horizontalBarsChart(chartSettingMap['2a']) }}
    </div>

    <div class="govuk-!-margin-bottom-6">
      {{ horizontalBarsChart(chartSettingMap['2b']) }}
    </div>

    <div class="govuk-!-margin-bottom-6">
      {{ horizontalBarsChartWithSelect(chartSettingMap['2d'], allSelectorSettings['offenceType'], allSelectorParams, csrfToken) }}
    </div>

    <div class="govuk-!-margin-bottom-6 punishment-by-protected-or-responsivity-characteristic">
      {{ horizontalBarsChartWithSelect(chartSettingMap['2e'], allSelectorSettings['punishment'], allSelectorParams, csrfToken) }}
    </div>

    <div class="govuk-!-margin-bottom-6">
      {{ horizontalBarsChartWithSelect(chartSettingMap['2f'], allSelectorSettings['plea'], allSelectorParams, csrfToken) }}
    </div>

    <div class="govuk-!-margin-bottom-6">
      {{ horizontalBarsChartWithSelect(chartSettingMap['2g'], allSelectorSettings['finding'], allSelectorParams, csrfToken) }}
    </div>

  </div>
{% endblock %}

{% block pageScripts %}
  <script type="text/javascript" src="/assets/js/chart.umd.js"></script>
  <script type="text/javascript" src="/assets/js/displayChart.js"></script>
  <script id="chart-settings" type="text/javascript" src="/assets/js/loadChart.js"
          data-chart-settings="{{ chartSettingMap | dump }}"></script>
{% endblock %}