{% extends "../../partials/layout.njk" %}
{% from "../../partials/breadCrumb.njk" import breadcrumb %}
{% from "../../macros/dataInsights/dataInsightsTabHeaderSingular.njk" import dataInsightsTabHeaderSingular %}
{% from "../../macros/dataInsights/officialSensitiveBanner.njk" import officialSensitiveBanner %}
{% from "../../partials/charts/linesChart.njk" import linesChart %}
{% from "../../partials/charts/linesChartWithSelect.njk" import linesChartWithSelect %}
{% from "../../partials/charts/multiVerticalBarsChart.njk" import multiVerticalBarsChart %}

{% set title = "Adjudication data - Punishments" %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb() }}
{% endblock %}

{% block content %}

  <div class="punishments-tab">

    {{ dataInsightsTabHeaderSingular(tabsOptions) }}

    <div class="govuk-!-margin-bottom-6">
      {{ linesChart(chartSettingMap['4a']) }}
    </div>

    <div class="govuk-!-margin-bottom-6">
      {{ linesChartWithSelect(chartSettingMap['4b'], allSelectorSettings['offenceType'], allSelectorParams, csrfToken) }}
    </div>

    <div class="govuk-!-margin-bottom-6">
      {{ multiVerticalBarsChart(chartSettingMap['4c']) }}
    </div>

    <div class="govuk-!-margin-bottom-6 govuk-!-margin-top-8">
      {{ officialSensitiveBanner() }}
    </div>

  </div>

{% endblock %}

{% block pageScripts %}
  <script type="text/javascript" src="/assets/js/chart.umd.js"></script>
  <script type="text/javascript" src="/assets/js/displayChart.js"></script>
  <script id="chart-settings" type="text/javascript" src="/assets/js/loadChart.js"
          data-chart-settings="{{ chartSettingMap | dump }}"></script>
{% endblock %}