{% extends "../../partials/layout.njk" %}
{% from "../../partials/breadCrumb.njk" import breadcrumb %}
{% from "../../macros/dataInsights/dataInsightsTabHeaderSingular.njk" import dataInsightsTabHeaderSingular %}
{% from "../../macros/dataInsights/officialSensitiveBanner.njk" import officialSensitiveBanner %}
{% from "../../macros/dataInsights/giveFeedbackBanner.njk" import giveFeedbackBanner %}
{% from "../../partials/charts/linesChart.njk" import linesChart %}
{% from "../../partials/charts/linesChartWithSelect.njk" import linesChartWithSelect %}
{% from "../../partials/charts/multiVerticalBarsChart.njk" import multiVerticalBarsChart %}
{% from "../../partials/charts/commentaryChart.njk" import commentaryChart %}
{%- from "moj/components/alert/macro.njk" import mojAlert -%}

{% set title = "Adjudication data - Punishments" %}

{% block pageTitle %}
  {{ title }} - Adjudications - Digital Prison Services
{% endblock %}

{% block beforeContent %}
  {{ giveFeedbackBanner() }}

  {{ breadcrumb() }}

  {{ mojAlert({
    variant: "information",
    title: "Minor changes to previous data",
    showTitleAsHeading: true,
    dismissible: false,
    html: 'Following a change in March 2025, you may notice small changes to past figures on this page. This is due to work to improve how data sources, like NOMIS and OASys, are linked. Previous figures will not change again.'
  }) }}


{% endblock %}

{% block content %}

  <div class="punishments-tab">

    {{ dataInsightsTabHeaderSingular(tabsOptions) }}

    <div class="govuk-!-margin-bottom-6">
        <p class="govuk-body" data-qa="last-da">Data source: NOMIS <br/>
        Date updated: {{ lastModifiedDate }}
        </p>
    </div>

    <div class="govuk-inset-text">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-5">Evidence on punishments</h3>

      <p class="govuk-body"><a href="https://www.gov.uk/government/publications/examining-the-impact-of-sanctions-on-custodial-misconduct-following-disciplinary-adjudications" target="_blank" rel="noopener noreferrer" class="govuk-link" data-qa="evidenceOnPunishmentsLink" id="evidence-on-punishments-link">A study of the impact of punishments on further rule breaking (opens in new tab)</a> suggests that, compared to loss of privileges, cellular confinement is less effective in leading to behaviour changes.</p>
      <p class="govuk-body">Suspended awards are also associated with further rule-breaking being statistically less likely.</p>
    </div>

    <div class="govuk-!-margin-bottom-6">
      {{ linesChart(chartSettingMap['4a']) }}
    </div>

    <div class="govuk-!-margin-bottom-6">
      {{ commentaryChart(chartSettingMap['4d']) }}
    </div>

    <div class="govuk-!-margin-bottom-6">
      {{ linesChartWithSelect(chartSettingMap['4b'], allSelectorSettings['offenceType'], allSelectorParams, csrfToken) }}
    </div>

    <div class="govuk-!-margin-bottom-6">
      {{ multiVerticalBarsChart(chartSettingMap['4c']) }}
    </div>

    <div class="govuk-!-margin-bottom-6 govuk-!-margin-top-8">
      {{ officialSensitiveBanner() }}
    </div>

  </div>

{% endblock %}

{% block pageScripts %}
  <script type="text/javascript" src="/assets/js/chart.umd.js"></script>
  <script type="text/javascript" src="/assets/js/displayChart.js"></script>
  <script id="chart-settings" type="text/javascript" src="/assets/js/loadChart.js"
          data-chart-settings="{{ chartSettingMap | dump }}"></script>
{% endblock %}
