{% extends "../../partials/layout.njk" %}
{% from "../../partials/breadCrumb.njk" import breadcrumb %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../macros/dataInsights/dataInsightsTabHeaderSingular.njk" import dataInsightsTabHeaderSingular %}
{% from "../../macros/dataInsights/officialSensitiveBanner.njk" import officialSensitiveBanner %}
{% from "../../macros/dataInsights/giveFeedbackBanner.njk" import giveFeedbackBanner %}
{% from "../../partials/charts/verticalBarsAndLineChart.njk" import verticalBarsAndLineChart %}
{% from "../../partials/charts/horizontalBarsChart.njk" import horizontalBarsChart %}
{% from "../../partials/charts/commentaryChart.njk" import commentaryChart %}
{%- from "moj/components/alert/macro.njk" import mojAlert -%}

{% set title = "Adjudication data - Totals - adjudications and locations" %}

{% block pageTitle %}
  {{ title }} - Adjudications - Digital Prison Services
{% endblock %}

{% block beforeContent %}
  {{ giveFeedbackBanner() }}

  {{ breadcrumb() }}

{{ mojAlert({
  variant: "information",
  title: "Minor changes to previous data",
  showTitleAsHeading: true,
  dismissible: false,
  html: 'Following a change in March 2025, you may notice small changes to past figures on this page. This is due to work to improve how data sources, like NOMIS and OASys, are linked. Previous figures will not change again.'
}) }}

{% endblock %}

{% block content %}

  <div class="totals-adjudications-and-locations-tab">

    {{ dataInsightsTabHeaderSingular(tabsOptions) }}

    <div class="govuk-!-margin-bottom-6">
        <p class="govuk-body" data-qa="last-da">Data source: NOMIS <br/>
            Date updated: {{ lastModifiedDate }}
        </p>
    </div>

    <div class="govuk-!-margin-bottom-6">
      {{ verticalBarsAndLineChart(chartSettingMap['1a']) }}
    </div>

    <div class="govuk-!-margin-bottom-6">
      {{ commentaryChart(chartSettingMap['1c']) }}
    </div>

    <div class="govuk-!-margin-bottom-6">
      {{ verticalBarsAndLineChart(chartSettingMap['1b']) }}
    </div>

    <div class="govuk-!-margin-bottom-6">
      {{ horizontalBarsChart(chartSettingMap['1d']) }}
    </div>

    <div class="govuk-!-margin-bottom-6">
      {{ horizontalBarsChart(chartSettingMap['1f']) }}
    </div>

    <div class="govuk-!-margin-bottom-6 govuk-!-margin-top-8">
      {{ officialSensitiveBanner() }}
    </div>

  </div>

{% endblock %}

{% block pageScripts %}
  <script type="text/javascript" src="/assets/js/chart.umd.js"></script>
  <script type="text/javascript" src="/assets/js/displayChart.js"></script>
  <script id="chart-settings" type="text/javascript" src="/assets/js/loadChart.js"
          data-chart-settings="{{ chartSettingMap | dump }}"></script>
{% endblock %}
