{% if changeLinksAvailable %}
  {% set adjudicatorChangeLink = {
  items: [
    {
      href: adjudicationUrls.enterHearingOutcome.urls.edit(adjudicationNumber, hearingId), 
      text: "Change",
      visuallyHiddenText: ' name of adjudicator',
      attributes: {"data-qa": "change-link-hearing-outcome-adjudicator-name" }
    }
  ]
} %}
  {% set outcomeChangeLink = {
  items: [
    {
      href: adjudicationUrls.enterHearingOutcome.urls.edit(adjudicationNumber, hearingId), 
      text: "Change",
      visuallyHiddenText: ' outcome',
      attributes: {"data-qa": "change-link-hearing-outcome-outcome" }
    }
  ]
} %}
  {% set pleaChangeLink = {
  items: [
    {
      href: adjudicationUrls.hearingPleaAndFinding.urls.edit(adjudicationNumber), 
      text: "Change",
      visuallyHiddenText: ' plea',
      attributes: {"data-qa": "change-link-hearing-outcome-plea" }
    }
  ]
} %}
  {% set findingChangeLink = {
  items: [
    {
      href: adjudicationUrls.hearingPleaAndFinding.urls.edit(adjudicationNumber), 
      text: "Change",
      visuallyHiddenText: ' finding',
      attributes: {"data-qa": "change-link-hearing-outcome-finding" }
    }
  ]
} %}
  {% set reasonChangeLink = {
  items: [
    {
      href: adjudicationUrls.hearingReasonForFinding.urls.edit(adjudicationNumber), 
      text: "Change",
      visuallyHiddenText: ' reason',
      attributes: {"data-qa": "change-link-hearing-outcome-reason" }
    }
  ]
} %}
{% endif %}

{% set newRows = [
  {
    key: {
      text: 'Name of adjudicator'
    },
    value: {
      text: hearingDetails.outcome.adjudicator | initialiseName
    },
    actions: adjudicatorChangeLink
  }, {
    key: {
      text: 'Outcome'
    },
    value: {
      text: 'Hearing complete - add adjudication finding'
    },
    actions: outcomeChangeLink
  }, 
  {
    key: { text: 'Plea' },
    value: {
      text: hearingDetails.outcome.plea | convertHearingOutcomePlea
    },
    actions: pleaChangeLink
  }, 
  {
    key: { text: 'Finding' },
    value: {
      text: outcome.code | convertHearingOutcomeFinding
    },
    actions: findingChangeLink
  },
  {
    key: { text: 'Reason' },
    value: {
        text: outcome.details
    },
    actions: reasonChangeLink
  }
  ]%}

{% for individualRow in newRows %}
  {% set rows = (rows.push(individualRow), rows) %}
{% endfor %}