{% if changeLinksAvailableForAdjudicatorAndOutcome %}
  {% set adjudicatorChangeLink = {
  items: [
    {
      href: adjudicationUrls.enterHearingOutcome.urls.edit(adjudicationNumber, hearingId), 
      text: "Change",
      visuallyHiddenText: ' name of adjudicator',
      attributes: {"data-qa": "change-link-hearing-outcome-adjudicator-name" }
    }
  ]
} %}
  {% set outcomeChangeLink = {
  items: [
    {
      href: adjudicationUrls.enterHearingOutcome.urls.edit(adjudicationNumber, hearingId), 
      text: "Change",
      visuallyHiddenText: ' outcome',
      attributes: {"data-qa": "change-link-hearing-outcome-outcome" }
    }
  ]
} %}
{% endif %}

{% set newRows = [
  {
    key: {
      text: 'Name of adjudicator'
    },
    value: {
      text: hearingDetails.outcome.adjudicator | initialiseName
    },
    actions: adjudicatorChangeLink
  }, {
    key: {
      text: 'Outcome'
    },
    value: {
      text: 'Refer this case to the police'
    },
    actions: outcomeChangeLink
  }
]
 %}

{% for individualRow in newRows %}
  {% set rows = (rows.push(individualRow), rows) %}
{% endfor %}