{% if changeLinksAvailable %}
  {% set adjudicatorChangeLink = {
  items: [
    {
      href: adjudicationUrls.enterHearingOutcome.urls.edit(adjudicationNumber, hearingId), 
      text: "Change",
      visuallyHiddenText: ' name of adjudicator',
      attributes: {"data-qa": "change-link-hearing-outcome-adjudicator-name" }
    }
  ]
} %}
  {% set outcomeChangeLink = {
  items: [
    {
      href: adjudicationUrls.enterHearingOutcome.urls.edit(adjudicationNumber, hearingId), 
      text: "Change",
      visuallyHiddenText: ' outcome',
      attributes: {"data-qa": "change-link-hearing-outcome-outcome" }
    }
  ]
} %}
  {% set ReasonDetailsPleaChangeLink = {
  items: [
    {
      href: adjudicationUrls.hearingAdjourned.urls.edit(adjudicationNumber), 
      text: "Change",
      visuallyHiddenText: ' adjourn reason, details and plea',
      attributes: {"data-qa": "change-link-hearing-outcome-reason-details-plea" }
    }
  ]
} %}
{% endif %}

{% set newRows = [
  {
    key: {
      text: 'Name of adjudicator'
    },
    value: {
      text: hearingDetails.outcome.adjudicator | formatAdjudicatorName(hearingDetails.oicHearingType)
    },
    actions: adjudicatorChangeLink
  }, {
    key: {
      text: 'Outcome'
    },
    value: {
      text: 'Adjourn the hearing for another reason'
    },
    actions: outcomeChangeLink
  }, {
    key: {
      text: 'Reason'
    },
    value: {
      html: '<p>' + hearingDetails.outcome.reason | convertHearingOutcomeAdjournReason + '</p><p>' + hearingDetails.outcome.details + '</p>'
    },
    actions: ReasonDetailsPleaChangeLink
  }, {
    key: {
      text: 'Plea'
    },
    value: {
      text: hearingDetails.outcome.plea | convertHearingOutcomePlea
    },
    actions: ReasonDetailsPleaChangeLink
  }
]
 %}

{% for individualRow in newRows %}
  {% set rows = (rows.push(individualRow), rows) %}
{% endfor %}