{% if changeLinksActive %}
  {% set adjudicatorChangeLink = {
  items: [
    {
      href: adjudicationUrls.enterHearingOutcome.urls.edit(adjudicationNumber, hearingId), 
      text: "Change",
      visuallyHiddenText: ' name of adjudicator',
      attributes: {"data-qa": "change-link-hearing-outcome-adjudicator-name" }
    }
  ]
} %}
  {% set outcomeChangeLink = {
  items: [
    {
      href: adjudicationUrls.enterHearingOutcome.urls.edit(adjudicationNumber, hearingId), 
      text: "Change",
      visuallyHiddenText: ' outcome',
      attributes: {"data-qa": "change-link-hearing-outcome-outcome" }
    }
  ]
} %}
{% endif %}

{% set newRows = [
  {
    key: {
      text: 'Name of adjudicator'
    },
    value: {
      text: hearingDetails.outcome.adjudicator | initialiseName
    },
    actions: adjudicatorChangeLink
  }, {
    key: {
      text: 'Outcome'
    },
    value: {
      text: 'Hearing complete - add adjudication finding'
    },
    actions: outcomeChangeLink
  }, 
  {
    key: { text: 'Plea' },
    value: {
      text: hearingDetails.outcome.plea | convertHearingOutcomePlea
    }
  },
    {
    key: { text: 'Finding' },
    value: {
      text: outcome.code | convertHearingOutcomeFinding
    }
    }
  ]%}

{% for individualRow in newRows %}
  {% set rows = (rows.push(individualRow), rows) %}
{% endfor %}