.horizontal-form {
  * {
    width: 100%;
  }

  @include govuk-media-query($from: desktop) {
    display: flex;
    flex-flow: row wrap;

    * {
      width: auto;
      margin-bottom: 0;
      align-self: flex-end;
    }

    > div {
      margin-right: govuk-spacing(3);
    }

    label {
      margin-bottom: govuk-spacing(1);
    }

    button {
      margin-right: govuk-spacing(3);
      margin-bottom: $govuk-border-width-form-element;
    }
  }
}

.horizontal-form-container {
    margin-bottom: govuk-spacing(6);
    padding: govuk-spacing(3);
    background-color: govuk-colour('light-grey');
}

