$govuk-global-styles: true
$path: "/assets/images/"
$govuk-page-width: 1170px
$govuk-font-family-print: 'GDS Transport'

@import 'govuk/all'
@import 'moj/all'

@import './components/feedback-banner'
@import './components/header'
@import './components/_prisoner-playback.scss'
@import './components/_results-table.scss'
@import './components/_confirmed-on-report.scss'
@import './components/_datePicker.scss'
@import './components/_print-link.scss'
@import './components/card'
@import './components/_continue-report.scss'
@import './components/_taskList.scss'
@import './components/_adjudicationSummary.scss'
@import './components/_checkYourAnswers.scss'
@import './components/_adjudication-print-form.scss'

@import 'homepage.scss'
@import 'helpers'
@import 'horizontal-content'

@import './local'

.flex-container 
  display: flex

.flex-center
  align-content: center