$govuk-global-styles: true
$path: "/assets/images/"
$govuk-page-width: 1170px
$govuk-font-family-print: 'GDS Transport'

@import 'govuk/all'
@import 'moj/all'

@import './components/feedback-banner'
@import './components/header'
@import './components/_prisoner-playback.scss'
@import './components/_results-table.scss'
@import './components/_confirmed-on-report.scss'
@import './components/_datePicker.scss'
@import './components/_print-link.scss'
@import './components/card'
@import './components/_continue-report.scss'
@import './components/_taskList.scss'
@import './components/_adjudicationSummary.scss'
@import './components/_checkYourAnswers.scss'
@import './components/_conditionalRadios.scss'
@import './components/_details-of-offence.scss'
@import './components/_pdf.scss'
@import './components/_adjudication-pdf.scss'
@import './components/_evidenceTable.scss'
@import './components/_damagesWitnessesTable.scss'
@import './components/_timeSelect.scss'
@import './components/_hearingFilter.scss'
@import './components/_completedReports.scss'
@import './components/_confirmDISForm.scss'
@import './components/_alerts.scss'
@import './components/_printCompletedDISForms.scss'
@import './components/_punishments.scss'
@import './components/_data-insight.scss'
@import './components/_transferBanner.scss'

@import 'homepage.scss'
@import 'helpers'
@import 'horizontal-content'

@import './local'

.flex-container 
  display: flex

.flex-center
  align-content: center

.flex-column
  flex-direction: column

.word-break
  word-break: break-word