.govuk-main-wrapper
  min-height: 600px

.print-only
  display: none

@media print
  .no-print, .govuk-header, .govuk-footer
     display: none !important

  .print-only
     display: block !important

  .page-break-before
    page-break-before: always

  .fixed-bottom
    position: fixed
    bottom: 0

@page
  @bottom-left
    content: counter(page) "/" counter(pages)