body
 -webkit-print-color-adjust: exact !important /* Make background colour print - Chrome, Edge */
 color-adjust: exact /* Make background colour print - Firefox*/

.print-only
  display: none

body.qqrp p
  color: green
  font-family: 'GSD transport',Arial, sans-serif



@media print
  .no-print, .govuk-header, .govuk-footer
     display: none !important

  .print-only
     display: block !important

  .page-break-before
    page-break-before: always

  .govuk-main-wrapper
    padding: 0px !important /* Remove the initial padding on the first page */
