{% from "../../macros/dataInsights/horizontalBarsChartData.njk" import horizontalBarsChartData %}

{% macro horizontalBarsChart(chartSetting) %}
    {{ horizontalBarsChartData(chartSetting) }}
{% endmacro %}