{% from "../../macros/dataInsights/multiVerticalBarsChartData.njk" import multiVerticalBarsChartData %}

{% macro multiVerticalBarsChart(chartSetting) %}
    {{ multiVerticalBarsChartData(chartSetting) }}
{% endmacro %}