{% from "../../macros/dataInsights/verticalBarsAndLineChartData.njk" import verticalBarsAndLineChartData %}

{% macro verticalBarsAndLineChart(chartSetting) %}
    {{ verticalBarsAndLineChartData(chartSetting) }}
{% endmacro %}