@use 'moj/settings/all' with (
  $moj-page-width: 1170px,
  $moj-assets-path: "/assets/",
  $moj-font-family: 'GDS Transport'
);
@use 'moj/all' as *;
@use 'dist/govuk/index' as *;

@use './components/feedback-banner';
@use './components/header';
@use './components/header-bar';
@use './components/footer';
@use './components/date-picker';
@use './components/prisoner-playback';
@use './components/results-table';
@use './components/confirmed-on-report';
@use './components/print-link';
@use './components/card';
@use './components/continue-report';
@use './components/taskList';
@use './components/adjudicationSummary';
@use './components/checkYourAnswers';
@use './components/conditionalRadios';
@use './components/details-of-offence';
@use './components/pdf';
@use './components/adjudication-pdf';
@use './components/evidenceTable';
@use './components/damagesWitnessesTable';
@use './components/timeSelect';
@use './components/hearingFilter';
@use './components/completedReports';
@use './components/confirmDISForm';
@use './components/alerts';
@use './components/printCompletedDISForms';
@use './components/punishments';
@use './components/data-insight';
@use './components/transferBanner';
@use './components/adjudicationHistory';

@use 'homepage';
@use 'helpers';
@use 'horizontal-content';

@use 'local';

.flex-container {
  display: flex;
}

.flex-center {
  align-content: center;
}

.flex-column {
  flex-direction: column;
}

.word-break {
  word-break: break-word;
}

.noBottomBorder {
  border-bottom: none;
}
