.adjudication-print-form-header-bold {
  font-weight: 700;
}

.adjudication-print-form-input {
  height: 25px;
}

.adjudication-print-form-header {
  background-color: #D8D8D8;
  padding: 10px;
}

.adjudication-print-form-footer {
  background-color: #D8D8D8;
  position: fixed;
  bottom: 0;
  padding: 10px;
  width: 1170px; /*TODO why*/
}

.adjudication-print-form-section {
  padding-bottom: 10px;
  display: flex;
  align-items: end;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 auto;
    padding-right: govuk-spacing(3);
    width: 20%;

    &:last-child {
      width: 80%;
    }
  }
}