div.adjudication-pdf {
  p,
  li,
  span {
    font-size: 12px;
    line-height: 1.3;
  }
  h2 {
    font-size: 14px;
  }
  h3 {
    font-size: 12px;
  }
  
}

.adjudication-pdf-input {
  border-width: thin;
  border-style: solid;
}

.adjudication-pdf-input__square {
  height: 30px;
  width: 30px;
}

.adjudication-pdf-input__medium-square {
  height: 20px;
  width: 20px;
}

.adjudication-pdf-input__small-square {
  height: 15px;
  width: 15px;
}

.adjudication-pdf-input-text-box-sixth-width {
  height: 30px;
  width: 80px;
}

.adjudication-pdf-input-text-box-third-width {
  height: 30px;
  width: 200px;
}

.adjudication-pdf-input-text-box-five-lines-high-third-width {
  height: 80px;
  width: 300px;
}

.adjudication-pdf-input-text-box-half-width {
  height: 30px;
  width: 300px;
}

.adjudication-pdf-input-text-box-full-width {
  height: 30px;
  width: 90%;
}

.adjudication-pdf-input-text-box-large-full-width {
  height: 700px;
  width: 100%;
}

.adjudication-pdf-input-text-box-five-lines-high-full-width {
  height: 80px;
  width: 90%;
}

.adjudication-pdf-input-text-box-two-lines-full-width {
  height: 40px;
  width: 90%;
}

.adjudication-pdf-input-issuing-officer {
  height: 30px;
  width: 50%;
}
.adjudication-pdf-prisoner-statement {
  height: 400px;
  width: 100%;
}

.adjudication-pdf-conduct-statement {
  height: 340px;
  width: 100%;
}

.adjudication-pdf-brief-text-entry {
  height: 80px;
  width: 100%;
}

.adjudication-pdf-brief-offence-details-small {
  height: 130px;
  width: 100%;
}

.adjudication-pdf-punishment-given {
  height: 100px;
  width: 100%;
}
.adjudication-pdf-punishment-given-small {
  height: 100px;
  width: 100%;
}

.adjudication-pdf-section-issued-details {
  display: flex;
  align-items: space-between;

  &__item {
    padding-right: govuk-spacing(4);

    &:last-child {
      width: 60%;
    }
  }
}
.adjudication-pdf-section-prisoner {
  display: flex;
  align-items: end;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 auto;
    padding-right: govuk-spacing(3);
    width: 20%;
    &:last-child {
      width: 60%;
    }
  }
}

.adjudication-pdf-section-adjournment-details {
  display: flex;
  align-items: space-between;

  &__item {
    padding-right: govuk-spacing(6);

    &.time {
      width: 50%;
    }
  }
}

.adjudication-pdf-section-sentence-details {
  display: flex;

  &__item {
    width: 50%;
    padding-right: govuk-spacing(6);
  }
}

.adjudication-pdf-section-sentence-details-three-items {
  display: flex;

  &__item {
    width: 33%;
    padding-right: govuk-spacing(4);
  }
}

.adjudication-pdf-section-sentence-details-four-items {
  display: flex;

  &__item {
    width: 25%;
  }
}

.adjudication-pdf-section-signature-details {
  display: flex;

  &__item {
    width: 50%;
    padding-right: govuk-spacing(6);
  }
}

.adjudication-pdf-section-punishment-details {
  display: flex;

  &__item {
    &:nth-child(1) {
      width: 20%;
      padding-right: govuk-spacing(3);
    }
    &:nth-child(2) {
      width: 12%;
      padding-right: govuk-spacing(3);
    }
    &:nth-child(3) {
      width: 8%;
      padding-right: govuk-spacing(3);
    }
    &:nth-child(4) {
      width: 30%;
    }
    &:nth-child(5) {
      width: 30%;
    }
  }
}

.adjudication-pdf-section-punishment-details-checkboxes {
  display: flex;

  &__item {
    &:nth-child(1) {
      width: 75%;
      padding-right: govuk-spacing(3);
    }

    &:nth-child(2) {
      width: 25%;
    }
  }
}

.adjudication-pdf-section-vertical-break {
  border-left: 1px solid govuk-colour('mid-grey');
  height: 650px;
  position:absolute;
  left: 68.5%;
}

div.adjudication-pdf {
  .adjudication-pdf-section-header {
    font-size: 24px;
    font-weight: bold;
  }
  
  .adjudication-pdf-section-header-inner {
    font-size: 16px;
  }
}

.adjudication-pdf-section-prepare-record-checkboxes {
  display: flex;

  &__item {
    &:nth-child(1) {
      width: 66%;
      padding-right: govuk-spacing(3);
    }

    &:nth-child(2) {
      width: 33%;
    }
  }
}

.adjudication-pdf-section-finding-checkboxes {
  display: flex;
  
  &__item {
      padding-right: govuk-spacing(3);
  }
}

.adjudication-pdf-section-other-underline {
  width: 50%;
  border-top: none;
  border-left: none;
  border-right: none;
}

.adjudication-pdf-section-hearing-details {
  display: flex;
  align-items: space-between;

  &__item {
    padding-right: govuk-spacing(4);

    &:first-child {
      width: 60%;
    }
  }
}

.adjudication-pdf-section-signature-boxes {
  width: 100%;
  display: flex;
  align-items: space-between;

  &__item {
    &:first-child {
      width: 45%;
    }
    &:last-child {
      width:55%;
    }
  }

  .adjudication-pdf-signature-box {
    width: 100%;
    height: 100px;
  }
}

.adjudication-pdf-section-date-signature {
  display:flex;
  justify-content: flex-end;

  &__item {
    width:55%;
  }
}

.restricted-width {
  max-width: 60%;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  font-size: 12px;
}

th {
  padding-right: 3em;
}

tr {
  border-bottom: 1px solid grey;
}

td {
  padding: 10px 0px;
}