.checkAnswers-conditions {
	max-width: 500px;
}

.checkAnswers-incidentDetails, .checkAnswers-incidentStatement{
	@media print, (min-width: #{map-get($govuk-breakpoints, 'tablet')}) {
		max-width: 60%;
	}
}

.checkAnswers-heading {
	align-items: baseline;
	align-content: flex-start;
	h2 {
		flex-basis: 60%;
	}

}