#statusFilterBox {
    margin-top:-50px;
    margin-left: 2.5em;

    .horizontal-form, .govuk-form-group {
        margin-bottom: 0px!important;
    }

    .statusFilterCheckboxes {
        height: 200px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .govuk-checkboxes__label {
        padding: 8px 15px 8px 1px;
        max-width:fit-content;
    }
}

.date-of-discovery-input {
    max-width: 7.5em!important;
}

.displayFlex {
    display: flex;
}

.hearingsAndReferrals {
    width: 181px;
}

.viewReport {
    width: 96px;
}

.transfers-filter-checkboxes {
    .govuk-checkboxes__label {
        max-width:fit-content;
    }
}