#statusFilterBox {
    margin-top:-47px;

    .horizontal-form, .govuk-form-group {
        margin-bottom: 0px!important;
    }
    .govuk-checkboxes__item {
        width: 144px!important;
    }
    .stausFilterCheckboxes {
        width: 375px;
        display: flex;
        flex-wrap: wrap;
    }
}
.spacerCol {
    width: 30px;
}
.displayFlex {
    display: flex;
}
