#statusFilterBox {
    margin-top:-47px;
    margin-left: 40px;

    .horizontal-form, .govuk-form-group {
        margin-bottom: 0px!important;
    }
    .govuk-checkboxes__item {
        width: 175px!important;
    }
    .statusFilterCheckboxes {
        height: 170px;
        width: 760px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .govuk-checkboxes__label {
        padding: 8px 8px 8px 1px;
    }
}

.displayFlex {
    display: flex;
}

.hearingsAndReferrals {
    width: 181px;
}

.viewReport {
    width: 96px;
}