.confirmed-on-report-print-link {
  margin-top: 10px;
  margin-bottom: 10px;
}

.confirmed-on-report-section {
  margin-bottom: 20px;
}

.confirmed-on-report-process-warning {
  border-left: 3px solid gray;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.confirmed-on-report-process-warning-text {
  margin-bottom: 0px;
}

.confirmed-on-report-list-header-text {
  margin-bottom: 10px;
}