.removeColumn {
text-align: right;
    p {
        margin-right: 10px;
    }
}

.firstColumn {
    width: 30%;
}

.columnWidth10 {
    width: 10%
}
.columnWidth12 {
    width: 12%
}
.columnWidth15 {
    width: 15%
}
.columnWidth17 {
    width: 17%
}
.columnWidth20 {
    width: 20%
}
.columnWidth30 {
    width: 30%
}