
.main-chart-panel {
}

.chart-with-data-panel {
}

.chart-generic-panel {
  height: 500px;
  padding-left: 225px;
}

.chart-table-panel {
}

.chart-table-panel-series {
  width: 190px;
  font-weight: bold;
  text-align: right;
  padding-right: 40px;
}

.chart-table-panel-value {
  width: 40px;
}


