.main-chart-with-data-panel {
}

.commentary-chart-with-data-panel {
  padding-top: 25px;
  padding-bottom: 5px;
  padding-left: 20px;
  background: govuk-colour("light-grey");
}

.chart-generic-panel {
}

.chart-generic-panel-vertical-bars-and-line {
  height: 500px;
  padding-left: 220px;
}

.chart-generic-panel-horizontal-bars {
  padding-left: 20px;
}

.chart-table-panel {
}

.chart-generic-panel-multiple-line {
  height: 800px;
}

.chart-generic-panel-multi-vertical-bars {
  height: 500px;
  padding-left: 205px;
}

.vertical-chart-table-head-cell,
.multi-vertical-bars-chart-table-head-cell {
  width: 190px;
  font-weight: bold;
  text-align: right;
  padding-right: 40px;
}

.vertical-chart-table-row-cell {
  width: 40px;
}

.multi-vertical-bars-chart-table-row-cell {
  width: 40px;
  word-spacing: 20px;
}

.horizontal-chart-table-head-cell {
  width: 110px;
  font-weight: bold;
  text-align: right;
  border: none;
}

.horizontal-chart-table-head-cell-first {
  min-width: 110px;
  width: auto;
  vertical-align: top !important;
}

.horizontal-chart-table-row-cell {
  text-align: right;
  vertical-align: top !important;
  line-height: 35px;
  border: none;
}

.multiple-line-table-head-cell {
  width: 110px;
  font-weight: bold;
  text-align: right;
  border: none;
  padding: 5px 5px 5px 0;
  word-spacing: 100px;
}

.multiple-line-table-head-cell-first {
  min-width: 110px;
  width: auto;
  vertical-align: top !important;
  text-align: left;
  word-spacing: normal;
}

.multiple-line-table-row-cell {
  text-align: right;
  vertical-align: top !important;
  line-height: 35px;
  border: none;
  padding: 5px 5px 5px 0;
  word-spacing: 100px;
}

.multiple-line-table-row-cell-first {
  text-align: left;
  word-spacing: normal;
}

.multiple-line-table-row-cell-header {
  padding-top: 20px;
  padding-bottom: 10px;
}

.chart-horizontal-panel-canvas {
}

.totals-adjudications-and-locations-tab {
  .chart-horizontal-panel {
    padding-top: 60px;
    padding-left: 20px;
  }
}

.protected-and-responsivity-characteristics-tab {
  .chart-horizontal-panel {
    padding-top: 72px;
    padding-left: 20px;
  }

  .characteristic-type-selector {
    .filter-selector {
      width: 100%;
    }

    .show-results-button {
      margin-top: 30px;
      margin-left: 5px;
    }
  }

  .offenceType-type-selector,
  .punishment-type-selector,
  .plea-type-selector,
  .finding-type-selector {
    .filter-selector {
      width: auto;
    }

    .show-results-button {
      margin-top: 30px;
      margin-left: 5px;
    }
  }

  .punishment-by-protected-or-responsivity-characteristic {
    .horizontal-chart-table-head-cell {
      width: 125px;
    }
  }
}

.offence-type-tab {
  .filter-selector {
  }

  .chart-horizontal-panel {
    padding-top: 60px;
    padding-left: 20px;
  }

  .show-results-button {
    margin-top: 30px;
    margin-left: 5px;
  }

  .offenceType-type-selector {
    .filter-selector {
      width: auto;
    }

    .show-results-button {
      margin-top: 30px;
      margin-left: 5px;
    }
  }
}

.punishments-tab {
  .filter-selector {
  }

  .show-results-button {
    margin-top: 30px;
    margin-left: 5px;
  }
}

.pleas-and-findings-tab {
}
