
.chart-with-table-panel {
}

.chart-generic-panel {
  height: 500px;
  padding-left: 225px;
}

.chart-table-panel {
}

.chart-table-panel-series {
  width: 205px;
}

.chart-table-panel-value {
  width: 40px;
}


