.columnWidth10 {
    width: 10%
}
.columnWidth12 {
    width: 12%
}
.columnWidth15 {
    width: 15%
}
.columnWidth17 {
    width: 17%
}
.columnWidth20 {
    width: 20%
}
.columnWidth30 {
    width: 30%
}
.columnWidth90 {
    width: 90%
}

.hideHeaderBorder{
    border-bottom: 0px;
    padding-top: 0px;
}

.punishmentsTitleRow {
    display: flex;
    justify-content: space-between;
}

.activateButtonContainer {
    display: flex;
    justify-content: flex-end;
}

.verticalAlign {
    vertical-align: middle;
}

.cellWidth-140 {
    width: 140px;
}

.tableLink {
    width: 80px;
    text-align: right;
    vertical-align: middle;
}
