.columnWidth10 {
    width: 10%
}
.columnWidth12 {
    width: 12%
}
.columnWidth15 {
    width: 15%
}
.columnWidth17 {
    width: 17%
}
.columnWidth20 {
    width: 20%
}
.columnWidth30 {
    width: 30%
}

.punishmentsTitleRow {
    display: flex;
    justify-content: space-between;
}

.activateButtonContainer {
    display: flex;
    justify-content: flex-end;
}

.verticalAlign {
    vertical-align: middle;
}

.cellWidth-140 {
    width: 140px;
}

.linkUpdate {
    width: 100px;
}

.linkDelete {
    width: 100px;
}