%status-style {
    @media screen {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border: 3px solid;
      padding: 5px 10px;
      margin-left: 0;
      margin-right: 5px;
      margin-bottom: 5px;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      line-height: 1;
      user-select: none;
    }
  
    @media print {
      margin-bottom: 0px !important;
      font-size: 12px;
      color: black !important;
      border: none !important;
      background: none !important;
      min-width: auto;
    }
  }

.alerts-list-no-flex {
    @extend %govuk-list;
    margin-bottom: 0;
  }

  .alerts-list {
    @extend %govuk-list;
    margin-bottom: 0;
  
    @media screen {
      display: flex;
      flex-wrap: wrap;
    }
  }

.alert-status {
  @extend %status-style;

  @media screen {
    text-transform: uppercase;
  }

  &--acct {
    color: #d34700;
    border-color: #d34700;
  }

  &--disability {
    color: #2b88c8;
    border-color: #2b88c8;
  }

  &--csip {
    color: #4c2c92;
    border-color: #4c2c92;
  }

  &--prgnt {
    color: #d53880;
    border-color: #d53880;
  }
}

.moj-alert {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  display: grid;
  margin-bottom: 30px;
  grid-template-columns: min-content fit-content(960px);
  padding: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-image: initial;
  background: rgb(255, 255, 255);
  gap: 10px;
}

.moj-alert--information {
  color: rgb(29, 112, 184);
  border-color: rgb(29, 112, 184);
}
