.details-of-offence-questions-and-answers {
  display: flex;
  justify-content: space-between;
  .q-and-a {
    max-width: 80%;
  }
}

.prisoner-rule {
  border-bottom: 1px solid $govuk-border-colour;
}
