.results-table {
  overflow: auto;

  &__image {
    width: 90px;
  }

  .govuk-table__header {
    vertical-align: bottom;
  }

  .govuk-table__cell {
    vertical-align: middle;
  }

  .transferAgencyInfoGrey {
    color: govuk-colour('dark-grey');
    margin-bottom: 0;
  }
}

