{% from "govuk/components/button/macro.njk" import govukButton %}

{% if finalHistoryItem.nextStep and finalHistoryItem.nextStep.value === 'Adjourn the hearing for another reason' %}
    {{ govukButton({
        text: 'Schedule another hearing',
        href: adjudicationUrls.scheduleHearing.urls.start(reportNo),
        classes: "govuk-button govuk-!-margin-right-3",
        name: "scheduleAnotherHearingButton",
        attributes: { "data-qa": "schedule-another-hearing-button" }
    }) }}
{% endif %}

{% if reviewStatus === ReportedAdjudicationStatus.SCHEDULED and not finalHistoryItem.nextStep %}
    {{ govukButton({
        text: 'Enter the hearing outcome',
        href: adjudicationUrls.enterHearingOutcome.urls.start(reportNo,latestHearingId),
        classes: "govuk-button govuk-!-margin-right-3",
        name: "enterHearingOutcomeButton",
        attributes: { "data-qa": "enter-hearing-outcome-button" }
    }) }}
{% endif %}

{# 
    if outcome/refer to po or hearing/outcome/refer to po - enter referral outcome
    if hearing/outcome/refer to ia - continue to next step
    if hearing/outcome/refer to ia with next step - no button
    if complete - no button
    if outcome - not proceed with - no button 
#}

{# TODO: Deal with these at later date #}
{# {% if reviewStatus === ReportedAdjudicationStatus.REFER_POLICE %}
    {{ govukButton({
        text: 'Enter the referral outcome',
        href: '',
        classes: "govuk-button govuk-!-margin-right-3",
        name: "enterReferralOutcomeButton",
        attributes: { "data-qa": "enter-referral-outcome-button" }
    }) }}
{% elseif reviewStatus === ReportedAdjudicationStatus.REFER_IA %}
    {{ govukButton({
        text: 'Continue to next step',
        href: '',
        classes: "govuk-button govuk-!-margin-right-3",
        name: "continueToNextStepButton",
        attributes: { "data-qa": "continue-next-step-button" }
    }) }}
{% endif %} #}