{% from "../../macros/hearingSummary.njk" import hearingSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro hearingTable(hearingNumber, hearing, outcome, readOnly, reportNo, changeLinksAvailable, reviewStatus) %}
  {# if there is an outcome attached to the hearing, users shouldnt be able to edit the hearing #}
  {% set referralOnHearing = reviewStatus === ReportedAdjudicationStatus.REFER_POLICE or reviewStatus === ReportedAdjudicationStatus.REFER_INAD %}
  {% set changeLinksAvailableForHearing = false if referralOnHearing else changeLinksAvailable %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      {% set hearingId = hearing.id %}
      <h2 class="govuk-heading-m" data-qa="hearing-index-{{hearingNumber}}">Hearing {{ hearingNumber }}</h2>
      {% if not readOnly %}
        {{ hearingSummary(hearing, outcome, { "data-qa": "details-summary-table-"+hearingNumber }, changeLinksAvailableForHearing, adjudicationUrls.scheduleHearing.urls.edit(reportNo, hearingId), reportNo, reviewStatus) }}
      {% else %}
        {{ hearingSummary(hearing, outcome, { "data-qa": "details-summary-table-"+hearingNumber }, false) }}
      {% endif %}
    </div>
  </div>
{% endmacro %}