{% from "../../macros/hearingSummary.njk" import hearingSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro hearingTable(hearingNumber, hearing, outcome, readOnly, reportNo, latestHearingId) %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      {% set hearingId = hearing.id %}
      <h2 class="govuk-heading-m" data-qa="hearing-index-{{hearingNumber}}">Hearing {{ hearingNumber }}</h2>
      {% if not readOnly %}
        {{ hearingSummary(hearing, outcome, { "data-qa": "details-summary-table-"+hearingNumber }, hearing.id === latestHearingId, adjudicationUrls.scheduleHearing.urls.edit(reportNo, hearingId), reportNo, latestHearingId) }}
      {% else %}
        {{ hearingSummary(hearing, outcome, { "data-qa": "details-summary-table-"+hearingNumber }, false) }}
      {% endif %}
    </div>
  </div>
{% endmacro %}