{% from '../../macros/outcomeSummaries/outcomeNotProceedSummary.njk' import outcomeNotProceedSummary %}
{% from '../../macros/outcomeSummaries/outcomePoliceReferralSummary.njk' import outcomePoliceReferralSummary %}
{% from '../../macros/outcomeSummaries/outcomeInAdReferralSummary.njk' import outcomeInAdReferralSummary %}
{% from '../../macros/outcomeSummaries/outcomeQuashedSummary.njk' import outcomeQuashedSummary %}
{% from '../../macros/outcomeSummaries/outcomeGovReferralSummary.njk' import outcomeGovReferralSummary %}

{% macro outcomeTable(outcomeItem, readOnly, reportNo, attachedToHearing, changeLinksAvailable) %}
  {% set outcomeCode = outcomeItem.outcome.code %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h2 class="govuk-heading-m" data-qa="outcome-table-title">{{ outcomeCode | outcomeTableTitle }}</h2>
        {% if outcomeCode === OutcomeCode.NOT_PROCEED %}
          {{ outcomeNotProceedSummary(reportNo, outcomeItem.outcome, { "data-qa": "not-proceed-summary-table" }, changeLinksAvailable, readOnly) }}
        {% elif outcomeCode === OutcomeCode.REFER_POLICE %}
          {{ outcomePoliceReferralSummary(reportNo, outcomeItem, { "data-qa": "police-referral-table" }, changeLinksAvailable, attachedToHearing, readOnly) }}
        {% elif outcomeCode === OutcomeCode.REFER_INAD %}
          {{ outcomeInAdReferralSummary(reportNo, outcomeItem, { "data-qa": "inad-referral-table" }, changeLinksAvailable, readOnly) }}
        {% elif outcomeCode === OutcomeCode.REFER_GOV %}
          {{ outcomeGovReferralSummary(reportNo, outcomeItem, { "data-qa": "gov-referral-table" }, changeLinksAvailable, readOnly) }}
        {% elif outcomeCode === OutcomeCode.QUASHED %}
          {{ outcomeQuashedSummary(reportNo, outcomeItem.outcome, { "data-qa": "quashed-table" }, changeLinksAvailable, readOnly) }}
        {% endif %}
    </div>
  </div>
{% endmacro %}