{% from '../../macros/outcomeSummaries/outcomeNotProceedSummary.njk' import outcomeNotProceedSummary %}
{% from '../../macros/outcomeSummaries/outcomePoliceReferralSummary.njk' import outcomePoliceReferralSummary %}
{% from '../../macros/outcomeSummaries/outcomeInAdReferralSummary.njk' import outcomeInAdReferralSummary %}

{% macro outcomeTable(outcomeItem, readOnly, reportNo) %}
  {% set outcomeCode = outcomeItem.outcome.code %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h2 class="govuk-heading-m" data-qa="outcome-table-title">{{ outcomeCode | outcomeTableTitle }}</h2>
        {% if outcomeCode === OutcomeCode.NOT_PROCEED %}
          {{ outcomeNotProceedSummary(outcomeItem.outcome, { "data-qa": "not-proceed-summary-table" }, readOnly) }}
        {% elif outcomeCode === OutcomeCode.REFER_POLICE %}
          {{ outcomePoliceReferralSummary(outcomeItem, { "data-qa": "police-referral-table" }, readOnly) }}
        {% elif outcomeCode === OutcomeCode.REFER_INAD %}
          {{ outcomeInAdReferralSummary(outcomeItem, { "data-qa": "inad-referral-table" }, readOnly) }}
        {% endif %}
    </div>
  </div>
{% endmacro %}