<p class="govuk-body">
    <a href="{{ allCompletedReportsHref }}" class="govuk-link" data-qa="all-completed-reports-link">Return to all reports</a>
</p>
<p class="govuk-body">
    <a href="{{ allHearingsHref }}" class="govuk-link" data-qa="all-hearings-link">Return to all hearings</a>
</p>