{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro outcomeGovReferralSummary(chargeNumber, outcome = {}, attributes = {}, changeLinksAvailable = false, readOnly = false) %}
  {% set outcomeDetails = outcome.outcome %}
  {% set referralDetails = outcome.referralOutcome %}

  {% set reasonForReferralChangeLinkAvailable = false if outcome.referralOutcome or readOnly else changeLinksAvailable %}
  
  {% if reasonForReferralChangeLinkAvailable %}
    {% set reasonForReferralChangeLink = {
      items: [
        {
          href: adjudicationUrls.hearingReasonForReferral.urls.edit(chargeNumber) + '?hearingOutcome=REFER_GOV', 
          text: "Change",
          visuallyHiddenText: ' reason for not having an independent adjudicator hearing',
          attributes: {"data-qa": "change-link-hearing-outcome-reason-for-referral" }
        }
      ]
    } %}
  {% endif %}

  {% set rows = [
    {
      key: {
        text: 'What is the reason for not having an independent adjudicator hearing?'
      },
      value: {
        text: outcomeDetails.details
      },
      actions: reasonForReferralChangeLink
    }
  ] %}

  {% if referralDetails %}
    {% set nextStep = 'Not proceed with the charge' if referralDetails.code == ReferralOutcomeCode.NOT_PROCEED else 
      'Schedule a hearing' %}
    {% set notProceeding = referralDetails.code == ReferralOutcomeCode.NOT_PROCEED %}
    {% set rows = (rows.push({
      key: {
        text: 'Outcome'
      },
      value: {
        text: nextStep
      }
    }), rows) %}

    {% if notProceeding %}
      {% set rows = (rows.push({
        key: {
          text: 'Reason for not proceeding'
        },
        value: { html: '<p class="govuk-body">'+ referralDetails.reason | convertNotProceedReason +'</p><p class="govuk-body">'+ referralDetails.details +'</p>' }
      }), rows) %}
    {% endif %}
  {% endif %}

  {% if rows.length %}
    {{ govukSummaryList({
      rows: rows,
      attributes: attributes
    }) }}
  {% endif %}
{% endmacro %}