{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro outcomePoliceReferralSummary(reportNo, outcome = {}, attributes = {}, changeLinksAvailable = false, attachedToHearing = null) %}
  {% set outcomeDetails = outcome.outcome %}
  {% set referralDetails = outcome.referralOutcome %}
  {% if attachedToHearing %}
    {% set changeLinkHref = adjudicationUrls
      .hearingReasonForReferral
      .urls
      .edit(reportNo) %}
    {% set dataQa = 'change-link-hearing-outcome-reason-for-referral' %}
  {% else %}
    {% set changeLinkHref = adjudicationUrls
      .reasonForReferral
      .urls
      .edit(reportNo) %}
    {% set dataQa = 'change-link-outcome-reason-for-referral' %}
  {% endif %}

  {% set reasonForReferralChangeLinkAvailable = false if outcome.referralOutcome else changeLinksAvailable %}

  {% if reasonForReferralChangeLinkAvailable %}
    {% set reasonForReferralChangeLink = {
      items: [
        {
          href: changeLinkHref, 
          text: "Change",
          visuallyHiddenText: ' reason for referral',
          attributes: {"data-qa": dataQa }
        }
      ]
    } %}
  {% endif %}

  {% set rows = [
    {
      key: {
        text: 'Reason for referral'
      },
      value: {
        text: outcomeDetails.details
      },
      actions: reasonForReferralChangeLink
    }
  ] %}

  {% if referralDetails %}
    {% set prosecute = referralDetails.code == ReferralOutcomeCode.PROSECUTION %}
    {% set nextStep = 'Not proceed with the charge' if referralDetails.code == ReferralOutcomeCode.NOT_PROCEED else 
      'Schedule a hearing' %}
    {% set notProceeding = referralDetails.code == ReferralOutcomeCode.NOT_PROCEED %}
    {% set rows = (rows.push({
      key: {
        text: 'Will this charge continue to prosecution?'
      },
      value: {
        text: 'Yes'
      }
      if prosecute else {
        text : 'No'
      }
    }), rows) %}

    {% if not prosecute %}
      {% set rows = (rows.push({
        key: {
          text: 'Outcome'
        },
        value: {
          text: nextStep
        }
      }), rows) %}
    {% endif %}

    {% if notProceeding %}
      {% set rows = (rows.push({
        key: {
          text: 'Reason for not proceeding'
        },
        value: { html: '<p class="govuk-body">'+ referralDetails.reason | convertNotProceedReason +'</p><p class="govuk-body">'+ referralDetails.details +'</p>' }
      }), rows) %}
    {% endif %}
  {% endif %}

  {% if rows.length %}
    {{ govukSummaryList({
      rows: rows,
      attributes: attributes
    }) }}
  {% endif %}
{% endmacro %}