{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro outcomeInAdReferralSummary(chargeNumber, outcome = {}, attributes = {}, changeLinksAvailable = false, readOnly = false, nextOutcomeItem = null) %}
  {% set outcomeDetails = outcome.outcome %}
  {% set referralDetails = outcome.referralOutcome %}

  {% set reasonForReferralChangeLinkAvailable = false if outcome.referralOutcome or readOnly else 
    changeLinksAvailable %}

  {% if reasonForReferralChangeLinkAvailable %}
    {% set reasonForReferralChangeLink = {
      items: [
        {
          href: adjudicationUrls.hearingReasonForReferral.urls.edit(chargeNumber), 
          text: "Change",
          visuallyHiddenText: ' reason for referral',
          attributes: {"data-qa": "change-link-hearing-outcome-reason-for-referral" }
        }
      ]
    } %}
  {% endif %}

  {% set rows = [
    {
      key: {
        text: 'Reason for referral'
      },
      value: {
        text: outcomeDetails.details
      },
      actions: reasonForReferralChangeLink
    }
  ] %}

  {% if referralDetails %}
    {% set notProceeding = referralDetails.code == ReferralOutcomeCode.NOT_PROCEED %}
    {% set referToGov = referralDetails.code == ReferralOutcomeCode.REFER_GOV %}
    {% set scheduleHearing = referralDetails.code == ReferralOutcomeCode.SCHEDULE_HEARING %}

    {% if notProceeding %}
      {% set nextStep = "Not proceed with the charge" %}
    {% elif scheduleHearing %}
      {% set nextStep = "Schedule a hearing" %}
    {% else %}
      {% set nextStep = "Refer this case to a governor" %}
    {% endif %}

    {% set rows = (rows.push({
      key: {
        text: 'Outcome'
      },
      value: {
        text: nextStep
      }
    }), rows) %}

    {% if notProceeding %}
      {% set rows = (rows.push({
        key: {
          text: 'Reason for not proceeding'
        },
        value: { html: '<p class="govuk-body">'+ referralDetails.reason | convertNotProceedReason +'</p><p class="govuk-body">'+ referralDetails.details | hideIfUndefined +'</p>' }
      }), rows) %}
    {% endif %}
  {% endif %}

  {% if rows.length %}
    {{ govukSummaryList({
      rows: rows,
      attributes: attributes
    }) }}
  {% endif %}

  {# IA refers to gov as the next step - creates referral outcome which needs separate table (this only occurs after an IA referral) #}
  {% if referToGov %}

 {% set reasonForGovernorReferralChangeLinkAvailable = false if nextOutcomeItem else 
    changeLinksAvailable %}

  {% if reasonForGovernorReferralChangeLinkAvailable %}
    {% set reasonForReferralChangeLink = {
      items: [
        {
          href: adjudicationUrls.govReasonForReferral.urls.edit(chargeNumber), 
          text: "Change",
          visuallyHiddenText: ' reason for governor referral',
          attributes: {"data-qa": "change-link-hearing-outcome-reason-for-referral" }
        }
      ]
    } %}
  {% endif %}

  {% set referToGovRows = [
    {
      key: {
        text: 'Why has this case been referred back to the governor?'
      },
      value: {
        text: referralDetails.referGovReason | convertReferGovReason
      },
      actions: reasonForReferralChangeLink
    },
        {
      key: {
        text: 'Adjudicator’s comments about the referral'
      },
      value: {
        text: referralDetails.details | hideIfUndefined
      },
      actions: reasonForReferralChangeLink
    }
  ] %}


  {# If there's an outcome on the end of the history list... #}
  {% if nextOutcomeItem %}
    {% set govNextStepChosen = nextOutcomeItem.outcome.code %}
    {% set nextStepNotProceeding = govNextStepChosen == OutcomeCode.NOT_PROCEED %}
    {% set nextStepHearing = govNextStepChosen == OutcomeCode.SCHEDULE_HEARING %}

    {% if nextStepNotProceeding %}
      {% set nextStepText = "Not proceed with the charge" %}
    {% elif nextStepHearing %}
      {% set nextStepText = "Schedule a hearing" %}
    {% endif %}

    {% set referToGovRows = (referToGovRows.push({
      key: {
        text: 'Outcome'
      },
      value: {
        text: nextStepText
      }
    }), referToGovRows) %}
  {% endif %}
  

  {% if referToGovRows.length %}
  <h2 class="govuk-heading-m" data-qa="outcome-table-title">Governor referral</h2>
    {{ govukSummaryList({
      rows: referToGovRows,
      attributes: {
        "data-qa": "gov-referral-table"
      }
    }) }}
  {% endif %}
  {% endif %}
{% endmacro %}