{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro outcomeNotProceedSummary(chargeNumber, outcome = {}, attributes = {}, changeLinksAvailable = false, readOnly = false) %}

  {% set reasonForOutcomeChangeLinkAvailable = false if readOnly else changeLinksAvailable %}

  {% if reasonForOutcomeChangeLinkAvailable %}
    {% set reasonChangeLink = {
    items: [
      {
        href: adjudicationUrls.reasonForNotProceeding.urls.edit(chargeNumber), 
        text: "Change",
        visuallyHiddenText: ' reason',
        attributes: {"data-qa": "change-link-outcome-reason" }
      }
    ]
    } %}
  {% endif %}
  {% set rows = [
      {
        key: { text: 'Reason for not proceeding' },
        value: { html: '<p class="govuk-body">'+ outcome.reason | convertNotProceedReason +'</p><p class="govuk-body">'+ outcome.details | hideIfUndefined +'</p>' },
        actions: reasonChangeLink
      }
    ] %}
  {% if rows.length %}
    {{ govukSummaryList({
        rows: rows,
        attributes: attributes
      }) }}
  {% endif %}
{% endmacro %}