{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% macro outcomeNotProceedSummary(reportNo, outcome = {}, attributes = {}, readOnly = true) %}
    {% set rows = [
      {
        key: { text: 'Reason for not proceeding' },
        value: { html: '<p class="govuk-body">'+ outcome.reason | convertNotProceedReason +'</p><p class="govuk-body">'+ outcome.details +'</p>' }
      }
    ] %}
    {% if rows.length %}
      {{ govukSummaryList({
        rows: rows,
        attributes: attributes
      }) }}
    {% endif %}
{% endmacro %}