{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% macro outcomeQuashedSummary(chargeNumber, outcome = {}, attributes = {}, changeLinksAvailable = false, readOnly = false) %}
  {% set quashReasonChangeLinkAvailable = false if readOnly else changeLinksAvailable %}
  {% if quashReasonChangeLinkAvailable %}
    {% set changeLink = {
      items: [
        {
          href: adjudicationUrls.reportAQuashedGuiltyFinding.urls.edit(chargeNumber), 
          text: "Change",
          visuallyHiddenText: ' reason for quashing a guilty finding',
          attributes: {"data-qa": "change-link-quash-guilty-finding" }
        }
      ]
    } %}
  {% endif %}

    {% set rows = [
      {
        key: { text: 'Reason' },
        value: { html: '<p class="govuk-body">'+ outcome.quashedReason | convertQuashReason +'</p><p class="govuk-body">'+ outcome.details +'</p>' },
        actions: changeLink
      }
    ] %}
    {% if rows.length %}
      {{ govukSummaryList({
        rows: rows,
        attributes: attributes
      }) }}
    {% endif %}
{% endmacro %}