{% extends "../../partials/layout.njk" %}
{% from "../../partials/breadCrumb.njk" import breadcrumb %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set title = 'Why has this case been referred back to the governor?' if referGov else 'What is the reason for the referral?' %}

{% block pageTitle %}
  {{ title }} - Adjudications - Digital Prison Services
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb() }}
{% endblock %}

{% block content %}
  {% if errors | length %}
    {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors,
        attributes: { "data-qa": "error-summary" }
      }) }}
  {% endif %}
  <h1 class="govuk-heading-l {% if referGov %}two-thirds govuk-!-padding-left-0{% endif %}">{{ title }}</h1>
  <form method="POST" novalidate="novalidate" class="govuk-!-margin-top-5">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
    <input id="hearingOutcomeCode" type="hidden" name="hearingOutcomeCode" value="{{ hearingOutcomeCode }}" />

    {% if referGov %}
      {{ govukRadios({
    idPrefix: 'referGovReason',
    id: 'referGovReason',
    name: 'referGovReason',
    attributes: { "data-qa": "referGovReason-radio-buttons" },
    errorMessage: "referGovReason" | findError(errors),
    items: [
     {
      value: ReferGovReason.REVIEW_FOR_REFER_POLICE,
      text: "To review for police referral",
      checked: referGovReason == ReferGovReason.REVIEW_FOR_REFER_POLICE
     },
     {
      value: ReferGovReason.GOV_INQUIRY,
      text: "For governor inquiry",
      checked: referGovReason == ReferGovReason.GOV_INQUIRY
     },
     {
      value: ReferGovReason.OTHER,
      text: "Other",
      checked: referGovReason == ReferGovReason.OTHER
     }
    ] })
   }}
    {% endif %}

    {% set commentlabel %}{% if referGov %}Enter the adjudicator’s comments about the referral to the governor{% else %} Reason{% endif %}{% endset %}

    {{ govukCharacterCount({
      label: {
        text: commentlabel
      },
      value: referralReason,
      classes: "govuk-input--width-30 govuk-!-margin-bottom-5",
      rows: "6",
      id: "referralReason",
      name: "referralReason",
      attributes: {
        'data-qa': "referral-reason"
      },
      errorMessage: "referralReason" | findError(errors),
      maxlength: 4000
    }) }}

    <div class="flex-container flex-center">
      {{ govukButton({
        text: 'Save',
        type: "submit",
        preventDoubleClick: true,
        classes: "govuk-button--submit govuk-!-margin-right-3",
        attributes: { "data-qa": "reason-for-referral-submit" }
      }) }}
      <p class="govuk-body govuk-!-margin-top-1"><a href="{{ cancelHref }}" class="govuk-link" data-qa="reason-for-referral-cancel">Cancel</a></p>
    </div>

  </form>
{% endblock %}
