{% extends "../../partials/layout.njk" %}
{% from "../../partials/breadCrumb.njk" import breadcrumb %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../macros/adjudicationTabHeaderSingular.njk" import adjudicationTabHeaderSingular %}
{% from "../../macros/hearingSummary.njk" import hearingSummary %}

{% block pageTitle %}
  Hearing details
{% endblock %}
{% block beforeContent %}
  {{ breadcrumb() }}
{% endblock %}
{% block content %}

  {{ adjudicationTabHeaderSingular(reportNo, reviewStatus, prisoner, 'hearings', reportHref, hearingsHref) }}

  {% if not schedulingAvailable %}
    {% if isAccepted %}
      <p class="govuk-body govuk-!-margin-bottom-6 govuk-!-margin-top-4" data-qa="no-hearings-scheduled">Not scheduled.</p>
      {% if readOnly %}
        <p class="govuk-body govuk-!-margin-top-1"><a href="{{ yourCompletedReportsHref }}" class="govuk-link" data-qa="your-completed-reports-link">Return to your completed reports</a></p>
      {% else %}
        <p class="govuk-body govuk-!-margin-top-1"><a href="{{ allCompletedReportsHref }}" class="govuk-link" data-qa="all-completed-reports-link">Return to all completed reports</a></p>
      {% endif %}
    {% else %}
      {# If the adjudication is RETURNED OR AWAITING_REVIEW #}
    <div class="govuk-!-margin-top-5" data-qa="scheduling-unavailable">
        <p class="govuk-body" data-qa="scheduling-unavailable-1">There are no hearings to schedule at the moment.</p>
        <p class="govuk-body" data-qa="scheduling-unavailable-2">You can only schedule a hearing for reports that have been reviewed and accepted.</p>
    </div>
    {% endif %}
  {% else %}
    {% if hearings.length > 0 %}
        <form method="POST" novalidate="novalidate" class="govuk-!-margin-top-5">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-three-quarters">
          {% for hearing in hearings %}
            {% set hearingId = hearing.id %}
            {% set hearingNumber = loop.index %}
            <h2 class="govuk-heading-m" data-qa="hearing-index-{{hearingNumber}}">Hearing {{ hearingNumber }}</h2>
            {% if not readOnly %}
              {{ hearingSummary(hearing, { "data-qa": "details-summary-table" }, true, adjudicationUrls.scheduleHearing.urls.edit(reportNo, hearingId)) }}
              {{ govukButton({
                text: 'Cancel this hearing',
                type: "submit",
                preventDoubleClick: true,
                classes: "govuk-button--secondary govuk-!-margin-right-3",
                name: "cancelHearingButton",
                value: "cancelHearingButton-"+hearingId,
                attributes: { "data-qa": "cancelHearingButton-"+hearingId }
              }) }}
            {% else %}
                {{ hearingSummary(hearing, { "data-qa": "details-summary-table" }, false) }}
            {% endif %}
          {% endfor %}
        </div>
      </div>
      </form>
    {% else %}
      <p class="govuk-body govuk-!-margin-bottom-6 govuk-!-margin-top-4" data-qa="no-hearings-scheduled">Not scheduled.</p>
    {% endif %}
    {% if readOnly %}
      <p class="govuk-body govuk-!-margin-top-1"><a href="{{ yourCompletedReportsHref }}" class="govuk-link" data-qa="your-completed-reports-link">Return to your completed reports</a></p>
    {% else %}
      <div class="flex-container flex-center">
        {{ govukButton({
          text: scheduleHearingButtonText,
          href: scheduleHearingButtonHref,
          classes: "govuk-button--submit govuk-!-margin-right-3",
          attributes: { "data-qa": "scheduleHearingButton" }
        }) }}
        <p class="govuk-body govuk-!-margin-top-1"><a href="{{ allCompletedReportsHref }}" class="govuk-link" data-qa="all-completed-reports-link">Return to all completed reports</a></p>
      </div>
    {% endif %}
  {% endif %}
{% endblock %}