{% extends "../../partials/layout.njk" %}
{% from "../../partials/breadCrumb.njk" import breadcrumb %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "../../macros/adjudicationTabHeaderSingular.njk" import adjudicationTabHeaderSingular %}

{% from "../../partials/hearingDetailsVariations/hearingTable.njk" import hearingTable %}

{% block pageTitle %}
  Hearing details
{% endblock %}
{% block beforeContent %}
  {{ breadcrumb() }}
{% endblock %}
{% block content %}
  {{ adjudicationTabHeaderSingular(reportNo, reviewStatus | reportedAdjudicationStatusDisplayName, prisoner, 'hearings', reportHref, hearingsHref) }}

  {% if schedulingNotAvailable %}
    {% include "../../partials/hearingDetailsVariations/emptyState.njk" %}
  {% endif %}

  {% if reviewStatus === ReportedAdjudicationStatus.UNSCHEDULED %}
    {% include "../../partials/hearingDetailsVariations/unscheduledState.njk" %}
  {% endif %}

  {# Insert the referrals table macro at the bottom of the hearings table macro OR before the endfor below? #}
  {# i.e. consider hearings table and referrals table as a block and repeat that #}
  {% if not schedulingNotAvailable  %}
    <form method="POST" novalidate="novalidate" class="govuk-!-margin-top-5">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    {% set hearingNumber = 0 %}
    {% for item in history %}
      {#  If the history item has a location then it's a hearing rather than an outcome #}
      {% if item.location %}
        {% set hearingNumber = hearingNumber + 1 %}
        {{ hearingTable(hearingNumber, item, readOnly, reportNo, latestHearingId) }}
      {% else %}
       {# deal with the outcomes in here in another ticket #}
      {% endif %}
    {% endfor %}

    {% if not readOnly %}
      <div class="hearing-buttons">
        {% include "../../partials/hearingDetailsVariations/hearingPrimaryButton.njk" %}
        {% if showRemoveHearingButton %}
          {{ govukButton({
            text: 'Remove this hearing',
            type: "submit",
            classes: "govuk-button--secondary",
            name: "removeHearingButton",
            value: "removeHearingButton",
            attributes: { "data-qa": "remove-hearing-button" }
          }) }}
        {% endif %}
      </div>
    {% endif %}

    </form>
  {% endif %}


  {% if not readOnly %}
    {% include "../../partials/hearingDetailsVariations/returnLinks.njk" %}
  {% endif %}

{% endblock %}