{% extends "../../partials/layout.njk" %}
{% from "../../partials/breadCrumb.njk" import breadcrumb %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "../../macros/adjudicationTabHeaderSingular.njk" import adjudicationTabHeaderSingular %}

{% from "../../partials/hearingDetailsVariations/hearingTable.njk" import hearingTable %}

{% block pageTitle %}
  Hearing details
{% endblock %}
{% block beforeContent %}
  {{ breadcrumb() }}
{% endblock %}
{% block content %}
  {{ adjudicationTabHeaderSingular(reportNo, reviewStatus | reportedAdjudicationStatusDisplayName, prisoner, 'hearings', reportHref, hearingsHref) }}

  {% if schedulingNotAvailable %}
    {% include "../../partials/hearingDetailsVariations/emptyState.njk" %}
  {% endif %}

  {% if reviewStatus === ReportedAdjudicationStatus.UNSCHEDULED %}
    {% include "../../partials/hearingDetailsVariations/unscheduledState.njk" %}
  {% endif %}

  {% if not schedulingNotAvailable  %}
    <form method="POST" novalidate="novalidate" class="govuk-!-margin-top-5">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    {% set hearingNumber = 0 %}
    {% for item in history %}
      {% if item.hearingTable %}
        {% set hearingNumber = hearingNumber + 1 %}
        {{ hearingTable(hearingNumber, item.hearingTable, readOnly, reportNo, latestHearingId) }}
        {# Put table for police referral and inad referral here #}
        {% if item.referralTable %}
          <p class="govuk-body">Outcome code: {{ item.referralTable.outcome.code }}</p>
          <p class="govuk-body">Outcome details: {{ item.referralTable.outcome.details }}</p>
          {% if item.referralTable.referralOutcome %}
            <p class="govuk-body">Referral outcome code: {{ item.referralTable.referralOutcome.code }}</p>
            <p class="govuk-body">Referral outcome details: {{ item.referralTable.referralOutcome.details }}</p>
            <p class="govuk-body">Referral outcome reason: {{ item.referralTable.referralOutcome.reason }}</p>
          {% endif %}
        {% endif %}

      {% else %}
       <p class="govuk-body">Outcome code: {{ item.outcome.code }}</p>
       {% if item.outcome.details %}
       <p class="govuk-body">details: {{ item.outcome.details }}</p>
       {% endif %}
       {% if item.referralOutcome %}
       <p class="govuk-body">Referral outcome code: {{ item.referralOutcome.code }}</p>
       {% endif %}
      {% endif %}
    {% endfor %}

    {% if not readOnly %}
      <div class="hearing-buttons">
        {% if primaryButtonInfo %}
          {{ govukButton({
            text: primaryButtonInfo.text,
            href: primaryButtonInfo.href,
            classes: "govuk-button govuk-!-margin-right-3",
            name: primaryButtonInfo.name,
            attributes: { "data-qa": primaryButtonInfo.qa }
          }) }}
        {% endif %}
        {% if showRemoveHearingButton %}
          {{ govukButton({
            text: 'Remove this hearing',
            type: "submit",
            classes: "govuk-button--secondary",
            name: "removeHearingButton",
            value: "removeHearing",
            attributes: { "data-qa": "remove-hearing-button" }
          }) }}
        {% endif %}
      </div>
    {% endif %}

    </form>
  {% endif %}


  {% if not readOnly %}
    {% include "../../partials/hearingDetailsVariations/returnLinks.njk" %}
  {% endif %}

{% endblock %}