{% extends "../../partials/layout.njk" %}
{% from "../../partials/breadCrumb.njk" import breadcrumb %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../macros/adjudicationTabHeaderSingular.njk" import adjudicationTabHeaderSingular %}
{% from "../../macros/printLink.njk" import printLink %}
{% from "../../macros/adjudicationReviewPanel.njk" import adjudicationReviewPanel %}
{% from "../../macros/adjudicationSummary.njk" import adjudicationSummary %}
{% from "../../macros/adjudicationReviewSummary.njk" import adjudicationReviewSummary %}

{% block pageTitle %}
  Prisoner’s report
{% endblock %}
{% block beforeContent %}
  {{ breadcrumb() }}
{% endblock %}
{% block content %}
    {{ adjudicationTabHeaderSingular(reportNo, reviewData.reviewStatus, prisoner, 'report', reportHref, hearingsHref, punishmentsHref, reviewData.reviewStatus !== 'Rejected') }}

    {{ adjudicationReviewSummary(reviewData.reviewSummary, 'Not entered') }}
  <div class="prisoner-report-top-bar flex-center">
    <p class="govuk-body govuk-!-padding-top-2" data-qa="reportNumber">
      <span class="govuk-!-font-weight-bold">Report number:</span>
      {{ reportNo }}</p>
    {{ printLink('Print a copy of this report', printHref, 'right', 'govuk-!-padding-right-0') }}
  </div>
  {{ adjudicationSummary(editIncidentDetailsURL, editOffencesDetailsURL, editDamagesURL, editEvidenceURL, editWitnessesURL, adjudicationUrls.incidentStatement.urls.submittedEdit(draftAdjudicationNumber), prisonerReportData, readOnly, readOnlyDamagesEvidenceWitnesses, offence, damages, evidence, witnesses, null) }}
  {% if review %}
    {{ adjudicationReviewPanel(returnLinkURL, csrfToken, pageData) }}
  {% endif %}
  {% if not review %}
    <p class="govuk-body">
      <a href={{ returnLinkURL }} class="govuk-link" data-qa="prisoner-report-return-link">{{ returnLinkContent }}</a>
    </p>
  {% endif %}
{% endblock %}