{% extends "../../partials/layout.njk" %}
{% from "../../partials/breadCrumb.njk" import breadcrumb %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "../../components/datepicker/macro.njk" import hmppsDatepicker %}
{% from "../../macros/timeInput.njk" import timeInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "../../macros/timeSelect.njk" import timeSelect %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set title = 'Schedule a hearing' %}

{% block pageTitle %}
  {{ title }} - Adjudications - Digital Prison Services
{% endblock %}
{% block beforeContent %}
  {{ breadcrumb() }}
{% endblock %}
{% block content %}
    {% if errors | length %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors,
        attributes: { "data-qa": "error-summary" }
      }) }}
    {% endif %}
    <h1 class="govuk-heading-l">{{ title }}</h1>
    <form method="POST" novalidate="novalidate" class="govuk-!-margin-top-5">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

      {{ govukRadios({
        idPrefix: "hearingType",
        name: "hearingType",
        errorMessage: "hearingType" | findError(errors),
        attributes: { "data-qa": "hearing-type-radio-buttons" },
        fieldset: {
          legend: {
            text: "Type of hearing"
          }
        },
        items: [
          {
            value: "GOV",
            text: "Governor",
            checked: data.hearingType === 'GOV'
          },
          {
            value: "IND_ADJ",
            text: "Independent adjudicator",
            checked: data.hearingType === 'IND_ADJ'
          }
        ]
      }) }}

      {{
      govukSelect({
        id: 'locationId',
        name: 'locationId',
        label: {
            text: 'Location of hearing',
            isPageHeading: false,
            classes: ''
        },
        items: locations | toSelect('locationId', 'userDescription', data.locationId ),
        classes: '',
        errorMessage: 'locationId' | findError(errors)
      })
      }}

          {{ hmppsDatepicker({
        id: 'hearingDate[date]',
        name: 'hearingDate[date]',
        label: {
            text: 'Date of hearing'
        },
        classes: 'hmpps-datepicker--fixed-width',
        value: data.hearingDate.date,
        errorMessage: errors | findErrors(['hearingDate[date]']),
        minDate: today
    }) }}

    {{ timeSelect({
        id: 'hearingDate[time]',
        label: 'Start time',
        name: 'hearingDate[time]',
        hour: data.hearingDate.hour,
        minute: data.hearingDate.minute,
        errorMessage: errors | findErrors(['hearingDate[time][hour]'])
    }) }}

    <div class="flex-container flex-center">
      {{ govukButton({
        text: 'Save and confirm hearing',
        type: "submit",
        preventDoubleClick: true,
        classes: "govuk-button--submit govuk-!-margin-right-3",
        attributes: { "data-qa": "schedule-hearing-submit" }
      }) }}
      <p class="govuk-body govuk-!-margin-top-1"><a href="{{ cancelHref }}" class="govuk-link" data-qa="schedule-hearing-cancel">Cancel</a></p>
    </div>

    </form>
{% endblock %}
