{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{% from "../../partials/prisonerPlaybackSection.njk" import prisonerPlaybackSection %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% macro adjudicationTabHeader(chargeNumber, status, reviewStatusText, prisoner, activeTab, reportHref, hearingsHref, punishmentsHref, formsHref, showHearings = true, showFormsTab = false) %}
    {% set items = [{
      text: 'Report',
      href: reportHref,
      attributes: { 'data-qa': 'reportTab' },
      active: activeTab === 'report'
    } , {
      text: 'Hearings and referrals',
      href: hearingsHref,
      attributes: { 'data-qa': 'hearingsTab' },
      active: activeTab === 'hearings'
    }, {
      text: 'Punishments and damages',
      href: punishmentsHref,
      attributes: { 'data-qa': 'punishmentsTab' },
      active: activeTab === 'punishments'
    }
    ] if showHearings else [{
      text: 'Report',
      href: reportHref,
      attributes: { 'data-qa': 'reportTab' },
      active: activeTab === 'report'
    }] %}

    {% if showFormsTab %}
      {% set items = (items.push({
        text: 'Print and issue forms',
        href: formsHref,
        attributes: { 'data-qa': 'formsTab' },
        active: activeTab === 'forms'
      }), items) %}
    {% endif %}

  <h1 class="govuk-heading-l">Adjudication for charge {{ chargeNumber }}</h1>
  <h2 class="govuk-heading-m" data-qa="review-status">Status: {{ reviewStatusText }}</h2>

  {% if status == ReportedAdjudicationStatus.INVALID_OUTCOME %}
    {% include "../partials/invalidReportGuidance/invalidOutcome.njk" %}
  {% elif status == ReportedAdjudicationStatus.INVALID_ADA %}
    {% include "../partials/invalidReportGuidance/invalidADA.njk" %}
  {% endif %}

  <div class="prisonerPlaybackSection">
    {{ prisonerPlaybackSection(prisoner.displayName, prisoner.prisonerNumber, prisoner.currentLocation) }}
  </div>
  <div class="govuk-!-margin-top-5">
    {{ mojSubNavigation({
      items: items,
      classes: "govuk-!-margin-bottom-3"
    }) }}
  </div>
{% endmacro %}
