{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

{% macro transfersTabHeader(activeTab, transferCountAll, transferCountIn, transferCountOut) %}
    {% set items = [{
      text: 'All ('+ transferCountAll +')',
      href: adjudicationUrls.reportsTransferredAll.urls.start(),
      attributes: { 'data-qa': 'allTransfersTab' },
      active: activeTab === 'all'
    } , {
      text: 'To review after a transfer in (' + transferCountIn +')',
      href: adjudicationUrls.reportsTransferredIn.urls.start(),
      attributes: { 'data-qa': 'transferInTab' },
      active: activeTab === 'in'
    }, {
      text: 'To update for a transfer out (' + transferCountOut + ')',
      href: adjudicationUrls.reportsTransferredOut.urls.start(),
      attributes: { 'data-qa': 'transferOutTab' }, 
      active: activeTab === 'out'
    }]
   %}

  <div class="govuk-!-margin-top-5">
    {{ mojSubNavigation({
      items: items,
      classes: "govuk-!-margin-bottom-3"
    }) }}
  </div>
{% endmacro %}
