{% from "govuk/components/table/macro.njk" import govukTable %}

{% macro horizontalBarsChartData(chartSetting) %}
    <div class="main-chart-with-data-panel" id="chart-panel-{{ chartSetting.chartData.elementId }}">

        <h2 class="govuk-heading-m govuk-!-margin-bottom-6">{{ chartSetting.title }}</h2>

        {% if chartSetting.tableData.rows | length %}
            <div class="chart-generic-panel chart-generic-panel-horizontal-bars flex-container">
                <div class="chart-table-panel flex-column">
                    <div class="results-table">
                        {{ govukTable({
                            head: chartSetting.tableData.head,
                            rows: chartSetting.tableData.rows,
                            attributes: { "data-qa": "results-table" }
                        }) }}
                    </div>
                </div>
                <div class="chart-horizontal-panel flex-column">
                    <canvas id="{{ chartSetting.chartData.elementId }}" class="chart-horizontal-panel-canvas"></canvas>
                </div>
            </div>
        {% else %}
            <p class="govuk-!-padding-top-3" data-qa="no-results-message">No data to display.</p>
        {% endif %}

    </div>
{% endmacro %}