{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}

{% macro linesChartWithSelectData(chartSetting, selectorSettings, allSelectorParams, csrfToken) %}
	<div class="main-chart-with-data-panel" id="chart-panel-{{ chartSetting.chartData.elementId }}">

		<h2 class="govuk-heading-m govuk-!-margin-bottom-6">{{ chartSetting.title }}</h2>

		{{ govukDetails({
			summaryText: "How you can use this chart",
			text: chartSetting.chartHint
		}) }}

		<div>
			<form method="POST" novalidate="novalidate" class="govuk-!-margin-top-5">
				<input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
				<input type="hidden" name="allSelectorParams" value="{{ allSelectorParams | dump }}"/>

				<div class="flex-container {{ selectorSettings.class }}">
					{{ govukSelect({
						id: selectorSettings.id,
						name: selectorSettings.id,
						label: {
							text: selectorSettings.label,
							isPageHeading: false,
							classes: ''
						},
						items: selectorSettings.items | toSelect('value', 'text', allSelectorParams[selectorSettings.id]),
						classes: 'flex-column filter-selector',
						errorMessage: selectorSettings.id | findError(errors)
					}) }}

					{{ govukButton({
						text: 'Show results',
						type: 'submit',
						preventDoubleClick: true,
						classes: 'govuk-button--submit govuk-!-margin-right-3 flex-column show-results-button',
						attributes: { 'data-qa': 'not-proceed-submit' }
					}) }}
				</div>

			</form>
		</div>

		{% set chartView %}
			<div class="chart-generic-panel chart-generic-panel-multiple-line">
				<canvas id="{{ chartSetting.chartData.elementId }}"></canvas>
			</div>
		{% endset -%}

		{% set tableView %}
			<div class="chart-table-panel">
				<div class="results-table">
					{{ govukTable({
						head: chartSetting.tableData.head,
						rows: chartSetting.tableData.rows,
						attributes: { "data-qa": "results-table" }
					}) }}
				</div>
			</div>
		{% endset -%}

		{{ govukTabs({
			items: [
				{
					label: "Chart view",
					id: "chart-view-" + chartSetting.chartData.elementId,
					panel: {
						html: chartView
					}
				},
				{
					label: "Table view",
					id: "table-view-" + chartSetting.chartData.elementId,
					panel: {
						html: tableView
					}
				}
			]
		}) }}

	</div>
{% endmacro %}