
{% macro officialSensitiveBanner() %}
	<div class="govuk-template govuk-!-padding-4">
		<h2 class="govuk-heading-m govuk-!-margin-bottom-5">Official sensitive</h2>

    <p class="govuk-body">This data does not represent official statistics and should not be published outside of the MoJ, unless for approved business purposes. Some charts contain information that could identify someone.</p>
    <p class="govuk-body">The data is management information and, due to the potential application of different validation rules, may not tally with official published statistics. Data is extracted daily from live operational databases and may be subject to change. </p>
	</div>
{% endmacro %}