{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% macro verticalBarsAndLineChartData(chartSetting) %}
	<div class="main-chart-with-data-panel" id="chart-panel-{{ chartSetting.chartData.elementId }}">

		<h2 class="govuk-heading-m govuk-!-margin-bottom-6">{{ chartSetting.title }}</h2>

		{{ govukDetails({
			summaryText: "How you can use this chart",
			text: chartSetting.chartHint
		}) }}

		<div class="chart-generic-panel chart-generic-panel-vertical-bars-and-line">
			<canvas id="{{ chartSetting.chartData.elementId }}"></canvas>
		</div>

		<div class="chart-table-panel">
			<div class="results-table">
				{{ govukTable({
					head: chartSetting.tableData.head,
					rows: chartSetting.tableData.rows,
					attributes: { "data-qa": "results-table" }
				}) }}
			</div>
		</div>

	</div>
{% endmacro %}