<div>
    <h2 class="dis7-header">You've been given a caution</h2>
    <p class="govuk-body">This is a warning about your actions.</p>
    <p class="govuk-body">If you are found guilty of breaking the rules again, you could get a bigger punishment.</p>
</div>
<hr class='govuk-section-break govuk-section-break--m govuk-section-break--visible'>
