<hr class='govuk-section-break govuk-section-break--m govuk-section-break--visible'>

<div class='adjudication-pdf-section-prisoner govuk-!-width-full'>
    <div class='adjudication-pdf-section-prisoner__item'>
        <p class='govuk-!-margin-bottom-0 govuk-!-font-weight-bold'>Name</p>
        <p class='govuk-!-margin-bottom-0'
            data-qa='notice-of-being-placed-on-report-prisoner-display-name'>
            {{ data.prisonerDisplayName }}
        </p>
    </div>
    <div class='adjudication-pdf-section-prisoner__item'>
        <p class='govuk-!-margin-bottom-0 govuk-!-font-weight-bold'>Prison number</p>
        <p class='govuk-!-margin-bottom-0'
            data-qa='notice-of-being-placed-on-report-prisoner-number'>
            {{ data.prisonerNumber }}
        </p>
    </div>
    <div class='adjudication-pdf-section-prisoner__item'>
        <p class='govuk-!-margin-bottom-0 govuk-!-font-weight-bold'>Location</p>
        <p class='govuk-!-margin-bottom-0'
            data-qa='notice-of-being-placed-on-report-prisoner-location-description'>
            {{ data.prisonerLocationDescription }}
        </p>
    </div>
    <div class='adjudication-pdf-section-prisoner__item'>
        <p class='govuk-!-margin-bottom-0 govuk-!-font-weight-bold'>Date of charge</p>
        <p class='govuk-!-margin-bottom-0'
            data-qa='notice-of-being-placed-on-report-prisoner-reported-date'>
            {{ data.reportedDate }}
        </p>
    </div>
    <div class='adjudication-pdf-section-sentence-details__item'>
        <input type='text' class='adjudication-pdf-input adjudication-pdf-input__small-square'> <span> <strong>Copy for prison record</strong></span> <br/>
        <input type='text' class='adjudication-pdf-input adjudication-pdf-input__small-square'> <span> <strong>Prisoner copy</strong></span>
    </div>
</div>

<hr class='govuk-section-break govuk-section-break--m govuk-section-break--visible'>
