<div class="grey-box break-inside-avoid">
  <h2 class="dis7-header">About suspended punishments</h2>
  <p class="govuk-body">‘Suspended’ punishments are only carried out if you break a rule again. They’re ‘suspended’ until a certain date. If you do not break a rule before then, you will not get the punishment.</p>
  <p class="govuk-body">If you do, the governor may:</p>
  <ul>
    <li class="govuk-list--bullet">give you all or some of the suspended punishment</li>
    <li class="govuk-list--bullet">suspend the punishment for longer</li>
    <li class="govuk-list--bullet">do nothing about the suspended punishment</li>
  </ul>
  <p class="govuk-body">The suspended punishment will not affect any new punishments you may get.</p>
</div>