{% macro damages(adjudicationResultReportData) %}
    <h2 class="dis7-header">You have to pay for damages</h2>
    <p class="govuk-body">You have to pay £{{adjudicationResultReportData.damagesAmount}} in damages.</p>
    <p class="govuk-body">You'll start paying this back straight away. You'll always be left with enough in your account so you can call your family and friends - normally £5.</p>
    <p class="govuk-body">You can pay in one go, if you have enough cash.</p>
    <hr class='govuk-section-break govuk-section-break--m govuk-section-break--visible'>
{% endmacro %}