{% extends "../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../partials/breadCrumb.njk" import breadcrumb %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set title = "Add damages" %}

{% block pageTitle %}
    {{ title }}
{% endblock %}

{% block beforeContent %}
    {{ breadcrumb() }}
{% endblock %}

{% block content %}
	{% if errors | length %}
		{{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors,
      attributes: { "data-qa": "error-summary" }
    }) }}
	{% endif %}

    <h1 class="govuk-heading-l">{{ title }}</h1>
    <form method="POST" novalidate="novalidate" class="govuk-!-margin-top-5">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">

                {% include "../partials/addDamagesRadios.njk" %}

                {{ govukTextarea({
                    name: "damageDescription",
                    id: "damageDescription",
                    classes: "govuk-!-width-two-thirds",
                    label: {
                        text: "Add details about these damages",
                        for: "damage-detail"
                    },
                    hint: {
                        text: "This could be what was damaged or what needs to be cleaned, for example."
                    },
                    attributes: { "data-qa": "add-damages-description" },
                    errorMessage: "damageDescription" | findError(errors),
                    value: damageDescription
                }) }}
            
                {{ govukButton({
                    text: "Save and continue",
                    type: "submit",
                    classes: "govuk-button--submit govuk-!-margin-right-3",
                    attributes: { "data-qa": "add-damages-submit" },
                    preventDoubleClick: true
                }) }}
                {{ govukButton({
                    text: "Cancel",
                    href: cancelButtonHref,
                    classes: "govuk-button--secondary",
                    attributes: { "data-qa": "cancel-add-damages-button" }
                }) }}
            </div>
        </div>
    </form>
{% endblock %}