{% extends "../partials/pdfLayout.njk" %}
{% from "../macros/adjudicationResult_DIS7/askForAReview.njk" import askForAReview %}
{% from "../macros/adjudicationResult_DIS7/adjudicatorAndHearingDate.njk" import adjudicatorAndHearingDate %}
{% from "../macros/adjudicationResult_DIS7/damages.njk" import damages %}
{# {% from "../macros/adjudicationResultReportDetails.njk" import adjudicationResultReportDetails %}
{% from "../macros/adjudicationResultReportLegal.njk" import adjudicationResultReportLegal %} #}
{% block content %}
    <div class='adjudication-pdf dis7'>
    <div class='govuk-!-margin-left-8 govuk-!-margin-right-8'>  
        {% include '../partials/adjudicationResult_DIS7/prisonerBanner.njk' %}
        {% include '../partials/adjudicationResult_DIS7/caution.njk' %}
        {% if adjudicationResultReportData.damagesAmount %}
            {{ damages(adjudicationResultReportData) }}
        {% endif %}
        {{ askForAReview(adjudicationResultReportData) }}
        {{ adjudicatorAndHearingDate(adjudicationResultReportData) }}

        {# {{ adjudicationResultReportDetails(adjudicationResultReportData) }}
        {{ adjudicationResultReportLegal(adjudicationResultReportData) }} #}
        <div>
    </div>
{% endblock %}
