{% extends "../partials/pdfLayout.njk" %}
{% from "../macros/adjudicationResultReportDetailsBlank.njk" import adjudicationResultReportDetailsBlank %}
{% from "../macros/adjudicationResultReportLegal.njk" import adjudicationResultReportLegal %}

{% block content %}
    <div class='adjudication-pdf dis7'>
        <div class='govuk-!-margin-left-8 govuk-!-margin-right-8'>  
        {% include '../partials/adjudicationResult_DIS7/prisonerBanner.njk' %}
        {{ adjudicationResultReportDetailsBlank(data) }}
        {{ adjudicationResultReportLegal(data) }}
       <div>
    </div>
{% endblock %}
