{% extends "../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{%- from "moj/components/pagination/macro.njk" import mojPagination -%}
{% from "../macros/adjudicationFilter.njk" import adjudicationFilter %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set title = 'Adjudication history' %}

{% block pageTitle %}
  {{ title }} - Digital Prison Services
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    collapseOnMobile: true,
    items: [
    {
      text: "Digital Prison Services",
      href: digitalPrisonServiceUrl
    },
    {
      text: prisoner.displayName,
      href: prisonerProfileServiceUrl + '/prisoner/' + prisonerNumber
    }
    ],
    classes: "govuk-!-display-none-print"
  }) }}
{% endblock %}
{% block content %}
  {% if errors | length %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors,
      attributes: { "data-qa": "error-summary" }
      }) }}
  {% endif %}

  <h1 class="govuk-heading-l" data-qa="title">{{ prisoner.friendlyName | possessive }} adjudication history</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      {% include '../partials/adjudicationHistoryFilter.njk' %}
    </div>
    <div class="govuk-grid-column-three-quarters ">
      {% include '../partials/adjudicationHistoryList.njk' %}
    </div>
  </div>
{% endblock %}