<html>
<head>
    <style>
        body {
            -webkit-print-color-adjust: exact;
            font-family: arial;
        }
        h1 {
            font-size: 18px;
        }
        .adjudication-pdf-header {
            background-color: #d8d8d8;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left:30px;
            padding-right: 30px;
        }
    </style>
</head>
<body>
    <div class='adjudication-pdf-header'>
        <h1>Record of adjudication hearing continuation sheet</h1>
    </div>
</body>
</html>
