{% extends "../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% from "../partials/breadCrumb.njk" import breadcrumb %}

{% set title = "Who was assaulted?" %}

{% block pageTitle %}
	{{ title }}
{% endblock %}

{% block beforeContent %}
	{{ breadcrumb() }}
{% endblock %}

{% block content %}

	{% if errors | length %}
		{{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors,
      attributes: { "data-qa": "error-summary" }
    }) }}
	{% endif %}

	<form method="POST" novalidate="novalidate" class="govuk-!-margin-top-5">
		<input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        {% include "../partials/assaultConditionalRadioSetup.njk" %}

		{{ govukButton({
				text: 'Continue',
				type: "submit",
				name: "assaultFormSubmit",
				classes: "govuk-button--submit govuk-!-margin-right-2",
				attributes: { "data-qa": "assault-submit" }
			}) }}

		{{ govukButton({
				text: 'Cancel',
				classes: "govuk-button--secondary",
				element: 'a',
				href: exitUrl,
				attributes: { "data-qa": "assault-exit" }
			}) }}
	</form>

{% endblock %}