{% extends "../partials/layout.njk" %}
{% from "../partials/breadCrumb.njk" import breadcrumb %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set title = "Select a prisoner" %}

{% block beforeContent %}
  {{ breadcrumb() }}
{% endblock %}

{% block content %}
  {% if errors | length %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors,
      attributes: { "data-qa": "error-summary" }
    }) }}
  {% endif %}

  <h1 class="govuk-heading-l">{{ title }}</h1>

  <form method="POST" novalidate="novalidate" data-qa="search-form">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

  <div class="horizontal-form govuk-!-margin-bottom-3">
    {{ govukInput({
      id: "searchTerm",
      name: "searchTerm",
      value: searchTerm,
      label: {
        html: "Enter a prisoner’s name or number"
      },
      classes: "govuk-!-width-full",
      attributes: {
        'data-qa': "search-term-input"
      },
      errorMessage: "searchTerm" | findError(errors)
    }) }}

    {{ govukButton({
      text: "Search",
      type: "submit",
      classes: "govuk-button--secondary",
      attributes: { "data-qa": "search-submit" },
      preventDoubleClick: true
    }) }}
  </div>
</form>

  {% set rows = [] %}
  {% for prisoner in searchResults %}
    {% set prisonerImageHtml %}
      <img src="/prisoner/{{ prisoner.prisonerNumber }}/image" alt="Photograph of {{ prisoner.displayName }}" class="results-table__image" />
    {% endset -%}
    {% set prisonerLinkHtml %}
      <a href="{{ digitalPrisonServiceUrl }}/prisoner/{{ prisoner.prisonerNumber }}" class="govuk-link">{{ prisoner.displayName }}</a>
    {% endset -%}
    {% set startReportlLinkHtml %}
      <a href="{{ redirectUrl }}{{ queryConnector }}selectedPerson={{ prisoner.prisonerNumber }}" class="govuk-link" data-qa="select-prisoner-link">Select prisoner<span class="govuk-visually-hidden"> for {{ prisoner.friendlyName }}</span></a>
    {% endset -%}
    {% set rows = (rows.push([
      { html: prisonerImageHtml },
      {
        html: prisonerLinkHtml,
        attributes: {
          "data-sort-value": prisoner.displayName
        }
      },
      { text: prisoner.prisonerNumber },
      { text: prisoner.displayCellLocation },
      { html: startReportlLinkHtml }
    ]), rows) %}
  {% endfor %}

  {% if rows | length %}
    <div class="results-table">
      {{ govukTable({
        head: [
          { html: '<span class="govuk-visually-hidden">Picture</span>' },
          {
            text: "Name",
            attributes: {
              "aria-sort": "ascending"
            }
          },
          { text: "Prison number" },
          {
            text: "Location",
            attributes: {
              "aria-sort": "none"
            }
          },
          { text: "" }
        ],
        rows: rows,
        attributes: { "data-qa": "prisoner-search-results-table", "data-module": "moj-sortable-table" }
      }) }}
    </div>

  {% else %}
    {% if not errors | length %}
      <p class="govuk-!-padding-top-3" data-qa="no-results-message">There are no results for the details you have entered.</p>
    {% endif %}
  {% endif %}
{% endblock %}
