{% extends "../partials/layout.njk" %}
{% from "../partials/breadCrumb.njk" import breadcrumb %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set title = "Select a staff member" %}

{% block beforeContent %}
  {{ breadcrumb() }}
{% endblock %}

{% block content %}
  {% if errors | length %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors,
      attributes: { "data-qa": "error-summary" }
    }) }}
  {% endif %}

  <h1 class="govuk-heading-l">{{ title }}</h1>

  <form method="POST" novalidate="novalidate" data-qa="search-form">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

  <div class="horizontal-form govuk-!-margin-bottom-3" id="searchFullName">
    {{ govukInput({
      id: "staffFirstName",
      name: "staffFirstName",
      value: staffFirstName,
      label: {
        html: 'First name'
      },
      classes: "govuk-!-width-full",
      attributes: {
        'data-qa': "search-first-name-input"
      },
      errorMessage: errors | findErrors(['staffFirstName', 'searchFullName' ])
    }) }}

    {{ govukInput({
      id: "staffLastName",
      name: "staffLastName",
      value: staffLastName,
      label: {
        html: 'Last name'
      },
      classes: "govuk-!-width-full",
      attributes: {
        'data-qa': "search-last-name-input"
      },
      errorMessage: errors | findErrors(['staffLastName', 'searchFullName' ])
    }) }}

    {{ govukButton({
      text: "Search",
      type: "submit",
      classes: "govuk-button--secondary",
      attributes: { "data-qa": "search-submit" }
    }) }}
  </div>
</form>

  {% set rows = [] %}
  {% for staffMember in searchResults %}
    {% set startReportlLinkHtml %}
      <a href="{{ redirectUrl }}&selectedPerson={{ staffMember.username }}" class="govuk-link" data-qa="select-staffMember-link-{{ staffMember.username }}">Select staff member</a>
    {% endset -%}
    {% set rows = (rows.push([
      {
        text: staffMember.name,
        attributes: {
          "data-sort-value": staffMember.name
        }
      },
      { text: staffMember.currentLocation },
      { text: staffMember.username },
      { text: staffMember.email or "No email address" },
      { html: startReportlLinkHtml }
    ]), rows) %}
  {% endfor %}

  {% if rows | length %}
    <div class="results-table">
      {{ govukTable({
        head: [
          {
            text: "Name",
            attributes: {
              "aria-sort": "ascending",
              "data-qa": "staff-name-sort"
            }
          },
          {
            text: "Location",
            attributes: {
              "aria-sort": "none"
            }
          },
          { text: "User ID" },
          {
            text: "Email address"
          },
          { text: "" }
        ],
        rows: rows,
        attributes: { "data-qa": "staffMember-search-results-table", "data-module": "moj-sortable-table" }
      }) }}
    </div>
    
  {% else %}
    {% if not errors | length %}
      <p class="govuk-!-padding-top-3" data-qa="no-results-message">There are no results for the details you have entered.</p>
    {% endif %}
  {% endif %}
{% endblock %}
