{% extends "../partials/layout.njk" %}
{% from "../partials/breadCrumb.njk" import breadcrumb %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../macros/awardPunishmentsTable.njk" import awardPunishmentsTable %}
{% from "../macros/awardRehabilitativeActivitiesTable.njk" import awardRehabilitativeActivitiesTable %}
{% from "../macros/awardPunishmentsTable_damages.njk" import awardPunishmentsTableDamages %}

{% set title = "Award punishments and add money for damages" %}
{% set primaryButtonText = "Add a new punishment" if filteredPunishments.damages.length else 
  "Add a new punishment or money for damages" %}

{% block pageTitle %}
  {{ title }} - Adjudications - Digital Prison Services
{% endblock %}
{% block beforeContent %}
  {{ breadcrumb() }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">{{ title }}</h1>
  <div>
    <form method="POST" novalidate="novalidate" class="govuk-!-margin-top-5">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
      {% if punishments | length %}
        {% if filteredPunishments.damages | length %}
          {{ awardPunishmentsTableDamages(filteredPunishments.damages, redirectAfterRemoveUrl, chargeNumber, false) }}
          <h2 class="govuk-heading-m">Punishments</h2>
        {% endif %}
        {{ awardPunishmentsTable(filteredPunishments.otherPunishments, redirectAfterRemoveUrl, chargeNumber, false, false) }}
        {% if paybackAndRehabFlag and rehabActivities | length %}
         <h2 class="govuk-heading-m">Rehabilitative activity conditions</h2>
         {{ awardRehabilitativeActivitiesTable(rehabActivities) }} 
        {% endif %}
      {% else %}
        <p class="govuk-body">There are currently no punishments or damages for this adjudication. You can activate <br>existing suspended punishments and add new punishments.</p>
      {% endif %}

      <div>
        {% if cautionAdded and not filteredPunishments.damages.length %}
          {{ govukButton({
        text: 'Add money for damages',
        element: "a",
        href: adjudicationUrls.damagesAmount.urls.start(chargeNumber),
        classes: "govuk-button--secondary govuk-!-margin-bottom-3",
        attributes: { "data-qa": "add-damages-button" }
      }) }}
        {% elseif not cautionAdded %}
          {{ govukButton({
        text: primaryButtonText,
        element: "a",
        href: adjudicationUrls.punishment.urls.start(chargeNumber),
        classes: "govuk-button--secondary govuk-!-margin-bottom-3",
        attributes: { "data-qa": "add-new-punishment-button" }
      }) }}
        {% endif %}
      </div>
      <div>
        {{ govukButton({
        text: 'Activate an existing suspended punishment',
        element: "a",
        href: adjudicationUrls.activateSuspendedPunishments.urls.start(chargeNumber),
        classes: "govuk-button--secondary govuk-!-margin-bottom-5",
        attributes: { "data-qa": "activate-suspended-punishment-button" }
      }) }}
      </div>

      <div class="flex-container flex-center">
        {% if punishments | length %}
          {{ govukButton({
        text: 'Finish adding and continue',
        element: "a",
        href: continueHref,
        classes: "govuk-button--submit govuk-!-margin-right-3",
        attributes: { "data-qa": "punishments-continue" }
      }) }}
        {% endif %}
        <p class="govuk-body govuk-!-margin-top-1">
          <a href="{{ cancelHref }}" class="govuk-link" data-qa="cancel">Cancel</a>
        </p>
      </div>
    </form>
  </div>
{% endblock %}