{% extends "../partials/layout.njk" %}
{% from "../partials/breadCrumb.njk" import breadcrumb %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "../macros/awardPunishmentsTable.njk" import awardPunishmentsTable %}
{% from "../macros/awardPunishmentsTable_damages.njk" import awardPunishmentsTableDamages %}

{% set title = "Check your answers" %}

{% block pageTitle %}
  {{ title }} - Adjudications - Digital Prison Services
{% endblock %}
{% block beforeContent %}
  {{ breadcrumb() }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">{{ title }}</h1>
  <div>
    <form method="POST" novalidate="novalidate" class="govuk-!-margin-top-5">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

      {{ createdOnBehalfOfOfficer }}
      {{ createdOnBehalfOfReason }}

      <div class="flex-container flex-center">
        {{ govukButton({
          text: 'Confirm and continue',
          type: 'submit',
          preventDoubleClick: true,
          classes: "govuk-button--submit govuk-!-margin-right-3",
          attributes: { "data-qa": "create-on-behalf-of-confirm" }
        }) }}

        <p class="govuk-body govuk-!-margin-top-1">
          <a href="{{ cancelHref }}" class="govuk-link" data-qa="cancel">Return to report {{ draftId }}</a>
        </p>
      </div>
    </form>
  </div>
{% endblock %}
