{% extends "../partials/layout.njk" %}
{% from "../partials/breadCrumb.njk" import breadcrumb %}
{% from "../macros/adjudicationSummary.njk" import adjudicationSummary %}
{% from "../partials/prisonerPlaybackSection.njk" import prisonerPlaybackSection %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% if creationJourney %}
{% set title = "Check your answers before placing them on report" %}
{% else %}
{% set title = "Check your answers before changing the report" %}
{% endif %}

{% block pageTitle %}
	{{ title }}
{% endblock %}

{% block beforeContent %}
	{{ breadcrumb() }}
{% endblock %}

{% block content %}

	<h1 class="govuk-heading-l">{{ title }}</h1>

	<div class="prisonerPlaybackSection">
		{{ prisonerPlaybackSection(prisoner.displayName, prisoner.prisonerNumber, prisoner.currentLocation) }}
	</div>

	<form method="POST" novalidate="novalidate" class="govuk-!-margin-top-5">
		<input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

		{{ adjudicationSummary(editIncidentDetailsURL, editIncidentStatementURL, incidentDetailsData, false, offences) }}

		{% if creationJourney %}
		<h2 class="govuk-heading-m govuk-!-margin-top-6">Place on report</h2>
		<p class="govuk-body govuk-!-margin-bottom-6 checkAnswers-conditions">By accepting these details you are confirming that, to the best of your knowledge, these details are correct.</p>
		{% endif %}

		{{ govukButton({
				text: submitButtonText,
				type: "submit",
				classes: "govuk-button--submit govuk-!-margin-right-2",
				attributes: { "data-qa": "check-answers-submit" }
			}) }}

		{{ govukButton({
				text: secondaryButtonText,
				classes: "govuk-button--secondary",
				element: 'a',
				href: exitUrl,
				attributes: { "data-qa": "check-answers-exit" }
			}) }}
	</form>

{% endblock %}