{% extends "../partials/layout.njk" %}
{% from "../partials/breadCrumb.njk" import breadcrumb %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set title = "Confirm if the activity was completed" %}
{% block pageTitle %}
  {{ title }} - Adjudications - Digital Prison Services
{% endblock %}
{% block beforeContent %}
  {{ breadcrumb() }}
{% endblock %}

{% set items = [
    {
        value: "YES",
        text: "Yes",
        checked: completed === 'YES'
    },
    {
        value: "NO",
        text: "No",
        checked: completed === 'NO'
    }
] %}

    {% set rows = [] %}
{% for activity in activities %}
    {% set rows = (rows.push(
      {
        key: {
          text: "Activity details"
        },
        value: {
          text: activity.details or "Not entered"
        }
      },
      {
        key: {
          text: "End date and number of sessions"
        },
        value: {
          text: activity.endDate | endDateSessionNumberText(activity.totalSessions) or 'Not entered'
        }
      }
    ), rows) %}
{% endfor %}


{% block content %}
<h1 class="govuk-heading-l">{{ title }}</h1>
  {% if errors | length %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors,
      attributes: { "data-qa": "error-summary" }
    }) }}
  {% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <form method="POST" novalidate="novalidate" class="govuk-!-margin-top-5">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

          {{ govukSummaryList({
            rows: rows,
            classes: classes,
            attributes: attributes
          }) }}

        {{ govukRadios({
          idPrefix: 'completed',
          id: 'completed',
          name: 'completed',
          attributes: { "data-qa": "completed-radios" },
          errorMessage: "completed" | findError(errors),
          items: items,
          fieldset: {
          legend: {
            text: "Did "+ prisonerName | safe +" complete the activity?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        }
      }) }}
      
      <div class="govuk-button-group">
        {{ govukButton({
              text: 'Confirm',
              type: "submit",
              preventDoubleClick: true,
              classes: "govuk-button--submit govuk-!-margin-right-3",
              attributes: { "data-qa": "complete-activity-submit" }
              }) }}

        <a class="govuk-link" href=' {{ cancelHref }} ' data-qa='complete-activity-cancel'>Return to ‘punishments and damages’</a>
      </div>

    </form>
    </div>
  </div>
{% endblock %}