{% extends "../partials/pdfLayout.njk" %}
{% from "../macros/conductReportDetails.njk" import conductReportDetails %}
{% from "../macros/conductReportDetails_v2.njk" import conductReportDetails_v2 %}
{% block content %}
    <div class='adjudication-pdf'>
        {{ conductReportDetails_v2(conductReportData) }}
    </div>
{% endblock %}