{% extends "../partials/pdfLayout.njk" %}
{% from "../macros/conductReportDetails.njk" import conductReportDetails %}
{% from "../macros/conductReportDetails_v2.njk" import conductReportDetails_v2 %}
{% block content %}
    <div class='adjudication-pdf'>
        {% if latestVersion %}
            {{ conductReportDetails_v2(conductReportData) }}
        {% else %}
            {{ conductReportDetails(conductReportData) }}
        {% endif %}
    </div>
{% endblock %}