{% extends "../partials/layout.njk" %}

{% from "../macros/onReport.njk" import onReportInfo %}
{% from "../macros/printLink.njk" import printLink %}
{% from "../macros/noticeOfBeingPlacedOnReport.njk" import noticeOfBeingPlacedOnReport %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% if adjudicationEdited %}
  {% set title = "Report change is confirmed" %}
{% else %}
  {% set title = "Prisoner has been placed on report" %}
{% endif %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class='no-print'>
      {{ govukPanel({
          titleText: bannerText,
          html: bannerHTML,
          classes: "govuk-!-margin-bottom-6"
        }) }}

      <h2 class="govuk-heading-m">What you must do next</h2>

      <div class="confirmed-on-report-section">
        {% if not adjudicationEdited %}
          <p class="govuk-body">{{ prisonerFirstAndLastName }} must be given a copy of this report by {{ expirationTime }} on {{ expirationDay }}.</p>
        {% endif %}
        <div class="govuk-inset-text next-steps">You must follow local processes. You might need to give a copy of the printed report to another member of staff to review before it is given to {{ prisonerFirstAndLastName }}.</div>

        {% if adjudicationEdited %}
          <p class="govuk-body">{{ prisonerFirstAndLastName }} needs an updated copy of their report. They need to receive this by {{ expirationTime }} on {{ expirationDay }}.</p>
        {% else %}
          {{ onReportInfo(prisonerFirstAndLastName, expirationTime, expirationDay, showPrisonerPreferredLanguage, prisonerPreferredLanguage, showPrisonerOtherLanguages, prisonerOtherLanguages, showPrisonerNeurodiversities, prisonerNeurodiversities) }}
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          {{ printLink('Print a copy of this report', printHref, "left", "govuk-!-padding-bottom-0") }}
        {% endif %}


      {{ govukButton({
        text: 'Finish',
        element: 'a',
        href: buttonHref,
        classes: buttonClass,
        attributes: {
          'data-qa': 'confirmed-on-report-finish'
        }
      }) }}
      </div>
    </div>
      {{ noticeOfBeingPlacedOnReport(adjudicationNumber, prisonerDisplayName, prisonerNumber, prisonerLocationDescription, incidentDate, incidentTime, incidentLocationDescription, statement, reportingOfficer) }}
  </div>

{% endblock %}