{% extends "../partials/layout.njk" %}

{% from "../macros/onReport.njk" import onReportInfo %}
{% from "../macros/printLink.njk" import printLink %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% if adjudicationEdited %}
  {% set title = "Report change is confirmed" %}
{% else %}
  {% set title = "Prisoner has been placed on report" %}
{% endif %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block content %}
  <div>
    <div class='no-print'>
      {{ govukPanel({
          titleText: bannerText,
          html: bannerHTML,
          classes: "govuk-!-margin-bottom-6"
        }) }}

      <h2 class="govuk-heading-m">What you must do next</h2>

      <div class="confirmed-on-report-section">
        {% if not adjudicationEdited %}
          <p class="govuk-body">{{ prisonerFirstAndLastName }} must be given a copy of this report by {{ expirationTime }} on {{ expirationDay }}.</p>
        {% endif %}

        {% if not editedByReviewer %}
          <div class="govuk-inset-text next-steps">You must follow local processes. You might need to give a copy of the printed report to another member of staff to review before it is given to {{ prisonerFirstAndLastName }}.</div>
        {% else %}
          <p class="govuk-body">You must confirm with the reporting officer, {{ reporterName }}, that their statement is still accurate.</p>
          <p class="govuk-body">{{ reporterName }} will need to make any changes to their statement before {{ prisonerFirstAndLastName }} is given an updated copy of their report.</p>
        {% endif %}

        {% if adjudicationEdited %}
          {% if editedByReviewer %}
            <p class="govuk-body govuk-inset-text">{{ prisonerFirstAndLastName }} must be given an updated copy of their report. They need to receive this by {{ expirationTime }} on {{ expirationDay }}.</p>
          {% else %}
            <p class="govuk-body">{{ prisonerFirstAndLastName }} needs an updated copy of their report. They need to receive this by {{ expirationTime }} on {{ expirationDay }}.</p>
          {% endif %}
        {% else %}
          {{ onReportInfo(prisonerFirstAndLastName, expirationTime, expirationDay, showPrisonerPreferredLanguage, prisonerPreferredLanguage, showPrisonerOtherLanguages, prisonerOtherLanguages, showPrisonerNeurodiversities, prisonerNeurodiversities) }}

          {{ printLink('Print a copy of this report', adjudicationUrls.printPdf.urls.start(adjudicationNumber), "left", "govuk-!-padding-right-0", "_blank") }}
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        {% endif %}
        {{ govukButton({
        text: 'Finish',
        element: 'a',
        href: buttonHref,
        classes: buttonClass,
        attributes: {
          'data-qa': 'confirmed-on-report-finish'
        }
      }) }}
      </div>
    </div>
  </div>

{% endblock %}