{% extends "../partials/layout.njk" %}

{% from "../macros/printLink.njk" import printLink %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}


{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block content %}
  <div>
    <div class='no-print'>
      {{ govukPanel({
          titleText: bannerText,
          classes: "govuk-!-margin-bottom-6"
        }) }}

      {% if showNextStepsContent %}
      <h2 class="govuk-heading-m">What happens next</h2>

      <div class="confirmed-on-report-section">
          <p class="govuk-body">This report will be reviewed. The reviewer can do one of 3 things:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>accept the report</li>
            <li>reject the report</li>
            <li>ask you for more information</li>
          </ul>

          <p class="govuk-body">You will not get an email notification about this report. But you can check its progress in <a class="govuk-link" href={{ yourCompletedReportsLink }}>Your completed reports</a>.</p>

          {{ govukInsetText({
            text: "Check your prison’s processes. For example, you may need to submit this report on paper as well as on this system."
          }) }}

          <h3 class="govuk-heading-s">Prisoner transfers</h3>
          <p class="govuk-body">If the prisoner is transferred, this report will need to be reviewed and accepted before it is sent to the new prison.</p>

          <p class="govuk-body"><a class="govuk-link" href={{ yourCompletedReportsLink }} data-qa="confirmed-on-report-finish">Return to your completed reports</a></p>
      </div>
      {% endif %}
      {% if not showNextStepsContent %}
        <p class="govuk-body"><a class="govuk-link" href={{ submittedEditConfirmationReturnUrl }} data-qa="confirmed-on-report-finish">{{ submittedEditConfirmationReturnText }}</a></p>
      {% endif %}
    </div>
  </div>

{% endblock %}