{% extends "../partials/layout.njk" %}
{% from "../partials/breadCrumb.njk" import breadcrumb %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{%- from "moj/components/pagination/macro.njk" import mojPagination -%}
{% from "../macros/continueReportFilter.njk" import continueReportFilter %}

{% set title = "Continue a report" %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb() }}
{% endblock %}

{% block content %}
  {% if errors | length %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors,
      attributes: { "data-qa": "error-summary" }
      }) }}
  {% endif %}

  <h1 class="govuk-heading-l">{{ title }}</h1>

  {{ continueReportFilter(filter, errors, adjudicationUrls.continueReport.urls.start(), csrfToken) }}

  {% set rows = [] %}
  {% for report in reports.content %}
    {% set prisonerNameAndNumber %}
    <p class="govuk-body govuk-!-margin-bottom-0">{{ report.displayName }} - {{report.prisonerNumber}}
    </p>
    {% endset -%}
    {% set discoveryDateTimeHtml %}
    <p class="govuk-body continue-report-text" data-qa="incident-date-text">{{ report.formattedDiscoveryDateTime }}</p>
    {% endset -%}
    {% set continueReportLinkHtml %}
      <p class="govuk-body continueReport-finalColumn"><a href="{{ adjudicationUrls.taskList.urls.start(report.id) }}" class="govuk-link" data-qa="continue-report-link-{{report.id}}">Continue report<span class="govuk-visually-hidden">for {{ report.friendlyName }}</span></a></p>
    {% endset -%}
    {% set requestDeletionConfirmationLinkHtml %}
      <p class="govuk-body continueReport-finalColumn"><a href="{{ adjudicationUrls.deleteReport.urls.requestConfirmation(report.id) }}" class="govuk-link" data-qa="delete-report-link-{{report.id}}">Delete report<span class="govuk-visually-hidden">for {{ report.friendlyName }}</span></a></p>
    {% endset -%}
    {% set rows = (rows.push([
    { html: discoveryDateTimeHtml, attributes: {
        "data-sort-value": report.incidentDetails.dateTimeOfDiscovery
      } },
    {
      html: prisonerNameAndNumber,
      attributes: {
        "data-sort-value": report.displayName
      }
    },
    { html: continueReportLinkHtml },
    { html: requestDeletionConfirmationLinkHtml }
  ]), rows) %}
  {% endfor %}

  {% if rows | length %}
    {{ mojPagination(pagination) }}
    <div class="results-table">

      {{ govukTable({
         head: [
        { text: "Discovery date and time",
          classes: 'continueReport-firstColumn',
          attributes: {
            "aria-sort": "descending"
          }
          },
        {
          text: "Name and prison number",
          attributes: {
            "aria-sort": "none"
          }
        },
        { text: "" },
        { text: "" }
      ],
      rows: rows,
      attributes: { "data-qa": "continue-report-results-table", "data-module": "moj-sortable-table" }
      }) }}
    </div>
    {{ mojPagination(pagination) }}

  {% else %}
    {% if not errors | length %}
      <p class="govuk-!-padding-top-3" data-qa="no-results-message">There are no reports for you to continue.</p>
    {% endif %}
  {% endif %}

{% endblock %}