{% from "../macros/datePicker.njk" import datePicker %}
{% from "../macros/timeInput.njk" import timeInput %}

{% macro dateTimePicker2(params) %}
    
	{{
		datePicker({
			id: params.dateId+'[date]',
			label: params.dateLabel,
			name: params.dateId+'[date]',
			date: params.dateTimeObj.date,
            errorMessage: params.errors | findErrors([params.dateId+'[date]']),
			attributes: {'data-disable-future-date':'true', 'data-qa': params.dataQaDate },
			classes: 'govuk-input--width-10'
		})
	}}

	{{ 
        timeInput({
            errorMessage: params.isHourError or params.isMinuteError,
            legend: params.timeLabel,
            hint: 'Use the 24-hour clock. For example, 09 08 or 17 32.',
            hour:  {
                dataQaHour: params.dataQaHour,
                name: params.dateId+'[time][hour]',
                id: params.dateId+'[time][hour]',
                value: params.dateTimeObj.hour,
                classes: ('govuk-input--error' if params.isHourError)
            },
            minutes:  {
                dataQaMinutes: params.dataQaMinutes,
                name: params.dateId+'[time][minute]',
                id: params.dateId+'[time][minute]',
                value: params.dateTimeObj.minute,
                classes: ('govuk-input--error' if params.isMinuteError)
            }
	    })
    }}

{% endmacro %}