{% extends "../partials/layout.njk" %}
{% from "../partials/breadCrumb.njk" import breadcrumb %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "../macros/offenceQuestionsAndAnswers.njk" import offenceQuestionsAndAnswers %}

{% block beforeContent %}
    {{ breadcrumb() }}
{% endblock %}

{% set title = "Do you want to delete this offence?" %}

{% block content %}
	{% if errors | length %}
		{{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors,
      attributes: { "data-qa": "error-summary" }
    }) }}
	{% endif %}
    <h1 class="govuk-heading-l">{{ title }}</h1>
    {{ offenceQuestionsAndAnswers(questionsAndAnswers, adjudicationNumber, offenceIndex) }}
    <div class='govuk-!-margin-top-9'>
        <form method="POST" novalidate="novalidate" data-qa="delete-offence-form">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
            {{ govukRadios({
                classes: "govuk-radios--inline",
                idPrefix: "confirmDelete",
                id: "confirmDelete",
                name: "confirmDelete",
                attributes: { "data-qa": "radio-buttons" },
                errorMessage: "confirmDelete" | findError(errors),
                items: [
                    {
                        attributes: {"data-qa": "yes-radio"},
                        value: "yes",
                        text: "Yes"
                    },
                    {
                        attributes: {"data-qa": "no-radio"},
                        value: "no",
                        text: "No"
                    }
                ]
            }) }}

            {{ govukButton({
                text: "Confirm",
                type: "submit",
                classes: "govuk-button--submit",
                attributes: { "data-qa": "delete-offence-submit" }
            }) }}

        </form>
    </div>
{% endblock %}