{% extends "../partials/layout.njk" %}
{% from "../partials/breadCrumb.njk" import breadcrumb %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set title = "Delete report" %}

{% block beforeContent %}
    {{ breadcrumb() }}
{% endblock %}

{% block content %}

    <h1 class="govuk-heading-l">{{ title }}</h1>

    <p class="govuk-body" data-qa="delete-draft-report-p1">Draft adjudication report will be deleted, please confirm.</p>

    <div class="horizontal-form govuk-!-margin-bottom-3">

        {{ govukButton({
            text: "Delete",
            type: "submit",
            href: reportDeleteLinkURL,
            classes: "govuk-button--submit govuk-!-margin-right-3",
            attributes: { "data-qa": "delete-report-submit" }
        }) }}

        {{ govukButton({
            text: "Cancel",
            href: cancelLinkURL,
            classes: "govuk-button--secondary",
            attributes: { "data-qa": "delete-report-cancel" }
        }) }}

    </div>

{% endblock %}