{% extends "../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../partials/breadCrumb.njk" import breadcrumb %}
{% from "../partials/prisonerPlaybackSection.njk" import prisonerPlaybackSection %}
{% from "../macros/damagesWitnessesTable.njk" import damagesWitnessesTable %}

{% set title = "Witnesses" %}

{% block pageTitle %}
    {{ title }}
{% endblock %}

{% block beforeContent %}
    {{ breadcrumb() }}
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-l">{{ title }}</h1>
    <form method="POST" novalidate="novalidate" class="govuk-!-margin-top-5">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <div class="prisonerPlaybackSection govuk-!-margin-bottom-6">
            {{ prisonerPlaybackSection(prisoner.displayName, prisoner.prisonerNumber, prisoner.currentLocation) }}
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                {% if witnesses | length > 0 %}
                <div class="witnesses-table">
                    {{ damagesWitnessesTable(witnesses, redirectAfterRemoveUrl, currentUser, 'witnesses') }}
                </div>
                {% else %}
                <p class="govuk-body" data-qa="no-witnesses-p1">You have not added any witnesses to this report.</p>
                <p class="govuk-body" data-qa="no-witnesses-p2">You can add witnesses or you can continue. You can also return later and add witnesses.</p>
                {% endif %}


        {{ govukButton({
            text: "Add a witness",
            href: addWitnessButtonHref,
            classes: "govuk-button--secondary",
            attributes: { "data-qa": "add-witness-button" }
        }) }}
        <br>
        {{ govukButton({
            text: "Save and continue",
            type: "submit",
            classes: "govuk-button--submit govuk-!-margin-right-3",
            attributes: { "data-qa": "details-of-witness-submit" }
        }) }}
        {{ govukButton({
            text: "Exit",
            href: exitButtonHref,
            classes: "govuk-button--secondary",
            attributes: { "data-qa": "details-of-witness-exit" }
        }) }}
            </div>
        </div>
    </form>
{% endblock %}