{% extends "../partials/layout.njk" %}
{% from "../partials/breadCrumb.njk" import breadcrumb %}
{% from "../partials/prisonerPlaybackSection.njk" import prisonerPlaybackSection %}

{% set title = "Offence details" %}

{% block pageTitle %}
    {{ title }}
{% endblock %}

{% block beforeContent %}
    {{ breadcrumb() }}
{% endblock %}

{% block content %}

    <h1 class="govuk-heading-l">{{ title }}</h1>

    <div class="prisonerPlaybackSection govuk-!-margin-bottom-6">
        {{ prisonerPlaybackSection(prisoner.displayName, prisoner.prisonerNumber, prisoner.currentLocation) }}
    </div>

    {% for offence in offences %}
        {% for questionAndAnswer in offence.questionsAndAnswers %}
            <p class="govuk-!-margin-bottom-1 govuk-label--s">{{ questionAndAnswer.question }}</p>
            <p class="govuk-!-margin-bottom-1 govuk-label--xs">{{ questionAndAnswer.answer }}</p>
        {% endfor %}
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    {% endfor %}



{% endblock %}