{% extends "../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../partials/breadCrumb.njk" import breadcrumb %}
{% from "../macros/offenceQAndASummaryList.njk" import offenceQAndASummaryList %}
{% from "../partials/prisonerPlaybackSection.njk" import prisonerPlaybackSection %}

{% set title = "Offence details" %}

{% block pageTitle %}
  {{ title }} - Adjudications - Digital Prison Services
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb() }}
{% endblock %}

{% block content %}
  {% if errors | length %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors,
      attributes: { "data-qa": "error-summary" }
      }) }}
  {% endif %}
  <h1 class="govuk-heading-l">{{ title }}</h1>
  <form method="POST" novalidate="novalidate" class="govuk-!-margin-top-5">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
    <input type="hidden" name="reportedChargeNumber" value="{{ reportedChargeNumber }}"/>
    <div class="prisonerPlaybackSection govuk-!-margin-bottom-6">
      {{ prisonerPlaybackSection(prisoner.displayName, prisoner.prisonerNumber, prisoner.currentLocation) }}
    </div>
    {% if offence.questionsAndAnswers %}
      <div class="adjudicationsSummary">
        {% if not deleteOffenceLinkHidden %}
          <div class="align-right">
            <p class="govuk-body">
              <a href='{{ deleteOffenceHref }}'
          data-qa="delete-1" class="govuk-link">Remove this offence</a>
            </p>
          </div>
        {% endif %}
        {{ offenceQAndASummaryList(offence, offence.isYouthOffender, { "data-qa": "offence-summary-table" }) }}
      </div>
      {{ govukButton({
          text: "Save and continue",
          type: "submit",
          preventDoubleClick: true,
          classes: "govuk-button--submit",
          attributes: { "data-qa": "details-of-offence-submit" }
      }) }}

    {% else %}

      <p class="govuk-body">This report does not currently have any offence details.</p>
      <p class="govuk-body">You must add offence details.</p>
      {{ govukButton({
        text: "Continue",
        type: "submit",
        name: "addFirstOffence",
        preventDoubleClick: true,
        value: "addFirstOffence",
        classes: "govuk-button--submit",
        attributes: { "data-qa": "details-of-offence-continue" }
    }) }}
    {% endif %}
  </form>
{% endblock %}