{% extends "../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../partials/breadCrumb.njk" import breadcrumb %}
{% from "../partials/prisonerPlaybackSection.njk" import prisonerPlaybackSection %}
{% from "../macros/evidenceTable.njk" import evidenceTable %}

{% set title = "Evidence" %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb() }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">{{ title }}</h1>
  <form method="POST" novalidate="novalidate" class="govuk-!-margin-top-5">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
    <div class="prisonerPlaybackSection govuk-!-margin-bottom-6">
      {{ prisonerPlaybackSection(prisoner.displayName, prisoner.prisonerNumber, prisoner.currentLocation) }}
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        {% include "../partials/evidenceTableSection.njk" %}
        {% if evidence.photoVideo | length < 1 and evidence.baggedAndTagged | length < 1 %}
          <p class="govuk-body" data-qa="no-evidence">You can add evidence now or you can continue. You can also return later and add evidence.</p>
        {% endif %}

        {{ govukButton({
            text: "Add a piece of evidence",
            href: addEvidenceButtonHref,
            classes: "govuk-button--secondary",
            attributes: { "data-qa": "add-evidence-button" }
        }) }}
        <br>
        {{ govukButton({
            text: "Save and continue",
            type: "submit",
            preventDoubleClick: true,
            classes: "govuk-button--submit govuk-!-margin-right-3",
            attributes: { "data-qa": "details-of-evidence-submit" }
        }) }}
        {{ govukButton({
            text: "Exit",
            href: exitButtonHref,
            classes: "govuk-button--secondary",
            attributes: { "data-qa": "exit-evidence-button" }
        }) }}
      </div>
    </div>
  </form>
{% endblock %}