{% extends "../partials/layout.njk" %}
{% from "../partials/breadCrumb.njk" import breadcrumb %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set title = "Do you have the details of the rehabilitative activity?" %}
{% block pageTitle %}
  {{ title }} - Adjudications - Digital Prison Services
{% endblock %}
{% block beforeContent %}
  {{ breadcrumb() }}
{% endblock %}

{% set items = [
    {
        value: "YES",
        text: "Yes",
        checked: hasRehabilitativeActivitiesDetails === 'YES'
    },
    {
        value: "NO",
        text: "No",
        checked: hasRehabilitativeActivitiesDetails === 'NO',
        hint: {
            text: "You can return to this report to enter the details once you have them"
        }
    }
] %}


{% block content %}
  {% if errors | length %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors,
      attributes: { "data-qa": "error-summary" }
    }) }}
  {% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <form method="POST" novalidate="novalidate" class="govuk-!-margin-top-5">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        {{ govukRadios({
    idPrefix: 'hasRehabilitativeActivitiesDetails',
    id: 'hasRehabilitativeActivitiesDetails',
    name: 'hasRehabilitativeActivitiesDetails',
    attributes: { "data-qa": "hasRehabilitativeActivitiesDetails-radios" },
    errorMessage: "hasRehabilitativeActivitiesDetails" | findError(errors),
    hint: {
    text: "This includes what the activity is, when it needs to be completed by and who will be monitoring the prisoner on the activity."
     },
    items: items,
    fieldset: {
    legend: {
      text: title,
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  }
 }) }}
      
      <div class="govuk-button-group">
        {{ govukButton({
              text: 'Continue',
              type: "submit",
              preventDoubleClick: true,
              classes: "govuk-button--submit govuk-!-margin-right-3",
              attributes: { "data-qa": "punishment-submit" }
              }) }}

        <a class="govuk-link" href=' {{ cancelHref }} ' data-qa='punishment-cancel'>Return to ‘Award punishments and add money for damages’</a>
      </div>

    </form>
    </div>
  </div>
{% endblock %}