{% extends "../partials/layout.njk" %}
{% from "../partials/breadCrumb.njk" import breadcrumb %}
{% from "../partials/prisonerPlaybackSection.njk" import prisonerPlaybackSection %}
{% from "../macros/datePicker.njk" import datePicker %}
{% from "../macros/timeInput.njk" import timeInput %}

{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set isDateError = errors | isErrorPresent(['incidentDate[date]']) %}
{% set isHourError = errors | isErrorPresent(['incidentDate[time][hour]', 'incidentDate[time]']) %}
{% set isMinuteError = errors | isErrorPresent(['incidentDate[time][minute]', 'incidentDate[time]']) %}

{% set title = "Incident details" %}

{% block pageTitle %}
	{{ title }}
{% endblock %}

{% block beforeContent %}
	{{ breadcrumb() }}
{% endblock %}

{% block content %}
	{% if errors | length %}
		{{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors,
      attributes: { "data-qa": "error-summary" }
    }) }}
	{% endif %}

	<h1 class="govuk-heading-l">{{ title }}</h1>

	<div class="prisonerPlaybackSection">
		{{ prisonerPlaybackSection(prisoner.displayName, prisoner.prisonerNumber, prisoner.currentLocation) }}
	</div>

	<div>
		<form method="POST" novalidate="novalidate" class="govuk-!-margin-top-5">
			<input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

			{% include "../partials/reportingOfficer.njk" %}

			{{ datePicker({
				id: 'incidentDate[date]',
				label: 'Date of incident',
				name: 'incidentDate[date]',
				date: data.incidentDate.date,
				errorMessage: errors | findErrors(['incidentDate[date]']),
				attributes: {'data-disable-future-date':'true', 'data-qa': "incident-details-date" },
				classes: 'govuk-input--width-10'
			}) }}

			{{ 
				timeInput({
					errorMessage: errors | concatErrors(["incidentDate[time][hour]", "incidentDate[time][minute]", "incidentDate[time]"]),
					legend: 'Time of incident',
					hint: 'Use the 24 hour clock. For example, 09 08 or 17 32.',
					hour:  {
						name: 'incidentDate[time][hour]',
						id: 'incidentDate[time][hour]',
						value: data.incidentDate.hour,
						classes: ('govuk-input--error' if isHourError)
					},
					minutes:  {
						name: 'incidentDate[time][minute]',
						id: 'incidentDate[time][minute]',
						value: data.incidentDate.minute,
						classes: ('govuk-input--error' if isMinuteError)
					}
				})
			}}

			{{
				govukSelect({
					id: 'locationId',
					name: 'locationId',
					label: {
						text: 'Location of incident',
						isPageHeading: false,
						classes: ''
					},
					items: locations | toSelect('locationId', 'userDescription', data.locationId ),
					classes: '',
					errorMessage: 'locationId' | findError(errors)
				})
			}}

			{% include "../partials/incidentDetailsRadios.njk" %}


			{{ govukButton({
					text: submitButtonText,
					type: "submit",
					classes: "govuk-button--submit govuk-!-margin-right-3",
					attributes: { "data-qa": "incident-details-submit" }
			}) }}
			{% if exitButtonHref %}
				{{ govukButton({
					text: 'Exit',
					element: "a",
					href: exitButtonHref,
					classes: "govuk-button--secondary",
					attributes: { "data-qa": "incident-details-exit" }
				}) }}
			{% endif %}
		</form>
	</div>

{% endblock %}