{% extends "../partials/layout.njk" %}
{% from "../macros/dateTimePicker.njk" import dateTimePicker %}
{% from "../partials/breadCrumb.njk" import breadcrumb %}
{% from "../partials/prisonerPlaybackSection.njk" import prisonerPlaybackSection %}
{% from "../macros/timeInput.njk" import timeInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set isDateError = errors | isErrorPresent(['incidentDate[date]']) %}
{% set isHourError = errors | isErrorPresent(['incidentDate[time][hour]', 'incidentDate[time]']) %}
{% set isMinuteError = errors | isErrorPresent(['incidentDate[time][minute]', 'incidentDate[time]']) %}

{% set isDiscoveryDateError = errors | isErrorPresent(['discoveryDate[date]']) %}
{% set isDiscoveryHourError = errors | isErrorPresent(['discoveryDate[time]', 'discoveryDate[time][hour]']) %}
{% set isDiscoveryMinuteError = errors | isErrorPresent(['discoveryDate[time]', 'discoveryDate[time][minute]']) %}

{% set title = "Incident details" %}

{% block pageTitle %}
  {{ title }} - Adjudications - Digital Prison Services
{% endblock %}

{% block beforeContent %}
  {{
    breadcrumb()
  }}
{% endblock %}

{% block content %}

  {% if errors | length %}
    {{
      govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors,
          attributes: { "data-qa": "error-summary" }
      })
    }}
  {% endif %}

  <h1 class="govuk-heading-l">{{ title }}</h1>

  <div class="prisonerPlaybackSection">
    {{
      prisonerPlaybackSection(prisoner.displayName, prisoner.prisonerNumber, prisoner.currentLocation)
    }}
  </div>

  <div>
    <form method="POST" novalidate="novalidate" class="govuk-!-margin-top-5">
      <input
        type="hidden"
        name="_csrf"
        value="{{csrfToken }}"
      />

      {% if originalReporterUsername != null %}
        <input
          type="hidden"
          name="originalReporterUsername"
          value="{{originalReporterUsername }}"
          id="originalReporterUsername"
        />
      {% endif %}

      {% include "../partials/reportingOfficer.njk" %}

      <h2 class="govuk-heading-s">When did the incident happen?</h2>
      {{
        dateTimePicker({
            errors: errors,
            isDateError: isDateError,
            isHourError: isHourError,
            isMinuteError: isMinuteError,
            dateTimeObj: data.incidentDate,
            dateId: 'incidentDate',
            dateLabel: 'Date of incident',
            timeLabel: 'Time of incident',
            dataQaDate: 'incident-details-date',
            dataQaHour: 'incident-date-hour',
            dataQaMinutes: 'incident-date-minutes',
            maxDate: today
        })
        }}

      {{
        govukSelect({
            id: 'locationId',
            name: 'locationId',
            label: {
                text: 'Location of incident',
                isPageHeading: false,
                classes: ''
            },
            items: locations | toSelect('locationId', 'userDescription', data.locationId ),
            classes: '',
            errorMessage: 'locationId' | findError(errors)
        })
      }}

      {{
        govukRadios({
            errorMessage: "discoveryRadioSelected" | findError(errors),
            idPrefix: 'discoveryRadioSelected',
            id: 'discoveryRadioSelected',
            name: 'discoveryRadioSelected',
            attributes: { "data-qa": "radio-buttons-discovery" },
            fieldset: {
                legend: {
                text: "Was the incident discovered at the same time?",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s"
                }
            },
            items: [
                {
                    value: "Yes",
                    text: "Yes",
                    checked: data.discoveryRadioSelected == 'Yes'
                },
                {
                    value: "No",
                    text: "No",
                    checked: data.discoveryRadioSelected == 'No',
                    conditional: {
                        html: dateTimePicker({
                            errors: errors,
                            isDateError: isDiscoveryDateError,
                            isHourError: isDiscoveryHourError,
                            isMinuteError: isDiscoveryMinuteError,
                            dateTimeObj: data.discoveryDate,
                            dateId: 'discoveryDate',
                            dateLabel: 'Date of discovery',
                            timeLabel: 'Time of discovery',
                            dataQaDate: 'discovery-details-date',
                            dataQaHour: 'discovery-date-hour',
                            dataQaMinutes: 'discovery-date-minutes',
                            maxDate: today
                        })
                    }
                }
            ]
        })
      }}

      {{
        govukButton({
            text: submitButtonText,
            type: "submit",
            preventDoubleClick: true,
            classes: "govuk-button--submit govuk-!-margin-right-3",
            attributes: { "data-qa": "incident-details-submit" }
        })
        }}

      {% if exitButtonHref %}
        {{
          govukButton({
              text: 'Exit',
              element: "a",
              href: exitButtonHref,
              classes: "govuk-button--secondary",
              attributes: { "data-qa": "incident-details-exit" }
          })
        }}
      {% endif %}

    </form>
  </div>

{% endblock %}