{% extends "../partials/layout.njk" %}
{% from "../partials/breadCrumb.njk" import breadcrumb %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set title = "Incident role" %}

{% block pageTitle %}
  {{ title }} - Adjudications - Digital Prison Services
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb() }}
{% endblock %}

{% block content %}
  {% if errors | length %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors,
      attributes: { "data-qa": "error-summary" }
    }) }}
  {% endif %}

  <form method="POST" novalidate="novalidate" class="govuk-!-margin-top-5">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
    {% if originalIncidentRoleSelection != null %}
      <input type="hidden" name="originalIncidentRoleSelection" value="{{ originalIncidentRoleSelection }}" id="originalIncidentRoleSelection"/>
    {% endif %}
    {% if lastIncidentRoleSelection != null %}
      <input type="hidden" name="lastIncidentRoleSelection" value="{{ lastIncidentRoleSelection }}" id="lastIncidentRoleSelection"/>
    {% endif %}
    {% if lastAssociatedPrisonerNumberSelection != null %}
      <input type="hidden" name="lastAssociatedPrisonerNumberSelection" value="{{ lastAssociatedPrisonerNumberSelection }}" id="lastAssociatedPrisonerNumberSelection"/>
    {% endif %}

    {% include "../partials/incidentDetailsRadios.njk" %}

    {{ govukButton({
					text: submitButtonText,
					type: "submit",
					preventDoubleClick: true,
					classes: "govuk-button--submit govuk-!-margin-right-3",
					attributes: { "data-qa": "incident-role-submit" }
			}) }}

    {% if exitButtonHref %}
      {{ govukButton({
					text: 'Exit',
					element: "a",
					href: exitButtonHref,
					classes: "govuk-button--secondary",
					attributes: { "data-qa": "incident-role-exit" }
				}) }}
    {% endif %}
  </form>

{% endblock %}