{% extends "../partials/layout.njk" %}
{% from "../partials/breadCrumb.njk" import breadcrumb %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../macros/punishmentRadios.njk" import punishmentRadios %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set title = "Manually activate an existing suspended punishment" %}

{% block beforeContent %}
  {{ breadcrumb() }}
{% endblock %}
{% block pageTitle %}
  {{ title }} - Adjudications - Digital Prison Services
{% endblock %}
{% block content %}
  {% if errors | length %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors,
      attributes: { "data-qa": "error-summary" }
    }) }}
  {% endif %}

  <form method="POST" novalidate="novalidate">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">{{ title }}</h1>
        </legend>

        {{ govukInput({
        label: {
          text: "Charge number",
          classes: "govuk-body",
          isPageHeading: false
        },
        id: "chargeNumberForSuspendedPunishment",
        name: "chargeNumberForSuspendedPunishment",
        value: chargeNumberForSuspendedPunishment,
        classes: "govuk-input--width-5",
        errorMessage: errors | findErrors(["chargeNumberForSuspendedPunishment"]),
        attributes: { "data-qa": "chargeNumberForSuspendedPunishment" }
        }) }}

        {{ punishmentRadios(punishmentType, privilegeType, otherPrivilege, stoppagePercentage, null, isIndependentAdjudicatorHearing, true, true, errors) }}

        <div class="govuk-button-group">
          {{ govukButton({
          text: 'Continue',
          type: "submit",
          preventDoubleClick: true,
          classes: "govuk-button--submit govuk-!-margin-right-3",
          attributes: { "data-qa": "submit" }
        }) }}
          <p class="govuk-body">
            <a href="{{awardPunishmentsHref}}" data-qa="cancel">Return to 'Award punishments'</a>
          </p>
        </div>
      </fieldset>
    </div>
  </form>

{% endblock %}