{% extends "../partials/layout.njk" %}
{% from "../partials/breadCrumb.njk" import breadcrumb %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "../macros/nextSteps.njk" import nextSteps %}
{% set title = "What is the next step?" %}
{% block pageTitle %}
  {{ title }} - Adjudications - Digital Prison Services
{% endblock %}
{% block beforeContent %}
  {{ breadcrumb() }}
{% endblock %}

{% block content %}
  {% if errors | length %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors,
      attributes: { "data-qa": "error-summary" }
    }) }}
  {% endif %}
  <h1 class="govuk-heading-l">{{ title }}</h1>
  <div>
    <form method="POST" novalidate="novalidate" class="govuk-!-margin-top-5">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

      {{ nextSteps('IA') }}

      {{ govukButton({
					text: 'Continue',
					type: "submit",
          preventDoubleClick: true,
					classes: "govuk-button--submit govuk-!-margin-right-3",
					attributes: { "data-qa": "nextstep-inad-submit" }
			}) }}
      {{ govukButton({
					text: 'Cancel',
					element: "a",
					href: cancelHref,
					classes: "govuk-button--secondary",
					attributes: { "data-qa": "nextstep-inad-cancel" }
			}) }}
    </form>
  </div>
{% endblock %}
