<html>
<head>
    <style>
        body{-webkit-print-color-adjust:exact}
        .adjudication-print-form-header {
            background-color: #D8D8D8;
            color: red;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 8rem;
            border: red;
        }
    </style>
</head>
<body>
<div class='adjudication-print-form-header'>
    <h1 class='govuk-heading-m govuk-!-margin-2'>Notice of being put on report</h1>
</div>
</body>
</html>