{% extends "../partials/pdfLayout.njk" %}
{% from "../macros/noticeOfBeingPlacedOnReportDetails2.njk" import noticeOfBeingPlacedOnReportDetails2 %}
{% from "../macros/noticeOfBeingPlacedOnReportLegal2.njk" import noticeOfBeingPlacedOnReportLegal2 %}
{% block content %}
    <div class='adjudication-pdf'>
        {{ noticeOfBeingPlacedOnReportDetails2(noticeOfBeingPlacedOnReportData) }}
        {{ noticeOfBeingPlacedOnReportLegal2( noticeOfBeingPlacedOnReportData.adjudicationNumber ) }}
    </div>
{% endblock %}