<html>
<head>
    <style>
        body {
            -webkit-print-color-adjust: exact
        }

        .adjudication-pdf-header {
            background-color: #d8d8d8;
            width: 100%;
        }

        .adjudication-pdf-heading-m {
            font-family: arial;
            font-size: 18px;
            margin-left: 30px;
            margin-top: 10px;
            margin-bottom: 10px
        }
    </style>
</head>
<body>
    <div class='adjudication-pdf-header'>
        <h1 class='adjudication-pdf-heading-m'>Notice of being put on report</h1>
    </div>
</body>
</html>