{% from "../macros/noticeOfBeingPlacedOnReportDetails2.njk" import noticeOfBeingPlacedOnReportDetails2 %}
{% from "../macros/noticeOfBeingPlacedOnReportLegal2.njk" import noticeOfBeingPlacedOnReportLegal2 %}
    {{ noticeOfBeingPlacedOnReportDetails2(noticeOfBeingPlacedOnReportData) }}
    {{ noticeOfBeingPlacedOnReportLegal2( noticeOfBeingPlacedOnReportData.adjudicationNumber ) }}