{% extends "../partials/layout.njk" %}
{% from "../partials/breadCrumb.njk" import breadcrumb %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% set title = "What is the reason for not proceeding?" %}
{% block pageTitle %}
    {{ title }} - Adjudications - Digital Prison Services
{% endblock %}
{% block beforeContent %}
    {{ breadcrumb() }}
{% endblock %}

{% block content %}
    {% if errors | length %}
        {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors,
      attributes: { "data-qa": "error-summary" }
    }) }}
    {% endif %}
    <h1 class="govuk-heading-l">{{ title }}</h1>
    <div>
        <form method="POST" novalidate="novalidate" class="govuk-!-margin-top-5">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

            {{ govukSelect({
               id: 'notProceedReason',
               name: 'notProceedReason',
               label: {
                text: 'Reason',
                isPageHeading: false,
                classes: ''
               },
              items: [
                {  value: NotProceedReason.ANOTHER_WAY,
                  text: "Resolved in another way"
                },
                {  value: NotProceedReason.RELEASED,
                  text: "Prisoner released"
                },
                {  value: NotProceedReason.UNFIT,
                  text: "Prisoner mentally or physically unfit to attend"
                },
                {  value: NotProceedReason.FLAWED,
                  text: "Flawed notice of report"
                },
                {  value: NotProceedReason.EXPIRED_NOTICE,
                  text: "Notice of report issued more than 48 hours after discovery"
                },
                {  value: NotProceedReason.EXPIRED_HEARING,
                  text: "Hearing open outside timeframe"
                },
                {  value: NotProceedReason.NOT_FAIR,
                  text: "Not fair to continue"
                },
                {  value: NotProceedReason.WITNESS_NOT_ATTEND,
                  text: "Witness unable to attend"
                },
                {  value: NotProceedReason.OTHER,
                  text: "Other"
                }
              ] | toSelect('value', 'text', notProceedReason),
              classes: '',
              errorMessage: 'notProceedReason' | findError(errors)
            }) }}

            {{ govukCharacterCount({
              label: {
                text: "Details"
              },
              classes: "govuk-input--width-30 govuk-!-margin-bottom-5",
              rows: "6",
              id: "notProceedDetails",
              name: "notProceedDetails",
              value: notProceedDetails,
              attributes: {
                'data-qa': "not-proceed-details"
              },
              errorMessage: "notProceedDetails" | findError(errors),
              maxlength: 4000
            }) }}

            {{ govukButton({
              text: 'Save',
              type: "submit",
              preventDoubleClick: true,
              classes: "govuk-button--submit govuk-!-margin-right-3",
              attributes: { "data-qa": "not-proceed-submit" }
            }) }}
            {{ govukButton({
              text: 'Cancel',
              element: "a",
              href: cancelHref,
              classes: "govuk-button--secondary",
              attributes: { "data-qa": "not-proceed-cancel" }
            }) }}
        </form>
    </div>
{% endblock %}
