{% extends "../partials/layout.njk" %}
{% from "../partials/breadCrumb.njk" import breadcrumb %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% set title = "Which offence did the prisoner commit?" %}

{% block pageTitle %}
  {{ title }} - Adjudications - Digital Prison Services
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb() }}
{% endblock %}

{% block content %}
  {% if errors | length %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors,
      attributes: { "data-qa": "error-summary" }
      }) }}
  {% endif %}
  <form method="POST" novalidate="novalidate" class="govuk-!-margin-top-5" data-qa="offence-paragraph-list-form">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

    {% call govukFieldset({
      legend: {
        text: "Which offence did " + prisonerName + " commit?",
        classes: "govuk-fieldset__legend--l",
        isPageHeading: true
      }
    }) %}


    {% for offenceGroup in offencesAndTitles %}
      {% set items = [] %}
      {% if offenceGroup.offenceRules.length > 1 %}
        {% for offence in offenceGroup.offenceRules %}
          {% set items = (items.push({
            value: offence.paragraphNumber,
            text: offence.paragraphNumber,
            hint: {
              html: offence.paragraphDescription
            },
            id: offence.paragraphNumber
          }), items) %}
        {% endfor %}
      {% else %}
        {% set offenceRule = offenceGroup.offenceRules[0] %}
        {% set items = (items.push({
          value: offenceRule.paragraphNumber,
          text: offenceRule.paragraphNumber,
          hint: {
            html: offenceRule.paragraphDescription
          },
          id: offenceRule.paragraphNumber
        }), items) %}
      {% endif %}

      {{ govukRadios({
            idPrefix: 'selectedAnswerId',
            name: 'selectedAnswerId',
            attributes: { "data-qa": "radio-buttons" },
            items: items,
            fieldset: {
              legend: {
                text: offenceGroup.offenceTitle,
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            errorMessage: "selectedAnswerId" | findError(errors)
        }) }}
    {% endfor %}

    {{ govukButton({
        text: "Continue",
        type: "submit",
        classes: "govuk-button--submit govuk-!-margin-right-3",
        attributes: { "data-qa": "continue" },
        preventDoubleClick: true
    }) }}
    {{ govukButton({
        text: "Cancel",
        href: cancelButtonHref,
        classes: "govuk-button--secondary",
        attributes: { "data-qa": "cancel" }
    }) }}
{% endcall %}
  </form>
{% endblock %}