{% extends "../partials/layout.njk" %}
{% from "../partials/breadCrumb.njk" import breadcrumb %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set title = pageTitle %}

{% block beforeContent %}
    {{ breadcrumb() }}
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-l">{{ title }}</h1>

    {% set items = [] %}

    {% for question in questions %}
        {% set items = (items.push(
            {
                value: question.id,
                text: question.label
            }
        ), items) %}
    {% endfor %}

    {{ govukRadios({
        idPrefix: 'RoleRadios',
        id: 'currentRadioSelected',
        name: 'currentRadioSelected',
        attributes: { "data-qa": "radio-buttons" },
        items: items
    }) }}

{% endblock %}