{% extends "../partials/layout.njk" %}
{% from "../partials/breadCrumb.njk" import breadcrumb %}

{% block pageTitle %}
	TODO
{% endblock %}

{% block beforeContent %}
 {{ breadcrumb() }}
{% endblock %}

{% block content %}
   TODO
{% endblock %}