{% extends "../partials/layout.njk" %}
{% from "../partials/breadCrumb.njk" import breadcrumb %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "../components/datepicker/macro.njk" import hmppsDatepicker %}

{% set title = "When does this punishment need to be completed by?" %}
{% block pageTitle %}
  {{ title }} - Adjudications - Digital Prison Services
{% endblock %}
{% block beforeContent %}
  {{ breadcrumb() }}
{% endblock %}

{% block content %}
  {% if errors | length %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors,
      attributes: { "data-qa": "error-summary" }
    }) }}
  {% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <form method="POST" novalidate="novalidate" class="govuk-!-margin-top-5">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

      {{ hmppsDatepicker({
          id: 'lastDay',
          name: 'lastDay',
          label: {
              text: title,
              classes: "govuk-label--l",
              isPageHeading: true
          },
          classes: 'hmpps-datepicker--fixed-width',
          value: lastDay,
          minDate: today,
          errorMessage: errors | findErrors(['lastDay'])
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: 'Continue',
          type: "submit",
          preventDoubleClick: true,
          classes: "govuk-button--submit govuk-!-margin-right-3 govuk-!-margin-top-3",
          attributes: { "data-qa": "payback-punishment-completion-date-submit" }
        }) }}
        <a class="govuk-link" href=' {{ cancelHref }} ' data-qa='payback-punishment-completion-date-cancel'>Cancel</a>
      </div>
      </div>
    </form>
  </div>
{% endblock %}