{% extends "../partials/layout.njk" %}
{% from "../partials/breadCrumb.njk" import breadcrumb %}
{% from "../macros/printLink.njk" import printLink %}
{% from "../macros/onReport.njk" import onReportInfo %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set title = "Print notice of being placed on report (DIS 1 and 2)" %}
{% block pageTitle %}
  {{ title }} - Adjudications - Digital Prison Services
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb() }}
{% endblock %}

{% block content %}
  <div>
    <div class='no-print'>
      <h1 class="govuk-heading-l">{{ title }}</h1>
      <div class="confirmed-on-report-section">
        <p class="govuk-body">Print both documents from this page. Sign and date both copies to confirm that they have been issued.</p>
        <p class="govuk-body">The prisoner copy includes guidance about the adjudications process (DIS 2).</p>

        <h2 class="govuk-heading-m">Print the copy to give to the prisoner</h2>
        <p class="govuk-body">{{ prisonerFirstAndLastName }} must be given a notice of being placed on report by
        {{ expirationTime }} on {{ expirationDay }}.</p>
        {{ govukInsetText({
          text: "You must follow your establishment’s processes. For example, you might need to give a copy of the printed report to another member of staff to review before it’s given to " + prisonerFirstAndLastName + "."
        }) }}
        {{ onReportInfo(prisonerFirstAndLastName, expirationTime, expirationDay, showPrisonerPreferredLanguage, prisonerPreferredLanguage, showPrisonerOtherLanguages, prisonerOtherLanguages, showPrisonerNeurodiversities, prisonerNeurodiversities) }}

        {{ printLink('Print notice of being placed on report (DIS 1 and 2) for ' + prisonerFirstAndLastName, adjudicationUrls.printPdf.urls.dis12(chargeNumber), "left", "govuk-!-padding-right-0", "_blank", "printDis12") }}
        <p class="govuk-body">After issuing the report, sign back in and confirm the date and time it was issued.</p>

        <h2 class="govuk-heading-m">Print the copy for the adjudication hearing</h2>
        {{ printLink('Print notice of being placed on report for the adjudication hearing (DIS 1 only)', adjudicationUrls.printPdf.urls.dis12(chargeNumber), "left", "govuk-!-padding-right-0", "_blank", "printDis1") }}
      </div>

      <div class="govuk-!-margin-top-6">
        {{ govukButton({
          text: 'Exit',
          element: 'a',
          href: exitUrl,
          classes: 'govuk-button--secondary govuk-!-display-none-print',
          attributes: {
            'data-qa': 'print-report-exit'
          }
        }) }}
      </div>
    </div>
  </div>
{% endblock %}
