{% extends "../partials/layout.njk" %}
{% from "../partials/breadCrumb.njk" import breadcrumb %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "../macros/DISFormFilter.njk" import DISFormFilter %}
{% from '../macros/adjudicationTabHeaderAll.njk' import adjudicationTabHeaderAll %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "../macros/alertFlags.njk" import alertFlags %}
{% from "../macros/printLink.njk" import printLink %}

{% set title = "Print completed DIS 1/2 forms" %}

{% block beforeContent %}
  {{ breadcrumb() }}
{% endblock %}
{% block content %}

  {% if errors | length %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors,
      attributes: { "data-qa": "error-summary" }
      }) }}
  {% endif %}

  <h1 class="govuk-heading-l">{{ title }}</h1>

  {{ DISFormFilter(filter, possibleLocations, errors, adjudicationUrls.printCompletedDisForms.urls.start(), csrfToken, "Date of hearing", true) }}

  {{ printLink(align="right", classes="print-link--no-image") }}
  
  {% set rows = [] %}
  {% for report in reports %}
    {% set index = loop.index %}
    {% set printLink %}
      <a href="{{ adjudicationUrls.printReport.urls.start(report.adjudicationNumber) }}?referrer={{ adjudicationUrls.printCompletedDisForms.urls.start() }}" class="govuk-link no-print" data-qa="print-DIS1/2-{{ report.adjudicationNumber }}">Print DIS 1/2 <span class="govuk-visually-hidden">for {{ report.friendlyName | possessive }} adjudication report</span>
      </a>
    {% endset -%}
    {% set rows = (rows.push([
      { text: report.displayName + ' - ' + report.prisonerNumber },
      { text: report.formattedDateTimeOfFirstHearing or ' - ',
        attributes: {
        "data-sort-value": report.dateTimeOfFirstHearing
      }
      },
      { text: report.prisonerLocation },
      { html: alertFlags(report.relevantAlerts, newLine=true) },
      { text: report.issueStatus | issueStatus },
      { html: printLink }
    ]), rows) %}
  {% endfor %}
  {% if rows | length %}
    <div class="results-table">
      {{ govukTable({
      head: [
        { text: 'Name and prison number',
          classes: 'printCompletedDISForms-prisonerNameNumber',
          attributes: {
          "aria-sort": "none"
        }
        },
        { text: "Hearing date and time",
          classes: 'printCompletedDISForms-hearingDateTime',
          attributes: {
          "aria-sort": "descending"
        }
        },
        { text: "Prisoner location",
          classes: 'printCompletedDISForms-prisonerLocation'
        },
        { text: "Relevant alerts",
          classes: 'printCompletedDISForms-relevantAlerts'
        },
        { text: "Report issued",
          classes: 'printCompletedDISForms-issueStatus'
        },
        { text: "",
          classes: 'printCompletedDISForms-link'
        }
      ],
      rows: rows,
      attributes: { "data-qa": "results-table", "data-module": "moj-sortable-table" }
    }) }}
    </div>
  {% else %}
    <p class="govuk-!-padding-top-3" data-qa="no-results-message">No scheduled hearings.</p>
  {% endif %}
{% endblock %}

{% block pageScripts %}
  <script src="/assets/printWithNonce.js" nonce="{{ cspNonce }}"></script>
{% endblock %}