{% extends "../partials/layout.njk" %}
{% from "../partials/breadCrumb.njk" import breadcrumb %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set title = "Search for a prisoner to start a new report" %}

{% block beforeContent %}
    {{ breadcrumb() }}
{% endblock %}

{% block content %}
    {% if errors | length %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errors,
            attributes: { "data-qa": "error-summary" }
        }) }}
    {% endif %}

    <h1 class="govuk-heading-l">{{ title }}</h1>
    <form method="POST" novalidate="novalidate" data-qa="prisoner-search-form">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        <div class="horizontal-form govuk-!-margin-bottom-3">
            {{ govukInput({
                id: "searchTerm",
                name: "searchTerm",
                value: searchTerm,
                label: {
                    html: "Enter a name or prison number"
                },
                classes: "govuk-!-width-full",
                attributes: {
                    'data-qa': "prisoner-search-term-input"
                },
                errorMessage: errors | findError("searchTerm")

            }) }}

            {{ govukButton({
                text: "Search",
                type: "submit",
                classes: "govuk-button--secondary",
                attributes: { "data-qa": "prisoner-search-submit" }
            }) }}
        </div>
    </form>

{% endblock %}