{% extends "../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../partials/breadCrumb.njk" import breadcrumb %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set title = "Add a comment about punishments" %}

{% block pageTitle %}
  {{ title }} - Adjudications - Digital Prison Services
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb() }}
{% endblock %}

{% block content %}
  {% if errors | length %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors,
      attributes: { "data-qa": "error-summary" }
    }) }}
  {% endif %}

  <h1 class="govuk-heading-l">{{ title }}</h1>
  <form method="POST" novalidate="novalidate" class="govuk-!-margin-top-5">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">

        {{ govukCharacterCount({
          name: "punishmentComment",
          id: "punishmentComment",
          classes: "govuk-!-width-two-thirds",
          attributes: { "maxlength": "4000", "data-qa": "edit-punishment-comment" },
          errorMessage: "punishmentComment" | findError(errors),
          value: punishmentComment,
          maxlength: 4000
        }) }}

        {{ govukButton({
          text: "Save",
          type: "submit",
          classes: "govuk-button--submit govuk-!-margin-right-3",
          attributes: { "data-qa": "punishment-comment-submit" },
          preventDoubleClick: true
        }) }}
        {{ govukButton({
          text: "Cancel",
          href: cancelHref,
          classes: "govuk-button--secondary",
          attributes: { "data-qa": "punishment-comment-cancel" }
        }) }}
      </div>
    </div>
  </form>
{% endblock %}
