{% extends "../partials/layout.njk" %}
{% from "../partials/breadCrumb.njk" import breadcrumb %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "../components/datepicker/macro.njk" import hmppsDatepicker %}

{% set title = "Add details of the rehabilitative activity" %}
{% set detailedTitle %}
  Add details of the {{ currentActivityNumber | int | convertToWord }} rehabilitative activity: {{ currentActivityNumber }} of {{ numberOfActivities }}
{% endset %}

{% set pageHeader = title if isEdit else detailedTitle %}

{% block pageTitle %}
  {{ title }} - Adjudications - Digital Prison Services
{% endblock %}
{% block beforeContent %}
  {{ breadcrumb() }}
{% endblock %}

{% block content %}
  {% if errors | length %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors,
      attributes: { "data-qa": "error-summary" }
    }) }}
  {% endif %}
  <div class="govuk-grid-row">

    <form method="POST" novalidate="novalidate" class="govuk-!-margin-top-5">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

      <h1 class="govuk-heading-l">{{ pageHeader }}</h1>

      <div class="govuk-grid-column-two-thirds">
        {{ govukTextarea({
					name: "details",
					id: "details",
					attributes: {
						'data-qa': 'details'
					},
					errorMessage: errors | findErrors(['details']),
					value: details,
					label: {
						text: "What is the activity?",
						classes: "govuk-label--s",
						isPageHeading: false
					}
				}) }}

        {{ govukInput({
					label: {
						text: "Who is monitoring the prisoner on this activity?",
						classes: "govuk-label--s",
						isPageHeading: false
					},
					id: "monitorName",
					name: "monitorName",
					value: monitorName,
          attributes: {
						'data-qa': 'monitorName'
					},
					errorMessage: errors | findErrors(['monitorName'])
				}) }}

        {{ hmppsDatepicker({
          id: 'endDate',
          name: 'endDate',
          label: {
              text: "When should the activity be completed by?",
              classes: "govuk-label--s",
              isPageHeading: false
          },
          classes: 'hmpps-datepicker--fixed-width',
          value: endDate,
          minDate: today,
          dataQa: 'endDate',
          errorMessage: errors | findErrors(['endDate'])
      }) }}

        {{ govukInput({
					label: {
						text: "Number of sessions (optional)",
						classes: "govuk-label--s",
						isPageHeading: false
					},
					id: "totalSessions",
					name: "totalSessions",
					value: totalSessions,
          classes: "govuk-input--width-10",
          attributes: {
						'data-qa': 'totalSessions'
					},
					errorMessage: errors | findErrors(['totalSessions'])
				}) }}

        <div class="govuk-button-group">
          {{ govukButton({
              text: 'Continue',
              type: "submit",
              preventDoubleClick: true,
              classes: "govuk-button--submit govuk-!-margin-right-3",
              attributes: { "data-qa": "submit" }
              }) }}

          <a class="govuk-link" href=' {{ cancelHref }} ' data-qa='punishment-cancel'>Return to ‘Award punishments and add money for damages’</a>
        </div>
      </div>
    </form>
  </div>
{% endblock %}