{% extends "../partials/layout.njk" %}
{% from "../partials/breadCrumb.njk" import breadcrumb %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "moj/components/pagination/macro.njk" import mojPagination -%}
{% from "../macros/datePicker.njk" import datePicker %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set title = "Your completed reports" %}

{% block beforeContent %}
  {{ breadcrumb() }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">{{ title }}</h1>
  <p>
    <span class="govuk-!-margin-bottom-1 govuk-label--s">Location: </span>
    <span class="govuk-!-margin-bottom-1 govuk-label--xs">{{ user.activeCaseLoad.description }}</span>
  </p>

  <form method="POST" novalidate="novalidate" data-qa="your-completed-reports-form">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

    <div class="horizontal-form govuk-!-margin-bottom-3" id="staffFullName">
      {{ datePicker({
        id: 'fromDate[date]',
        label: 'Date from',
        name: 'fromDate[date]',
        attributes: {'data-disable-future-date':'true', 'data-qa': "from-date" },
        classes: 'govuk-input--width-10'
      }) }}
      {{ datePicker({
        id: 'toDate[date]',
        label: 'Date to',
        name: 'toDate[date]',
        attributes: {'data-disable-future-date':'true', 'data-qa': "to-date" },
        classes: 'govuk-input--width-10'
      }) }}
      {{ govukButton({
        text: "Apply",
        type: "submit",
        classes: "govuk-button--submit",
        attributes: { "data-qa": "filter-apply" }
      }) }}
      <a class='govuk-link' href='{{ adjudicationUrls.yourCompletedReports.urls.start() }}'
         data-qa='clear-filter'>Clear</a>
    </div>
  </form>



  {% set rows = [] %}

  {% for completedReport in yourCompletedReports.content %}
    {% set viewCompletedReportlLinkHtml %}
      <a href="{{ adjudicationUrls.prisonerReport.urls.report(completedReport.adjudicationNumber) }}" class="govuk-link" data-qa="start-report-link">View<span class="govuk-visually-hidden">the report for {{ completedReport.friendlyName }}</span></a>
    {% endset -%}
    {% set rows = (rows.push([
      { text: completedReport.displayName },
      { text: completedReport.prisonerNumber },
      { text: completedReport.formattedDateTimeOfIncident,
        attributes: {
        "data-sort-value": completedReport.dateTimeOfIncident
      }
      },
      { html: viewCompletedReportlLinkHtml }
    ]), rows) %}
  {% endfor %}

  {% if rows | length %}
    {{ mojPagination(pagination) }}
  <div class="results-table">

    {{ govukTable({
      head: [
        { html: 'Prisoner&#8217;s name' },
        { text: "Prison number" },
        { text: "Date and time of incident",
          attributes: {
          "aria-sort": "descending"
        }
        },
        { text: "" }
      ],
      rows: rows,
      attributes: { "data-qa": "prisoner-search-results-table", "data-module": "moj-sortable-table" }
    }) }}

  </div>
    {{ mojPagination(pagination) }}
  {% else %}
    <p class="govuk-!-padding-top-3" data-qa="no-results-message">You have not completed any reports.</p>
  {% endif %}

{% endblock %}
