{% extends "../partials/layout.njk" %}
{% from "../partials/breadCrumb.njk" import breadcrumb %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{%- from "moj/components/pagination/macro.njk" import mojPagination -%}
{% from "../macros/adjudicationFilter.njk" import adjudicationFilter %}

{% set title = "Your completed reports" %}

{% block beforeContent %}
  {{ breadcrumb() }}
{% endblock %}

{% block content %}
  {% if errors | length %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors,
      attributes: { "data-qa": "error-summary" }
      }) }}
  {% endif %}
  <h1 class="govuk-heading-l">{{ title }}</h1>
  {{ adjudicationFilter(filter, checkboxes, errors, adjudicationUrls.yourCompletedReports.urls.start(), csrfToken) }}
  {% set rows = [] %}

  {% for completedReport in yourCompletedReports.content %}
    {% set viewCompletedReportlLinkHtml %}
      <a href="{{ adjudicationUrls.prisonerReport.urls.report(completedReport.adjudicationNumber) }}" class="govuk-link" data-qa="start-report-link">View report<span class="govuk-visually-hidden">the report for {{ completedReport.friendlyName }}</span></a>
    {% endset -%}
    {% set rows = (rows.push([
      { text: completedReport.formattedDateTimeOfDiscovery,
        attributes: {
        "data-sort-value": completedReport.dateTimeOfDiscovery
      }
      },
      { text: completedReport.displayName + " - " + completedReport.prisonerNumber },
      { text: completedReport.statusDisplayName },
      { html: viewCompletedReportlLinkHtml }
    ]), rows) %}
  {% endfor %}

  {% if rows | length %}
    {{ mojPagination(pagination) }}
  <div class="results-table">

    {{ govukTable({
      head: [
        { text: "Discovery date and time",
          attributes: {
          "aria-sort": "descending"
        }
        },
        { text: 'Name and prison number' },
        { text: "Status" },
        { text: "" }
      ],
      rows: rows,
      attributes: { "data-qa": "complete-adjudications-results-table", "data-module": "moj-sortable-table" }
    }) }}

  </div>
    {{ mojPagination(pagination) }}
  {% else %}
    <p class="govuk-!-padding-top-3" data-qa="no-results-message">No completed reports.</p>
  {% endif %}

{% endblock %}
