{{ govukDetails({
    summaryText: "Help with ‘invalid added days’ reports",
    html: '<p class="govuk-body">An adjudication with the ‘invalid added days’ status has a punishment of added days but an outcome that is not correct.</p>
    <p class="govuk-body">For example, there’s an added days punishment, but the most recent hearing outcome is ‘Dismissed’.</p>
    <p class="govuk-body">Check the ‘Hearings and referrals’ page. You can remove outcomes and hearings that do not look right.</p>
    <p class="govuk-body">It’s important to check these reports. This is to make sure added days have only been given where they should have been.</p>
    <p class="govuk-body">For help with an invalid report, contact the IT helpdesk on 0800 917 5148 or #6598 from inside an establishment.</p>',
    attributes: {
      "data-qa": "guidanceContent"
    }
  }) }}